@import '../_helpers/query';
@import '../_helpers/fonts';
@import '../_helpers/colors';
@import '../_helpers/constants';
@import '../_helpers/mixins';

$text-padding: 2px;
$social-margin: 10px;

#page-footer {
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-flex-direction: column; //Old Safari
  flex-direction: column;
  -webkit-align-items: center; //Old Safari
  align-items: center;
  width: 100%;
  padding: 25px 0;
  background-color: $background;
  @include get-font(FOOTER);

  i {
    color: #fff;
    padding: 4px;
  }
}

#page-footer .footer-container {
  padding: 0 20px;

  @include media-query(THREE) {
    width: 3 * $column-width;
    margin: 0 auto;
    padding: 20px 0;
  }

  @include media-query(FOUR) {
    width: 4 * $column-width;
  }

  @include media-query(FIVE) {
    width: 5 * $column-width;
  }
}

#page-footer .footer-container-post {
  padding: 0 20px;

  @include media-query(THREE) {
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
  }

  @include media-query(FOUR) {
    width: 4 * $column-width;
    padding: 20px 0;
  }
}

#page-footer .footer-photo-caption-list {
  padding: 0 20px;

  @include media-query(THREE) {
    width: 3 * $column-width;
    padding: 20px 0;
    margin: 0 auto;
  }

  @include media-query(FOUR) {
    width: 4 * $column-width;
  }
}


#page-footer .footer-container-internal {
  padding: 0 20px;

  @include media-query(THREE) {
    width: 100%;
    max-width: (3 * $column-width) + (2 * $lateral-page-space-desktop);
    @include column-lateral-spacing($lateral-page-space-desktop);
  }
}

#page-footer .footer-header {
  margin-bottom: 10px;

  text-align: center;
  @include media-query(THREE) {
    text-align: inherit;
  }

  img {
    height: 35px;

    @include media-query(THREE) {
      height: 50px;
    }
  }
}

#page-footer .footer-items {
  @include media-query(THREE) {
    display: -webkit-flex; //Old Safari
    display: flex;
  }

  .footer-menu {
    display: none;

    @include media-query(THREE) {
      display: block;
      width: 180px;
    }

    li {
      padding: $text-padding;
    }
  }
}

#page-footer .footer-social-block {
  @include media-query(THREE) {
    margin-left: 100px;
  }

  p {
    display: none;

    @include media-query(THREE) {
      display: inline-block;
      margin-left: $social-margin;
      padding-top: $text-padding;
    }
  }

  .social-media-icons {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-justify-content: center; //Old Safari
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;

    img {
      height: 25px;
      margin: 0 $social-margin;

      @include media-query(THREE) {
        height: 20px;
      }
    }
  }
}

#page-footer .footer-cc-block {
  text-align: center;
  margin-top: 25px;

  @include media-query(THREE) {
    width: 50%;
    text-align: left;
    margin-left: 80px;
    margin-top: 0;
    max-width: (2 * $column-width) + (2 * $lateral-page-space-desktop);
  }
  @include media-query(THREE) {
    margin-left: 100px;
  }

  .cc-icon {
    height: 25px;
    @include media-query(THREE) {
      height: 20px;
    }
  }
  .cc-icon + .cc-icon {
    margin-left: 8px;
  }

  .cc-text {
    padding-top: 8px;
  }
}

.div-env-test {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 7%;
  background-color: rgba(0,0,0,0.75);
  z-index: 999;
  opacity: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.message-test {
  padding: 15px;
  text-align: center;
  color: #fcfcfc;
  font: 700 1rem Merriweather, "Times New Roman";
}
