@import '../_helpers/query';
@import '../_helpers/fonts';
@import '../_helpers/colors';
@import '../_helpers/constants';
@import '../_helpers/mixins';

$text-padding: 2px;
$social-margin: 10px;

#page-footer {
  @include get-font(FOOTER);
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-align-items: center; //Old Safari
  align-items: center;
  -webkit-flex-direction: column; //Old Safari
  flex-direction: column;
  width: 100%;
  padding: 25px 0;
  background-color: $background;

  i {
    padding: 4px;
    color: $social-media-icons-color;
  }
}

#page-footer .footer-container {
  padding: 0 20px;

  @include media-query(THREE) {
    width: 3 * $column-width;
    margin: 0 auto;
    padding: 20px 0;
  }

  @include media-query(FOUR) {
    width: 4 * $column-width;
  }

  @include media-query(FIVE) {
    width: 5 * $column-width;
  }
}

#page-footer .footer-container-post {
  padding: 0 20px;

  @include media-query(THREE) {
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
  }

  @include media-query(FOUR) {
    width: 4 * $column-width;
    padding: 20px 0;
  }
}

#page-footer .footer-photo-caption-list {
  padding: 0 20px;

  @include media-query(THREE) {
    width: 3 * $column-width;
    margin: 0 auto;
    padding: 20px 0;
  }

  @include media-query(FOUR) {
    width: 4 * $column-width;
  }
}


#page-footer .footer-container-internal {
  padding: 0 20px;

  @include media-query(THREE) {
    @include column-lateral-spacing($lateral-page-space-desktop);
    max-width: (3 * $column-width) + (2 * $lateral-page-space-desktop);
    width: 100%;
  }
}

#page-footer .footer-header {
  margin-bottom: 10px;
  text-align: center;

  @include media-query(THREE) {
    text-align: inherit;
  }

  img {
    height: 35px;

    @include media-query(THREE) {
      height: 50px;
    }
  }
}

#page-footer .footer-items {
  @include media-query(THREE) {
    display: -webkit-flex; //Old Safari
    display: flex;
  }

  .footer-menu {
    display: none;

    @include media-query(THREE) {
      display: block;
      width: 180px;
    }

    li {
      padding: $text-padding;
    }
  }
}

#page-footer .footer-social-block {
  @include media-query(THREE) {
    margin-left: 100px;
  }

  p {
    display: none;

    @include media-query(THREE) {
      display: inline-block;
      margin-left: $social-margin;
      padding-top: $text-padding;
    }
  }

  .social-media-icons {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-justify-content: center; //Old Safari
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;

    img {
      height: 25px;
      margin: 0 $social-margin;

      @include media-query(THREE) {
        height: 20px;
      }
    }
  }
}

#page-footer .footer-cc-block {
  margin-top: 25px;
  text-align: center;

  @include media-query(THREE) {
    max-width: (2 * $column-width) + (2 * $lateral-page-space-desktop);
    width: 50%;
    margin-left: 80px;
    margin-top: 0;
    text-align: left;
  }

  @include media-query(THREE) {
    margin-left: 100px;
  }

  .cc-icon {
    height: 25px;

    @include media-query(THREE) {
      height: 20px;
    }
  }

  .cc-icon + .cc-icon {
    margin-left: 8px;
  }

  .cc-text {
    padding-top: 8px;
  }
}

.div-env-test {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 7%;
  width: 100%;
  background-color: $test-background;
  opacity: 1;
}

.message-test {
  padding: 15px;
  text-align: center;
}
