@import '_helpers/colors';
@import '_helpers/query';
@import '_helpers/constants';
@import '_helpers/mixins';

$lateral-margin: 10px;
$image-height: 1.6rem;
$logo-small-height: 2.5rem;
$logo-big-height: 5.2rem;

#page-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: $background;
}

#page-header .banner-header {
  height: $HEADER-HEIGHT-CONTRACTED;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-query(FOUR) {
    height: $HEADER-HEIGHT-DESKTOP;
    border-bottom: 2px solid $menu-divisor;
  }
}

.menu-options{
  @include transition-left();
}

#page-header .banner-logo {
  display: flex;
  height: $logo-small-height;
  width: 210px;
  background: $background url("/img/logo.svg") no-repeat center;

  @include media-query(FOUR){
    height: $logo-big-height;
    width: 450px;
    background: $background url("/img/logo-tagline.svg") no-repeat center;
  }
}

#hamburguer {
  position: absolute;
  left: 3px;
  top: 13px;
  height: $image-height;
  margin-top: 5px;
  margin-left: $lateral-margin;

  @include media-query(FOUR){
    display: none;
  }
}

#page-header .contracted {
  @include media-query(FOUR) {
    height: $HEADER-HEIGHT-CONTRACTED;
    display:flex;

    .banner-logo{
      background: $background url("/img/logo.svg") no-repeat center;
      height: $logo-small-height;
      width: 210px;
    }

    #header-icons {
      display: none;
    }
  }
}

#page-header #header-icons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30%;

  @include media-query(FOUR) {
    width: 230px;
    justify-content: flex-end;
  }

  .social-media-icons {
    display: none;

    @include media-query(FOUR) {
      display: flex;
      align-items: center;

      img {
        height: $image-height;
        margin-right: $lateral-margin;
      }
    }
  }

  .social-media-icons.contracted {
    display: none;
  }
}
