@import '../_helpers/colors';
@import '../_helpers/query';
@import '../_helpers/constants';
@import '../_helpers/mixins';

$image-height: 1.6rem;
$lateral-margin: 10px;
$logo-small-height: 2.5rem;
$logo-big-height: 5.2rem;

#page-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: $background;
}

#page-header .banner-header {
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-align-items: center; //Old Safari
  align-items: center;
  -webkit-justify-content: center; //Old Safari
  justify-content: center;
  height: $header-height-contracted;

  @include media-query(FOUR) {
    height: $header-height-desktop;
    border-bottom: 2px solid $menu-divisor-desktop;
  }
}

#page-header .banner-special {
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-align-items: center; //Old Safari
  align-items: center;
  -webkit-justify-content: center; //Old Safari
  justify-content: center;
  height: $header-height-contracted;
}

.menu-options {
  @include transition-left;
}

#page-header .banner-logo {
  height: $logo-small-height;
  width: 210px;
  margin-bottom: 3px;

}

#page-header .banner-logo-default {
  background: $background url('/img/logo.svg') no-repeat center center;

  @include media-query(FOUR) {
    height: $logo-big-height;
    width: 450px;
    background: $background url('/img/logo-tagline.svg') no-repeat center center;
  }
}


#page-header .banner-logo-radio {
  background: $background url('/img/logo.svg') no-repeat center center;

  @include media-query(FOUR) {
    height: $logo-big-height;
    width: 450px;
    background: $background url('/img/logo-tagline.svg') no-repeat center center;
  }
}


#hamburguer {
  position: absolute;
  left: 3px;
  top: 15px;
  height: $image-height;
  margin-left: $lateral-margin;
  margin-top: 5px;

  @include media-query(FOUR) {
    display: none;
  }
}

.always-contracted #hamburguer {
  display: block;
}

#page-header .contracted,
#page-header .always-contracted {
  @include media-query(FOUR) {
    height: $header-height-contracted;
    margin-bottom: 3px;

    .banner-logo {
      background: $background url('/img/logo.svg') no-repeat center center;
      height: $logo-small-height;
      width: 210px;
    }

    #header-elements {
      display: none;
    }
  }
}

#page-header #header-elements {
  position: absolute;
  right: 10%;
  top: 24%;
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-flex-direction: column;  //Old Safari
  flex-direction: column;

  @include media-query (FIVE) {
    top: 30%;
  }
}

#page-header #header-icons {
  display: -webkit-flex; //Old Safari
  display: flex;

  .social-media-icons {
    display: none;

    i {
      padding: 4px;
      color: $social-media-icons-color;
    }

    @include media-query(FOUR) {
      display: -webkit-flex; //Old Safari
      display: flex;

      img {
        height: $image-height;
      }
    }
  }

  .social-media-icons.contracted {
    display: none;
  }
}

#page-header #language-nav {
  @include get-font(LANGUAGE_NAV);
  display: none;

  @include media-query(FOUR){
    display: block;
  }
}
