@import '../_helpers/query';
@import '../_helpers/colors';
@import '../_helpers/fonts';

$item-padding: 5px 18px;

#menu-desktop {
  display: none;
  height: 80px;

  @include media-query(FIVE) {
    display: -webkit-flex; //Old Safari
    display: flex;
    height: 40px;
  }
}

#two-lines-menu {
  display: none;

  @include media-query(FOUR) {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-flex-direction: column; //Old Safari
    flex-direction: column;
    -webkit-justify-content: center; //Old Safari
    justify-content: center;
    height: 80px;
  }

  @include media-query(FIVE) {
    display: none;
  }
}

.full-menu-list {
  @include get-font(MENU_DESKTOP);
  height: 80px;
  width: 3 * $column-width;
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-align-items: center; //Old Safari
  align-items: center;
  -webkit-justify-content: center; //Old Safari
  justify-content: center;

  @include media-query(FOUR) {
    height: 40px;
    width: 100%;
  }

  li {
    padding: $item-padding;
    white-space: nowrap;

    @include media-query(FIVE) {
      padding: $item-padding;
    }
  }

  li:hover {
    padding: $item-padding;
    background-color: $menu-over;
  }

  li + li {
    border-left: 2px solid $menu-divisor-desktop;
  }
}

#menu-first-line {
  border-bottom: 2px solid $menu-divisor-desktop;
}
