@import '../_helpers/mixins';
@import '../_helpers/query';
@import '../_helpers/colors';
@import '../_helpers/fonts';

#menu-mobile {
  @include transition-left;
  @include get-font(MENU_MOBILE);
  position: fixed;
  left: -270px;
  top: 5px;
  z-index: 101;
  height: 100vh;
  width: 260px;
  background-color: $menu-over;
  box-sizing: border-box;
  box-shadow: 0 0 19px 6px $menu-shadow-color;

  &.open {
    left: 0;
  }

  i {
    padding: 4px;
    font-size: 1.5rem;
    color: $social-media-icons-color;
  }
}

#menu-mobile .menu-header {
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-align-items: center; //Old Safari
  align-items: center;
  -webkit-justify-content: space-between; //Old Safari
  justify-content: space-between;
  height: 60px;
  padding: 10px 20px 0;

  #close-button {
    height: 20px;
  }

  #logo-menu-mobile {
    height: 35px;
  }
}

#menu-mobile .menu-scrollable {
  height: 80%;
  padding: 10px;
  overflow-y: auto;
}

#menu-mobile .language-nav {
  @include get-font(LANGUAGE_NAV);

  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-justify-content: center; //Old Safari
  justify-content: center;

  .language-nav-divisor {
    margin-right: 3px;
    margin-left: 3px;
  }
}

#menu-mobile .social-media-icons {
  height: 55px;
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-align-items: center; //Old Safari
  align-items: center;
  -webkit-justify-content: center; //Old Safari
  justify-content: center;

  img {
    height: 1.6em;
    margin: 0 15px;
  }
}

#menu-mobile ul > li {
  position: relative;
  border-top: 2px solid $menu-divisor-mobile;

  &:last-of-type {
    border-bottom: 2px solid $menu-divisor-mobile;
  }

  a {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-justify-content: center; //Old Safari
    justify-content: center;
    padding: 10px 8px;
  }
}
