@import '../_helpers/mixins';
@import '../_helpers/query';
@import '../_helpers/colors';
@import '../_helpers/fonts';

#menu-mobile{
  top: 5px;
  left: -270px;
  width: 260px;
  height: 100vh;
  @include get-font(MENU_MOBILE);
  box-sizing: border-box;
  background-color: $menu-over;
  box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.42);
  position: fixed;
  @include transition-left();
  z-index: 101;

  &.open {
    left: 0;
  }

  @include media-query(FOUR) {
    display: none;
  }
}

#menu-mobile .menu-header {
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-justify-content: space-between; //Old Safari
  justify-content: space-between;
  -webkit-align-items: center; //Old Safari
  align-items: center;
  height: 60px;
  padding: 10px 20px 0 20px;

  #close-button {
    height: 20px;
  }

  #logo-menu-mobile {
    height: 35px;
  }
}

#menu-mobile .menu-scrollable {
  overflow-y: auto;
  height: 80%;
  padding: 10px;
}

#menu-mobile .social-media-icons {
  height: 55px;
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-justify-content: center; //Old Safari
  justify-content: center;
  -webkit-align-items: center; //Old Safari
  align-items: center;

  img {
    height: 1.6em;
    margin: 0 15px;
  }
}

#menu-mobile ul > li{
  position: relative;
  border-top: 2px solid $menu-divisor-mobile;

  &:last-of-type {
    border-bottom: 2px solid $menu-divisor-mobile;
  }

  a {
    padding: 10px 8px;
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-justify-content: center; //Old Safari
    justify-content: center;  
  }
}
