@import '_helpers/query';

#ad {
  display: none;

  @include media-query(THREE)
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-justify-content: center; //Old Safari
    justify-content: center;
    padding: 0 10px 10px 10px;
  }
}
