@import '_helpers/colors';
@import '_helpers/query';
@import '_helpers/constants';
@import '_helpers/mixins';

#search-tool {
  display: none;
  width: 100%;
  position: fixed;
  top: $HEADER-HEIGHT-CONTRACTED;
  right: 0;
  padding: 0 $VERTICAL-SPACE;
  background-color: $background;
  @include get-font(SEARCH);

  @include media-query(FOUR){
    position: absolute;
    width: 220px;
    right: -40px;
    top: 33px;
    padding: 0;
  }

  &.open {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  #close-search-button {
    height: 15px;
    margin-bottom: 5px;

    @include media-query(FOUR){
      height: 13px;
    }
  }


// SEARCH BOX
  // Sets search box size
  #___gcse_0 {
    width: 100%;
    padding-right: 10px;
    @include media-query(FOUR){
      width: 200px;
    }
  }

  // Hides search button from search box
  .gsc-search-button {
      display: none;
  }

  // Sets to zero search box padding
  .gsc-search-box {
      padding: 0;
  }

  // Hides search box border created by Googl
   .gsc-control-cse-pt_PT {
     padding: 0;
     width: 100%;
     border: 0;
     background-color: transparent;
   }

   // Sets config from search box white space
   .gsc-input {
     height: 27px;
     width: 100%;
     padding: 0;
     border-radius: 13px;
     border-color: $content-divisor;

     @include media-query(FOUR){
       border-color: white;
     }
   }

   // Sets space to fill search box
   #gsc-i-id1 {
     padding: 0 10px;
   }

   // Hides clear button
   .gsc-clear-button {
     display: none;
   }

// SEARCH RESULTS
   // Adjusts results search to be responsive
   .gsc-results-wrapper-overlay {
    width: 96%;
    height: 96%;
    top: 2%;
    left: 2%;
    padding: 25px 10px;

    @include media-query(FOUR){
       width: 76%;
       height: 86%;
       top: 7%;
       left: 12%;
       padding: 30px;
    }
   }

  // Add a border between individual search results
  .gs-webResult {
      border: 1px solid #eee;
      padding: 1em;
  }

  // Hide URL of search results
  .gsc-url-bottom {
    display: none;
  }

  // Highlight the pagination buttons at the bottom of search results
  .gsc-cursor-page {
      margin-top: 30px;
      font-size: 1.2em;
      padding: 4px 8px;
      border: 2px solid #ccc;
  }

  // Adds space between image and search results
  .gsc-table-cell-snippet-close {
    padding-left: 20px;
  }

  // Hides google brand
  .gcsc-branding {
    display: none;
  }

  // Sets cursor box config
  .gsc-cursor-box {
    border-top: 0;
  }

  // Makes search result cursor wrapped
  .gsc-cursor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  // Hides thumbnail image for mobile layout
  .gsc-thumbnail {
    display: none;

    @include media-query(FOUR){
      display: block;
    }
  }

  // Removes underline from cursor
  .gsc-cursor-page {
    text-decoration: none;
  }

  // Sets background color of current page cursor
  .gsc-cursor-current-page {
    background-color: $red-dark;
  }
}
