doctype html
block vars
  - var bodyclass = null;
html(lang='pt-BR')
  head
    include _partial/head
  body(class=bodyclass)
    header#page-header
      .banner
        a(href="#{ url_for('index.html') }", title="Link para a página principal")
          img(src="//farm1.staticflickr.com/769/20854928129_d843611317_b.jpg", alt="imagem banner")
      .menu-options(data-toggle="nav.menu")
        i.fa.fa-bars
      nav.menu
        ul
          li
            a(href="#")= "Menu"

      block header
    main#content
      block content
    block after-content
    footer#page-footer
      include _partial/footer
  include _partial/after_footer
