doctype html
html(lang='pt-BR')
  head
    include _partial/social_url_vars
    include _partial/head
    include _partial/open_graph
    include _partial/analytics
    include _partial/adsense
  body(itemscope itemtype="http://schema.org/WebPage")
    include _partial/tagmanager
    include _partial/menu_mobile
    block header
      include _partial/header
    block content
    block footer
      include _partial/internal_footer
    include _partial/after_footer
