doctype html
html(lang='pt-BR')
  head
    include _partial/head
    include _partial/open_graph
    include _partial/analytics
  body(itemscope itemtype="http://schema.org/WebPage")
    h1.offscreen Brasil de Fato
    p.offscreen Uma Visão Popular do Brasil e do Mundo
    include _partial/tagmanager
    include _partial/menu_mobile
    include _partial/header
    main
      block content
    block footer
      != partial('_partial/footer', {'containerClass': 'footer-container-internal'})
    include _partial/after_footer
