doctype html
block vars
  - var bodyclass = null;
html(lang='pt-BR')
  head
    include _partial/head
    include _partial/open_graph
    include _partial/analytics
  body(class=bodyclass itemscope itemtype="http://schema.org/WebPage")
    h1.outline Brasil de Fato
    p.acessibility-hidden Uma Visão Popular do Brasil e do Mundo
    include _partial/menu_mobile
    include _partial/header
    main#content
      block content 
    include _partial/footer
    include _partial/after_footer
