extends base

append content
  include _partial/columns/social_network

append content
  include _partial/columns/breadcrumb

append content
  article#column(itemscope, itemtype="NewsArticle")
    header
      span.hat Colunista
      section.person(itemscope, itemtype="http://schema.org/Person")
        img.profile-image(itemprop="image", alt="Imagem de perfil do Colunista", src="//lorempixel.com/200/200/people/3/" )
        h1.name(itemprop="name")="Bruna Silveira"
        h2.job-title(itemprop="jobTitle")="Integrante da rede de médicos e médicas populares"
    h1.title(itemprop="about")= page.title
    section.content
      p.description(itemprop="description")= page.description
      != page.content

append content
  include _partial/columns/other_columns
  include _partial/columns/last_articles
  include _partial/columns/last_news

append after-content
  include _partial/columns/newsletter
