extends base

block content
  section#home
    h1 Notícias
    section.new
      figure
        a(href="//localhost:4000/2015/08/24/conservadorismo-faz-plano-municipal-de-educacao-recuar-no-respeito-as-diferencas/", title="Link para a notícia")
          img(alt="Imagem Capa", src="http://farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg")
        figcaption= "Foto: Reprodução"
      a(href="//localhost:4000/2015/08/24/conservadorismo-faz-plano-municipal-de-educacao-recuar-no-respeito-as-diferencas/", title="Link para a notícia")
        h2.title Conservadorismo faz Plano Municipal de Educação recuar no respeito às diferenças
      p.description Projeto de Lei contraria reivindicações da sociedade civil e deve ser aprovado ignorando medidas de combate à discriminação e desigualdade de gênero
    section.new
      figure
        a(href="//localhost:4000/2015/08/24/conservadorismo-faz-plano-municipal-de-educacao-recuar-no-respeito-as-diferencas/", title="Link para a notícia")
          img(alt="Imagem Capa", src="http://farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg")
        figcaption= "Foto: Reprodução"
      a(href="//localhost:4000/2015/08/24/conservadorismo-faz-plano-municipal-de-educacao-recuar-no-respeito-as-diferencas/", title="Link para a notícia")
        h2.title Conservadorismo faz Plano Municipal de Educação recuar no respeito às diferenças
      p.description Lei contraria reivindicações da sociedade civil e deve ser aprovado ignorando medidas de combate à discriminação e desigualdade de gênero
