extends base

block open_graph
  meta(property="og:title" content="#{page.area.toUpperCase()} | #{config.title}")
  meta(property="og:description" content=config.description)
  meta(property="og:image" content="#{config.url}/img/share-logo.png")

append content
  section#news-list(itemscope itemtype="http://schema.org/ItemList")
    - var area_name = page.area
    - var news = page.news
    include _partial/list
