extends base

append content
  include _partial/opinion/social_network

append content
  include _partial/opinion/breadcrumb

append content
  article#opinion(itemscope, itemtype="NewsArticle")
    header
      span.hat Colunista
      section.person(itemscope, itemtype="http://schema.org/Person")
        img.profile-image(itemprop="image", alt="Imagem de perfil do Colunista", src="//lorempixel.com/200/200/people/3/" )
        h1.name(itemprop="name")="Bruna Silveira"
        h2.job-title(itemprop="jobTitle")="Integrante da rede de médicos e médicas populares"
    h1.title(itemprop="about")= page.title
    p.description(itemprop="description")= page.description
    section.content
      != page.content

append content
  include _partial/opinion/other_opinions
  include _partial/opinion/last_articles
  include _partial/opinion/last_news

append after-content
  include _partial/opinion/newsletter
