extends base

block title
  title #{titlecase(page.area)} #{config.separator} #{config.title}
  
block canonical
  link(href="https://www.brasildefato.com.br/#{page.area}/" rel="canonical")
  
block keywords
  meta(name="keywords" content="sátira, caricatura, cartoon, ilustração, política, economia, direitos humanos, cotidiano, crítica, ironia, irreverência")
