@import '_includes/query';

@mixin __nacional(){
  h1, h2, span, p {
    font-family: 'Merriweather Sans', serif;
  }

  .title, .column > .name {
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    line-height: 1.2em;
  }

  .section-name, .hat {
    font-size: 1.1em;
    font-weight: 900;
  }

  .description, .column > .title, .opinion > date {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Merriweather Sans', serif;
    line-height: 1.2em;
  }

  figcaption .small {
    font-size: 1.2em;
    line-height: 1.2em;
  }

  figcaption .title {
    font-size: 1.7em;
    line-height: 1.2em;
  }

  figcaption .credits {
    font-size: 0.8em;
    font-weight: 400;
  }

  .most-read li:before {
    font-family: 'Merriweather Sans', serif;
    font-weight: bold;
    font-size: 1.5em;
  }

  .last-news a {
    font-size: 0.9em;
    font-weight: 500;
  }
}

@mixin __expedient(){
  .page-name {
    font-size: 1.1em;
    font-weight: 900;
    font-family: 'Merriweather Sans';
    text-transform: uppercase;
  }

  .title {
    font-family: 'Merriweather Sans';
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
  }
}

@mixin __hat(){
  font-family: 'Merriweather Sans', serif;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 900;
  color: $page-title;
}

@mixin __post(){
  .author {
    font-family: 'Merriweather Sans';
    font-weight: lighter;
    font-size: 1.2em;
    color: $page-title;

    @include media-query(THREE){
      font-size: 1.3em;
    }
  }

  .description {
    font-size: 1.2em;
    font-weight: lighter;
    font-family: 'Merriweather Sans';
    line-height: 1.2em;
    color: $black-light;

    @include media-query(THREE){
      font-size: 1.3em;
    }
  }

  .place {
    font-size: 1em;
  }
}

@mixin __last_news(){
  & > h1 {
    font-size: 1.3em;
    font-weight: bold;
  }

  .hat {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
  }

  .title {
    font-size: 1em;
    font-weight: bold;
  }

  .description {
    font-size: 0.9em;
    line-height: 1.2em;
    font-weight: 400;
  }
}

@mixin __person(){
  @include __name();

  .job-title {
    font-size: 0.9em;
    font-weight: bold;

    @include media-query(MEDIUM) {
      font-size: 1em;
    }
  }
}

@mixin __name() {
  .name, .name_mobile {
    color: $bdf-red;
    font-family: 'Merriweather Sans', serif;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.2;
  }
}

@mixin __news_list(){
  .page-name {
    font-size: 1.1em;
    font-weight: 900;
    font-family: 'Merriweather Sans';
    text-transform: uppercase;
  }

  .title{
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.3em;

    @include media-query(TWO) {
      font-size: 1.3em;
    }
  }

  .description {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
    font-family: 'Merriweather Sans';
  }

  .date {
    font-size: 0.9em;
    font-family: 'Merriweather Sans';
  }
}

@mixin __columnists(){
  @include get-font(NAME);

  .page-name {
    font-size: 1.1em;
    font-weight: 900;
    font-family: 'Merriweather Sans';
    text-transform: uppercase;
  }

  .title {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2em;
    font-family: 'Merriweather', serif;

    @include media-query (TWO) {
      font-size: 1.3em;
    }
  }

  .description {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
    font-family: 'Merriweather Sans';
  }

  .date {
    font-family: 'Merriweather Sans', serif;
    font-size: 0.9em;
    color: $link-hover;
  }
}

@mixin __title(){
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2em;

  @include media-query(TWO){
    font-size: 2em;
  }
}

@mixin __content(){
  font-family: 'Merriweather', serif;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: left;
  color: $text-column;

  @include media-query(TWO){
    font-size: 1.2em;
  }

  a {
    color: $bdf-red;
    font-weight: bold;
    text-decoration: underline;
  }
}

@mixin __last_articles(){
  & > h1 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .title {
    font-size: 1em;
    font-weight: bold;
  }
}

@mixin __other_opinions(){
  & > h1 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .name {
    font-size: 1em;
  }
}

@mixin __columnist(){
  .hat{
    font-size: 1.2em;
    font-weight: bold;
  }
}

@mixin __footer(){
  font-family: 'Merriweather Sans', serif;
  font-size: 1em;

  a {
    font-family: 'Merriweather Sans', serif;
    font-size: 1em;
  }
}

@mixin __page_blockquotes(){
  blockquote {
    font-style: italic;
    font-weight: bold;
    font-size: 1.35rem;
    line-height: 1.5em;
  }
  blockquote:before {
    color: $bdf-red;
    font-size: 3.5em;
    line-height: 0.1em;
  }

  blockquote:after {
    color: $bdf-red;
    font-size: 3.5em;
    line-height: 0.1em;
  }
}

@mixin __menu(){
  a {
    font-family: 'Merriweather', serif;
    font-size: 1em;

    @include media-query(THREE) {
      font-family: 'Merriweather', serif;
      font-size: 1em;
      font-weight: bold;
    }
  }
}

@mixin get-font($type){

  @if( $type == POST ){
    @include __post();
  }
  @else if( $type == LAST_NEWS ){
    @include __last_news();
  }
  @else if( $type == NEWS_LIST ){
    @include __news_list();
  }
  @else if( $type == PERSON ){
    @include __person();
  }
  @else if( $type == LAST_ARTICLES ){
    @include __last_articles();
  }
  @else if( $type == OTHER_OPINIONS ){
    @include __other_opinions();
  }
  @else if( $type == COLUMNIST ){
    @include __columnist();
  }
  @else if( $type == NACIONAL ){
    @include __nacional();
  }
  @else if( $type == FOOTER ){
    @include __footer();
  }
  @else if( $type == MENU ){
    @include __menu();
  }
  @else if( $type == COLUMNISTS ){
    @include __columnists();
  }
  @else if( $type == NAME ){
    @include __name();
  }
  @else if( $type == HAT ){
    @include __hat();
  }
  @else if( $type == TITLE ){
    @include __title();
  }
  @else if( $type == CONTENT ){
    @include __content();
  }
  @else if( $type == PAGE_BLOCKQUOTES ){
    @include __page_blockquotes();
  }
  @else if( $type == EXPEDIENT ){
    @include __expedient();
  }
}
