@import '_includes/query';

@mixin __nacional(){
  h1, h2, span, p {
    font-family: 'Merriweather Sans', serif;
  }

  .title, .column > .name {
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    line-height: 1.2em;
  }

  .section-name, .hat {
    font-size: 1.1em;
    font-weight: 900;
  }

  .description, .column > .title, .opinion > date {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Merriweather Sans', serif;
    line-height: 1.2em;
  }

  figcaption .small {
    font-size: 1.2em;
  }

  figcaption .title {
    font-size: 1.7em;
  }

  figcaption .credits {
    font-size: 0.8em;
    font-weight: 400;
  }

  .most-read li:before {
    font-family: 'Merriweather Sans', serif;
    font-weight: bold;
    font-size: 1.5em;
  }

  .last-news a {
    font-size: 0.9em;
    font-weight: 500;
  }
}

@mixin __hat(){
  font-family: 'Merriweather Sans', serif;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 900;
  color: $link-visited;
}

@mixin __post(){
  .title {
    font-size: 2em;
    font-weight: bold;
  }

  .content p {
    font-size: 1.1em;
  }

  .description {
    font-size: 1.3em;
    font-weight: lighter;
  }
}

@mixin __last_news(){
  & > h1 {
    font-size: 1.3em;
    font-weight: bold;
  }

  .hat {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
  }

  .title {
    font-size: 1em;
    font-weight: bold;
  }

  .description {
    font-size: 0.9em;
    line-height: 1.2em;
    font-weight: 400;
  }
}

@mixin __person(){
  @include __name();

  .job-title {
    font-size: 0.9em;
    font-weight: bold;

    @include media-query(MEDIUM) {
      font-size: 1em;
    }
  }
}

@mixin __name() {
  .name, .name_mobile {
    color: $bdf-red;
    font-family: 'Merriweather Sans', serif;
    font-weight: 600;
    font-size: 1.2em;

  }
}

@mixin __news_list(){
  .page-name {
    font-size: 1.1em;
    font-weight: 900;
    font-family: 'Merriweather Sans';
    text-transform: uppercase;
  }

  .title{
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2em;
    @include media-query(TWO) {
      font-size: 1.3em;
    }
  }

  .description {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
    font-family: 'Merriweather Sans';
  }

  .date {
    font-size: 0.9em;
    font-family: 'Merriweather Sans';
  }
}

@mixin __columnists(){
  .page-name {
    font-size: 1.1em;
    font-weight: 900;
    font-family: 'Merriweather Sans';
    text-transform: uppercase;
  }

  .title {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2em;
    font-family: 'Merriweather', serif;

    @include media-query (TWO) {
      font-size: 1.3em;
    }
  }

  .name {
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Merriweather Sans';
    line-height: 1.1em;
  }

  .description {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
    font-family: 'Merriweather Sans';
  }

  .date {
    font-family: 'Merriweather Sans', serif;
    font-size: 0.9em;
    color: $link-hover;
  }
}

@mixin __title(){
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2em;

  @include media-query(TWO){
    font-size: 2em;
  }
}

@mixin __column(){
  .content {
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: left;
    color: $text-column;

    @include media-query(TWO){
      font-size: 1.2em;
    }
  }

  .description {
    font-size: 1.1em;
    line-height: 1.4em;
    font-style: italic;
    font-weight: bold;

    &::after, &::before{
      color: $bdf-red;
      font-size: 1.4em;
      line-height: 0;
    }

    @include media-query(THREE) {
      font-size: 1.1em;
      font-weight: bold;

      &::after, &::before{
        font-size: 3em;
        line-height: 0;
      }
    }
  }
}

@mixin __last_articles(){
  & > h1 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .title {
    font-size: 1em;
    font-weight: bold;
  }
}

@mixin __other_opinions(){
  & > h1 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .name {
    font-size: 1em;
  }
}

@mixin __columnist(){
  .hat{
    font-size: 1.2em;
    font-weight: bold;
  }
}

@mixin __footer(){
  font-family: 'Merriweather Sans', serif;
  font-size: 1em;

  a {
    font-family: 'Merriweather Sans', serif;
    font-size: 1em;
  }
}

@mixin __menu(){
  a {
    font-family: 'Merriweather', serif;
    font-size: 1em;

    @include media-query(THREE) {
      font-family: 'Merriweather', serif;
      font-size: 1em;
      font-weight: bold;
    }
  }
}

@mixin get-font($type){

  @if( $type == POST ){
    @include __post();
  }
  @else if( $type == LAST_NEWS ){
    @include __last_news();
  }
  @else if( $type == NEWS_LIST ){
    @include __news_list();
  }
  @else if( $type == PERSON ){
    @include __person();
  }
  @else if( $type == COLUMN ){
    @include __column();
  }
  @else if( $type == LAST_ARTICLES ){
    @include __last_articles();
  }
  @else if( $type == OTHER_OPINIONS ){
    @include __other_opinions();
  }
  @else if( $type == COLUMNIST ){
    @include __columnist();
  }
  @else if( $type == NACIONAL ){
    @include __nacional();
  }
  @else if( $type == FOOTER ){
    @include __footer();
  }
  @else if( $type == MENU ){
    @include __menu();
  }
  @else if( $type == COLUMNISTS ){
    @include __columnists();
  }
  @else if( $type == NAME ){
    @include __name();
  }
  @else if( $type == HAT ){
    @include __hat();
  }
  @else if( $type == TITLE ){
    @include __title();
  }
}
