@import 'query';
@import 'variables';

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin get-font-size($size) {
  font-size: $size + em;

  @include media-query(MEDIUM) {
    font-size: ( $size + 0.4 ) + em;
  }
}


@mixin person(){
  width: 100%;
  padding: 10px 0;
  .profile-image {
    width: 150px;
    float: left;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(30, 30, 30, 0.1), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }

  .name, .job-title{
    margin: 0;
    padding-left: 15px;
    float: left;
    width: 50%;
  }

  .name {
    font-weight: 700;
    word-spacing: 9999999px;
    line-height: 1.2;
    @include get-font-size(1.6);
    margin-bottom: 10px;
    color: $black-light;

  }

  .job-title {
    font-weight: 400;
    line-height: 1.6;
    color: $black-dark;
    font-style: italic;
    font-size: ( $size + 0.3 ) + em;
  }
}

@mixin list-news-on-mobile(){
  padding: 10px 15px;
  a {
    text-decoration: none;
    width: 50%;
  }

  h1{
    font-weight: bold;
    font-size: 1em;
    color: $bdf-red;
    border-bottom: 2px solid #992727;
    padding-bottom: 7px;
  }

  .news {
    display: flex;
    justify-content: center;
    align-items: center;

    .hat {
      font-size: 1em;
      color: $bdf-red;
      padding-left: 10px;
    }

    .description {
      padding-left: 10px;
      font-weight: 400;
      font-size: 1em;
      line-height: 1.2em;
      color: $black;
      margin-top: 5px;

      .tag {
        font-size: 0.7em;
        font-weight: bold;
        background-color: lighten($gray, 40%);
        color: $black-dark;
        padding: 5px;
        letter-spacing: 1px;
      }
    }

    img {
      width: 100%;
      border-radius: 5px;
    }

    & + .news {
      margin-top: 25px;
      padding-top: 25px;

      border-top-color: $red;
      border-top-width: 1px;
      border-top-style: dashed;
    }
  }
}


@mixin transform($that) {
  -webkit-transform: $that;
  -moz-transform: $that;
  -ms-transform: $that;
  -o-transform: $that;
  transform: $that;
}
