@import 'fonts';
@import 'query';
@import 'colors';

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/


@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin columnist-hat(){
  padding-bottom: 8px;
  border-bottom: 3px solid $bdf-red;
  width: 100%;
  display: block;
}

@mixin person(){
  @include get-font(PERSON);
  width: 100%;
  padding: 10px 0;
  .profile-image {
    width: 100px;
    float: left;
    border-radius: 50%;

    @include media-query(MEDIUM) {
      width: 150px;
    }
  }

  .name, .job-title{
    margin: 0;
    padding-left: 15px;
    float: left;
    width: 50%;
    min-width: 200px;
  }

  & > .name {
    color: $black-light;
  }

  a > .name {
    color: $bdf-red;
  }

  .name {
    margin-bottom: 10px;
  }

  .job-title {
    color: $black-dark;
  }
}

@mixin list-news-on-mobile(){
  padding: 10px 15px;
  a {
    text-decoration: none;
  }

  h1{
    font-weight: bold;
    font-size: 1em;
    color: $bdf-red;
    border-bottom: 2px solid #992727;
    padding-bottom: 7px;
  }

  .news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .hat {
      font-size: 1em;
      color: $bdf-red;
      padding-left: 10px;
    }

    .description, .title {
      color: $black;
      margin-top: 5px;
    }

    img {
      width: 100%;
      border-radius: 5px;
    }

    & + .news {
      margin-top: 25px;
      padding-top: 25px;

      border-top-color: $red;
      border-top-width: 1px;
      border-top-style: dashed;
    }
  }
}

@mixin background-cover-rounded($width, $height) {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  width: $width;
  height: $height;
}

@mixin transform($that) {
  -webkit-transform: $that;
  -moz-transform: $that;
  -ms-transform: $that;
  -o-transform: $that;
  transform: $that;
}
