$small_screen:     320px;
$medium_screen:     768px;
$large_screen:     1170px;
$four_columns: 920px;
$five_columns: 1150px;


@mixin media-query($canvas) {
  @if $canvas == SMALL {
   @media only screen and (min-width: $small_screen) { @content; }
  }
  @else if $canvas == MEDIUM {
   @media only screen and (min-width: $medium_screen) { @content; }
  }
  @else if $canvas == LARGE {
   @media only screen and (min-width: $large_screen) { @content; }
  }
  @else if $canvas == FOUR {
   @media only screen and (min-width: $four_columns) { @content; }
  }
  @else if $canvas == FIVE {
   @media only screen and (min-width: $five_columns) { @content; }
  }
}


