//Color variables to use only in this file to make it easier maintainence
$neutral-base: black;

$red-base: rgba(140,25,31,1);
$red-light: rgba(177,32,40,1);
$red-dark: rgba(110, 16, 16, 1);
$red-pinker: rgba(195, 59, 83, 1);

//Color Variables to use externally
$background: $red-base;
$menu-over: $red-light;
$menu-divisor-desktop: $red-dark;
$menu-divisor-mobile: $red-base;

$text-color: lighten($neutral-base, 25%);
$title-color: lighten($neutral-base, 10%);
$page-title-color: lighten($neutral-base, 30%);
$details-color: lighten($neutral-base, 40%);
$columnist-name-color: $red-base;

$link-color: $red-base;
$link-visited-color: $red-pinker;
$link-hover-color: $red-light;

$link-neutral-color: lighten($neutral-base, 10%);
$link-neutral-color-visited: lighten($neutral-base, 30%);
$link-neutral-color-hover: lighten($neutral-base, 50%);

$link-inverted-color: lighten($neutral-base, 100%);
$link-inverted-color-hover: lighten($neutral-base, 90%);

$title-underline: $red-base;
$box-border: $red-base;
$box-border-neutral: lighten($neutral-base, 80%);
$box-background: lighten($neutral-base, 90%);
$vertical-bar: lighten($neutral-base, 80%);
$content-divisor: lighten($neutral-base, 70%);

$button-border: lighten($neutral-base, 72%);
$button-border-selected: lighten($neutral-base, 57%);

$number-color: $red-base;
$quote-color: $red-base;
$button-newsletter: $red-base;
