$DESKTOP-WIDTH-SITE: 1150px;
$DESKTOP-WIDTH-RADIO: 1035px;
$COLUMNS-QUANTITY: 5;
$COLUMN-WIDTH: $DESKTOP-WIDTH-SITE/$COLUMNS-QUANTITY;
$COLUMN-WIDTH-RADIO: $DESKTOP-WIDTH-RADIO/$COLUMNS-QUANTITY;

$LATERAL-COLUMN-SPACE: 5px;
$LATERAL-PAGE-SPACE: 30px;
$LATERAL-PAGE-SPACE-SMALL: 10px;
$VERTICAL-SPACE: 10px;
$PARAGRAPH-SPACE: 20px;

$HEADER-HEIGHT-DESKTOP: 120px;
$MENU-HEIGHT-DESKTOP: 40px;
$OPEN-SEARCH-TOOL: 30px;
$MENU-HEIGHT-TWO-LINES-DESKTOP: 80px;
$HEADER-HEIGHT-CONTRACTED: 60px;
