$DESKTOP-WIDTH-SITE: 1150px;
$COLUMNS-QUANTITY: 5;
$COLUMN-WIDTH: $DESKTOP-WIDTH-SITE/$COLUMNS-QUANTITY;

$HEADER-HEIGHT-DESKTOP: 120px;
$MENU-HEIGHT-DESKTOP: 40px;
$HEADER-HEIGHT-CONTRACTED: 60px;
$MENU-HEIGHT-EXTENDED: 80px;

$VERTICAL-SPACE: 10px;
$LATERAL-PAGE-SPACE: 60px;
$LATERAL-COLUMN-SPACE: 5px;
