$desktop-width-site: 1150px;
$columns-quantity: 5;
$column-width: $desktop-width-site / $columns-quantity;

$lateral-column-space: 5px;
$lateral-page-space-desktop: 30px;
$lateral-page-space-mobile: 10px;
$vertical-space: 10px;
$paragraph-space: 20px;

$header-height-desktop: 120px;
$menu-height-desktop: 40px;
$search-tool-open: 30px;
$menu-height-two-lines: 80px;
$header-height-contracted: 60px;
