@import 'query';
@import 'colors';

//Properties agruped in this file:
//font: font-style font-variant font-weight font-size/line-height font-family;
//color and text-transform

$family-serif: 'Merriweather', 'Times New Roman';
$family-sans: 'Merriweather Sans', Arial;
$family-special-titles: 'Oswald', Arial;

$line-separation-small: 1.3;
$line-separation-big: 1.6;

$page-name-size: 1.1rem;
$list-title-size: 1.3rem;

$standalone-title-size: 2rem;
$standalone-description-size: 1.2rem;
$standalone-text-size: 1.1rem;

$text-size: 1rem;
$details-size: .9rem;
$details-size-sidebar: .8rem;
$title-size: 1.1rem;
$section-name-size: 1rem;
$language-nav-size: .75rem;
$audio-info-size: .8rem;

$number-size: 1.3rem;
$service-title-size: 1.2rem;

//Mixins matching each scss file

@mixin main {
  html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include media-query(THREE) {
      font-size: 16px;
    }
  }

  body {
    font: 62.5% $family-serif;
    color: $text-color;
  }

  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.17rem; }
  h4 { font-size: 1.12rem; }
  h5 { font-size: .83rem; }
  h6 { font-size: .75rem; }

  p {
    font: #{$standalone-text-size} / #{$line-separation-big} $family-serif;
    word-spacing: 2px;
  }

  strong,
  b {
    font-weight: bold;
  }

  em,
  i {
    font-style: italic;
  }

  s {
    text-decoration: line-through;
  }

  a {
    color: $link-neutral-color;
    text-decoration: none;
    cursor: pointer;

    &:visited {
      color: $link-neutral-color-visited;
    }

    &:hover {
      color: $link-neutral-color-hover;
    }
  }

  blockquote {
    font: italic bold 1.3rem / #{$line-separation-big} $family-serif;
    word-wrap: break-word;
    word-spacing: 2px;

    &::before,
    &::after {
      font-size: 3.5em;
      color: $quote-color;
      line-height: .1em;
    }
  }
}

@mixin menu-mobile {
  a {
    font: bold $title-size $family-serif;
    color: $link-inverted-color;
  }
}

@mixin menu-desktop {
  a {
    font: bold $text-size $family-serif;
    color: $link-inverted-color;
  }
}

@mixin footer {
  p {
    font: #{$text-size} / 1 $family-sans;
    color: $link-inverted-color;
  }

  a {
    &:hover {
      p {
        font-weight: bold;
      }
    }
  }

  .message-test {
    font: bold $title-size $family-serif;
    color: $inverted-base;
  }
}

@mixin breadcrumb  {
  p {
    font: bold $section-name-size $family-sans;
    text-transform: uppercase;

    &:hover {
      color: $link-hover-color;
    }
  }

  .breadcrumb-last {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  i {
    color: $link-neutral-color;
  }
}

@mixin national {
  .section-name {
    font: bold $section-name-size $family-sans;
    color: $title-color;
    text-transform: uppercase;
  }

  .hat {
    font: bold $section-name-size $family-sans;
    color: $link-color;
    text-transform: uppercase;
  }

  .title {
    font: bold #{$title-size} / #{$line-separation-small} $family-serif;
  }

  .big-title {
    font: bold 1.5rem / #{$line-separation-small} $family-serif;
    color: $link-inverted-color;
  }

  a {
    &:hover {
      .big-title {
        color: $link-inverted-color-hover;
      }
    }
  }

  .description {
    font: normal #{$text-size} / #{$line-separation-small} $family-sans;
  }

  .most-read,
  .last-news#last-news-mobile {
    li::before {
      font: bold $number-size $family-sans;
      color: $number-color;
    }

    .title {
      font: normal #{$title-size} / #{$line-separation-big} $family-serif;

      @include media-query(THREE) {
        font-weight: bold;
      }
    }
  }

  #last-news-dynamic {
    .section-name {
      font: bold $title-size $family-sans;
      color: $link-color;

      &:hover {
        color: $link-hover-color;
      }
    }

    .title {
      font: normal #{$text-size} / #{$line-separation-small} $family-sans;
    }
  }

  .columnists {
    .title {
      font: bold #{$title-size} / #{$line-separation-small} $family-serif;
    }

    .name {
      font: bold #{$details-size} / #{$line-separation-small} $family-sans;
      color: $columnist-name-color;
    }

    a:hover {
      .section-name {
        color: $link-neutral-color-hover;
      }

      .name {
        color: $link-hover-color;
      }
    }
  }

  .photo-caption {
    a:hover {
      .section-name {
        color: $link-neutral-color-hover;
      }
    }

    a {
      color: $link-inverted-color;
    }

    .subtitle {
      font: bold #{$title-size} / #{$line-separation-small} $family-serif;
    }

    .credits {
      font: #{$details-size} / #{$line-separation-small} $family-sans;
    }
  }

  .button {
    font: bold $text-size $family-sans;
    color: $link-color;

    &:visited {
      color: $link-visited-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  .newsletter {
    p {
      font-size: $details-size;
    }

    .thanks-message {
      color: $green-base;
    }

    .fail-message {
      color: $red-base;
    }

    i {
      font-size: $details-size;
      color: $newsletter-check;
    }

    input,
    input:-webkit-input-placeholder {
      font-size: .75rem;
    }
  }
}

@mixin list {
  .page-name {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  .section-name {
    font: bold $section-name-size $family-sans;
    color: $title-color;
    text-transform: uppercase;
  }

  .title {
    font: bold #{$list-title-size} / #{$line-separation-small} $family-serif;
  }

  .description {
    font: normal #{$text-size} / #{$line-separation-small} $family-sans;
  }

  .date {
    font: $details-size $family-sans;
    color: $details-color;
  }

  .pagination-title {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  .button {
    font: bold #{$text-size} / #{$line-separation-small} $family-sans;
    color: $link-neutral-color;

    &:visited {
      color: $link-neutral-color-visited;
    }

    &:hover {
      color: $link-neutral-color-hover;
    }
  }

  .button-selected {
    font: bold #{$text-size} / #{$line-separation-small} $family-sans;
    color: $link-color;

    &:visited {
      color: $link-color;
    }

    &:hover {
      color: $link-color;
    }
  }
}

@mixin language-nav {
  a, .language-nav-divisor {
    font: bold $language-nav-size $family-sans;
    text-transform: uppercase;
    color: $link-inverted-color;
  }

  .language-nav-divisor {
    color: $menu-divisor-desktop;
  }
}

@mixin archive {
  .page-name {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  li {
    font: normal $details-size $family-serif;

    time {
      font: normal $title-size $family-serif;
    }
  }

  .fa {
    font-size: 11px;
  }

  .list-header p {
    font: bold $title-size $family-serif;
  }
}

@mixin photo-caption-list {
  .page-name {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  a {
    color: $link-inverted-color;
  }

  .image-item {
    color: $link-inverted-color;

    .subtitle {
      font: bold #{$title-size} / #{$line-separation-small} $family-serif;
    }

    .credits {
      font: #{$details-size} / #{$line-separation-small} $family-sans;
    }
  }
}

@mixin photo-caption {
  .title {
    font: bold #{$standalone-title-size} / #{$line-separation-small} $family-serif;
    color: $title-color;
  }

  .hat {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  .subtitle {
    font: bold #{$title-size} / #{$line-separation-small} $family-serif;
    color: $link-neutral-color;
  }

  .credits {
    font: #{$details-size} / #{$line-separation-small} $family-sans;
    color: $link-neutral-color;
  }

  .button {
    font: bold $text-size $family-sans;
    color: $link-color;

    &:visited {
      color: $link-visited-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  .section-name {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  .photo-caption-smaller {
    .subtitle {
      color: $link-inverted-color;
    }

    .credits {
      color: $link-inverted-color;
    }
  }
}

@mixin columnists {
  .page-name {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  .title {
    font: bold #{$list-title-size} / #{$line-separation-small} $family-serif;
  }

  .description {
    font: normal #{$text-size} / #{$line-separation-small} $family-sans;
  }

  .date {
    font: $details-size $family-sans;
    color: $details-color;
  }

  .name {
    font: bold #{$title-size} / #{$line-separation-small} $family-sans;
    color: $columnist-name-color;
  }

  a:hover {
    .name {
      color: $link-hover-color;
    }
  }

  .pagination-title {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  .button {
    font: bold #{$text-size} / #{$line-separation-small} $family-sans;
    color: $link-neutral-color;

    &:visited {
      color: $link-neutral-color-visited;
    }

    &:hover {
      color: $link-neutral-color-hover;
    }
  }

  .button-selected {
    font: bold #{$text-size} / #{$line-separation-small} $family-sans;
    color: $link-color;

    &:visited {
      color: $link-color;
    }

    &:hover {
      color: $link-color;
    }
  }
}

@mixin post {
  .hat {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  .title {
    font: bold #{$standalone-title-size} / #{$line-separation-small} $family-serif;
    color: $title-color;
  }

  .description {
    font: #{$standalone-description-size} / #{$line-separation-small} $family-sans;
    color: $title-color;
  }

  .editor {
    font-style: italic;
  }

  .author,
  .listen-audio {
    font: $text-size $family-serif;
    color: $title-color;
  }

  .place,
  time,
  figcaption,
  .ckeditor-img-caption {
    font: $text-size $family-serif;
    color: $details-color;
  }

  .ckeditor-subtitle {
    font: bold 1.21rem $family-serif;
    color: $text-color;

    @include media-query (THREE) {
      font-size: 1.5rem;
    }
  }

  .ckeditor-infographic-subtitle {
    font: bold 1.21rem $family-serif;
    color: $text-color;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 6px;

    @include media-query (THREE) {
      font-size: 1.5rem;
      margin-bottom: 8px;
    }
  }

  .ckeditor-infographic-highlight {
    color: $red-base;
  }

  .tabloid-link-text {
    font: $text-size $family-serif;
    color: $details-color;

    @include media-query (THREE) {
      font-size: $details-size;
    }
    @include media-query (FOUR) {
      font-size: $text-size;
    }
  }

  a {
    color: $link-color;
    font-weight: bold;

    &:visited {
      color: $link-visited-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  p {
    color: $text-color;
  }

  .image-subtitle {
    font: bold $details-size $family-sans;
    color: $text-color;
  }

  .share-title {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-align: left;
    text-transform: uppercase;
  }

  .details-bar .share-title {
    text-align: right;
  }

  .share-icon {
    color: $link-neutral-color;

    &:visited {
      color: $link-neutral-color-visited;
    }

    &:hover {
      color: $link-neutral-color-hover;
    }
  }

  .button {
    font: bold $text-size $family-sans;
    color: $link-color;

    @include media-query (THREE) {
      font-size: $details-size;
    }
    @include media-query (FOUR) {
      font-size: $text-size;
    }

    &:visited {
      color: $link-visited-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  ul li {
    font: #{$standalone-text-size} $family-serif;
    color: $text-color;
  }
}

@mixin audio-player  {
  .progress-bar {
    span {
      font: normal #{$audio-info-size} / #{$line-separation-small} $family-sans;
    }
  }

  .download-description {
    font: bold #{$details-size} / #{$line-separation-small} $family-sans;
    color: $download-link;
  }
}

@mixin column {
  .hat {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  .title {
    font: bold #{$standalone-title-size} / #{$line-separation-small} $family-serif;
    color: $title-color;
  }

  time,
  figcaption {
    font: $text-size $family-serif;
    color: $details-color;
  }

  a {
    color: $link-color;
    font-weight: bold;

    &:visited {
      color: $link-visited-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  .name {
    font: bold #{$text-size} / #{$line-separation-small} $family-sans;
    color: $columnist-name-color;
  }

  p {
    color: $text-color;
  }

  .ckeditor-subtitle {
    font: bold 1.21rem $family-serif;
    color: $text-color;

    @include media-query (THREE) {
      font-size: 1.5rem;
    }
  }

  .ckeditor-infographic-subtitle {
    font: bold 1.21rem $family-serif;
    color: $text-color;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 6px;

    @include media-query (THREE) {
      font-size: 1.5rem;
      margin-bottom: 8px;
    }
  }

  .ckeditor-infographic-highlight {
    color: $red-base;
  }
}

@mixin institutional {
  .page-name {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  .title {
    font: bold $text-size $family-sans;
    color: $text-color;
    text-transform: uppercase;
  }

  .list {
    font: #{$standalone-text-size} / #{$line-separation-big} $family-serif;
    color: $text-color;

    dt {
      font-weight: bold;
    }
  }

  a {
    color: $link-color;
    font-weight: bold;

    &:visited {
      color: $link-visited-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  .text {
    font: bold $details-size $family-sans;

    @include media-query(THREE) {
      font-size: $text-size;
    }
  }

  p {
    color: $text-color;
  }
}

@mixin search {
  // Sets search box font
  .gsc-input {
    font-family: $family-serif;
    font-size: $text-size;
  }

  // Sets font snippet of search results
  .gs-snippet {
    font: normal #{$details-size} / #{$line-separation-small} $family-sans;
  }

  // Sets font title of search results
  .gs-title {
    font: bold #{$title-size} / #{$line-separation-small} $family-serif;
    color: $link-color;
  }

  // Sets font from page cursor of search results
  .gsc-cursor-page {
    font-family: $family-serif;
    font-size: 1.2rem;
  }
}

@mixin tabloid {
  time {
    font: $text-size $family-serif;
    color: $details-color;
    text-align: center;
  }

  .button {
    font: bold #{$text-size} / #{$line-separation-small} $family-sans;
    color: $link-color;

    &:visited {
      color: $link-visited-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }
}

@mixin other {
  .other-title {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  .other-decorator {
    color: $link-color;
    padding-top: .4rem;
  }

  a:hover {
    .other-article-title {
      color: $link-neutral-color-hover;
    }
  }

  .other-article-title {
    font: bold $standalone-text-size $family-serif;
    color: $link-neutral-color;

    @include media-query(THREE) {
      font-size: $text-size;
    }
  }
}

@mixin special {
  .title {
    color: $link-inverted-color;
    text-align: center;

    .page-title {
      font: normal 1.8rem / 1.2 $family-special-titles;
      text-shadow: 2px 2px 3px $title-special-color;
      text-transform: uppercase;

      @include media-query(THREE) {
        font-size: 3rem;
      }
    }

    .description {
      font: 400 italic 1.3rem / #{$line-separation-big} $family-serif;
      text-shadow: 2px 2px 3px $description-special-color;

      @include media-query(THREE) {
        font-size: 1.5rem;
      }
    }
  }

  .subtitle {
    color: $text-color;

    .text {
      font: normal 1.8rem / 1.2 $family-special-titles;
      text-align: center;
      text-transform: uppercase;

      @include media-query(THREE) {
        font-size: 3rem;
      }
    }
  }

  .cover-credits {
    font: $text-size $family-serif;
    color: $details-color;
  }

  .text {
    color: $text-color;

    p {
      font: 1.1rem / 1.63 $family-serif;
    }

    a {
      font: bold 1.1rem / 1 $family-serif;
      color: $link-special-color;

      &:visited {
        color: $link-special-visited-color;
      }

      &:hover {
        color: $link-special-hover-color;
      }
    }
  }

  .quote {
    blockquote {
      font: italic bold 2rem / #{$line-separation-big} $family-serif;
      word-wrap: break-word;
      word-spacing: 2px;

      &::before,
      &::after {
        font-size: 2.5em;
        color: $quote-color;
        line-height: .1em;
      }

      @include media-query(THREE) {
        font: italic bold 2.5rem / #{$line-separation-big} $family-serif;
        word-spacing: 4px;

        &::before,
        &::after {
          font-size: 3.5em;
        }
      }
    }

    .quote-source {
      font: bold .9rem / 1 $family-sans;

      @include media-query(THREE) {
        font: bold 1rem / 1 $family-sans;
      }
    }

    .quote-source-info {
      font: normal .9rem / 1 $family-sans;

      @include media-query(THREE) {
        font: normal 1rem / 1 $family-sans;
      }
    }

    .quote-source-info::before {
      content: ', ';
    }
  }

  .image-centralized {
    text-align: center;

    .image-title {
      font: bold 1.2rem / 1 $family-serif;
      color: $text-color;

      @include media-query(THREE) {
        font: bold 1.5rem / 1 $family-serif;
      }

      em,
      b,
      i {
        color: $red-base;
        font-style: normal;
      }
    }
  }

  .image {
    text-align: center;

    .link-text {
      font: bold 1.1rem / 1 $family-sans;
      color: $link-special-color;

      &:visited {
        color: $link-special-visited-color;
      }

      &:hover {
        color: $link-special-hover-color;
      }
    }

    .image-title {
      font: bold 1.2rem / 1 $family-serif;
      color: $text-color;

      @include media-query(THREE) {
        font: bold 1.5rem / 1 $family-serif;
      }

      em,
      b,
      i {
        color: $red-base;
        font-style: normal;
      }
    }
  }

  .links {
    .links-headline {
      font: bold 1.1rem / 1 $family-serif;
      color: $text-color;
      text-align: center;
    }

    .link-figure-title {
      font: bold 1rem / #{$line-separation-big} $family-serif;
      text-align: center;

      @include media-query(THREE) {
        font: bold 1.1rem / #{$line-separation-big} $family-serif;
      }
    }

    .link-navigation-title {
      font: bold 1.1rem / 1 $family-serif;
      color: $link-color;

      &:visited {
        color: $link-visited-color;
      }

      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

@mixin radioagency  {
  .title-featured {
    font: bold 1.6rem / #{$line-separation-small} $family-serif;
    color: $title-color;
  }

  .title {
    font: bold #{$list-title-size} / #{$line-separation-small} $family-serif;
    color: $title-color;
  }

  .columnist {
    .name {
      font: bold #{$details-size} / #{$line-separation-small} $family-sans;
      color: $columnist-name-color;
    }

    a:hover {
      .name {
        color: $link-hover-color;
      }
    }
  }

  .article {
    .name {
      font: bold #{$details-size} / #{$line-separation-small} $family-sans;
      color: $columnist-name-color;
    }
  }

  .service-name,
  .section-name {
    font: bold $section-name-size $family-sans;
    text-transform: uppercase;
  }

  .sidebar {
    .title {
      font: bold #{$title-size} / #{$line-separation-small} $family-serif;
    }

    .progress-bar {
      span,
      p  {
        font-size: .6rem;
      }
    }

    .date {
      font: $details-size-sidebar $family-sans;
      color: $details-color;
    }

    .download-description {
      font-size: .8rem;
    }
  }

  .button {
    font: bold $text-size $family-sans;
    color: $link-color;

    &:visited {
      color: $link-visited-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  .featured-service {
    .title {
      font: bold #{$service-title-size} / #{$line-separation-small} $family-serif;
    }
  }
}

@mixin columnist-list {
  .columnist-name {
    font: bold $list-title-size $family-sans;
    color: $columnist-name-color;
  }

  .page-name {
    font: bold $page-name-size $family-sans;
    color: $page-title-color;
    text-transform: uppercase;
  }

  .description {
    font: normal #{$text-size} / #{$line-separation-small} $family-sans;
    color: $details-color;
  }
}

@mixin get-font($type) {
  @if($type == POST) {
    @include post;
  }
  @else if($type == MAIN) {
    @include main;
  }
  @else if($type == LIST) {
    @include list;
  }
  @else if($type == PHOTO_CAPTION_LIST) {
    @include photo-caption-list;
  }
  @else if($type == PHOTO_CAPTION) {
    @include photo-caption;
  }
  @else if($type == COLUMN) {
    @include column;
  }
  @else if($type == NATIONAL) {
    @include national;
  }
  @else if($type == FOOTER) {
    @include footer;
  }
  @else if($type == MENU_MOBILE) {
    @include menu-mobile;
  }
  @else if($type == MENU_DESKTOP) {
    @include menu-desktop;
  }
  @else if($type == COLUMNISTS) {
    @include columnists;
  }
  @else if($type == INSTITUTIONAL) {
    @include institutional;
  }
  @else if($type == SEARCH) {
    @include search;
  }
  @else if($type == TABLOID) {
    @include tabloid;
  }
  @else if($type == OTHER) {
    @include other;
  }
  @else if($type == SPECIAL) {
    @include special;
  }
  @else if($type == RADIOAGENCY) {
    @include radioagency;
  }
  @else if($type == BREADCRUMB) {
    @include breadcrumb;
  }
  @else if($type == AUDIO_PLAYER) {
    @include audio-player;
  }
  @else if($type == COLUMNIST_LIST) {
    @include columnist-list;
  }
  @else if($type == ARCHIVE) {
    @include archive;
  }
  @else if($type == LANGUAGE_NAV) {
    @include language-nav;
  }
}
