@import 'query';
@import 'colors';

$family-serif: 'Merriweather';
$family-sans: 'Merriweather Sans';

$line-separation-small: 1.3;
$line-separation-big: 1.6;

$page-name-size: 1.1rem;
$list-title-size: 1.3rem;

$standalone-title-size: 2rem;
$standalone-description-size: 1.2rem;

$text-size: 1rem;
$details-size: 0.9rem;
$title-size: 1.1rem;
$big-title-size: 1.7rem;
$section-name-size: 1rem;

$number-size: 1.3rem;

@mixin __menu_mobile(){
  a {
    font: $title-size $family-serif;
    color: $link-inverted-color;
  }
}

@mixin __menu_desktop(){
  a {
    font: bold $text-size $family-serif;
    color: $link-inverted-color;
  }
}

@mixin __footer(){
  font: #{$text-size}/1.0 $family-sans;
  color: $link-inverted-color;

  a {
    color: $link-inverted-color;

    &:hover {
      font-weight: bold;
    }
  }
}

@mixin __national(){
  .section-name, .hat {
    font: bold $section-name-size $family-sans;
    color: $title-color;
    text-transform: uppercase;
  }

  .title {
    font: bold #{$title-size}/#{$line-separation-small} $family-serif;
  }

  .big-title {
    font: bold #{$big-title-size}/#{$line-separation-small} $family-serif;

    a {
      color: $link-inverted-color;
    }
  }

  .description {
    font: normal #{$text-size}/#{$line-separation-small} $family-sans;
  }

  .most-read, .last-news#last-news-mobile{
    li:before {
      font: bold $number-size $family-sans;
      color: $number-color;
    }

    .title {
      font: bold #{$title-size}/#{$line-separation-big} $family-serif;
    }
  }

  .last-news#last-news-dynamic {
    .section-name {
      font: bold $title-size $family-sans;
      color: $link-color;
    }

    .title {
      font: normal #{$text-size}/#{$line-separation-small} $family-sans;
    }
  }

  .columnists {
    .name {
      font: bold #{$text-size}/#{$line-separation-small} $family-sans;
      color: $name-color;
    }
  }
}

@mixin __news_list(){
  .page-name {
    font: bold $page-name-size $family-sans;
    text-transform: uppercase;
    color: $page-title-color;
  }

  .title{
    font: bold #{$list-title-size}/#{$line-separation-small} $family-serif;
  }

  .description {
    font: normal #{$text-size}/#{$line-separation-small} $family-sans;
  }

  .date {
    font: $details-size $family-sans;
    color: $details-color;
  }
}

@mixin __columnists(){
  .page-name {
    font: bold $page-name-size $family-sans;
    text-transform: uppercase;
    color: $page-title-color;
  }

  .title{
    font: bold #{$list-title-size}/#{$line-separation-small} $family-serif;
  }

  .description {
    font: normal #{$text-size}/#{$line-separation-small} $family-sans;
  }

  .date {
    font: $details-size $family-sans;
    color: $details-color;
  }

  .name {
    font: bold #{$title-size}/#{$line-separation-small} $family-sans;
    color: $name-color;
  }
}

@mixin __post(){
  .hat {
    font: bold $page-name-size $family-sans;
    text-transform: uppercase;
    color: $page-title-color;
  }

  .title {
      font: bold #{$standalone-title-size}/#{$line-separation-small} $family-serif;
      color: $title-color;
  }

  .description {
    font: #{$standalone-description-size}/#{$line-separation-small} $family-sans;
    color: $title-color;
  }

  .author {
    font: $text-size $family-serif;
    color: $title-color;
  }

  .place, time, figcaption {
    font: $text-size $family-serif;
    color: $details-color;
  }
}

@mixin __column(){
  .hat {
    font: bold $page-name-size $family-sans;
    text-transform: uppercase;
    color: $page-title-color;
  }

  .title {
      font: bold #{$standalone-title-size}/#{$line-separation-small} $family-serif;
      color: $title-color;
  }

  time, figcaption {
    font: $text-size $family-serif;
    color: $details-color;
  }
}


@mixin __institutional(){
  .page-name {
    font: bold $page-name-size $family-sans;
    text-transform: uppercase;
    color: $page-title-color;
  }

  p {
    font-family: $family-serif;
    line-height: $line-separation-big;
    font-size: $text-size;
    color: $text-color;
  }

  .title {
    font-family: $family-sans;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
  }

  a {
      color: $link;
      font-weight: bold;

      &:visited {
        color: $link-visited;
      }

      &:hover {
        color: $link-hover;
      }
  }

  .text {
    font-family: $family-sans;
    font-size: .8rem;
    font-weight: bold;
    @include media-query (TWO) {
      font-size: 1rem;
    }
  }
}





@mixin __person(){
  @include __name();

  .job-title {
    font-size: 0.9em;
    font-weight: bold;

    @include media-query(MEDIUM) {
      font-size: 1em;
    }
  }
}

@mixin __name() {
  .name, .name_mobile {
    color: $bdf-red;
    font-family: $family-sans;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.2;
  }
}





@mixin __title(){
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2em;

  @include media-query(TWO){
    font-size: 2em;
  }
}

@mixin __content(){
  font-family: $family-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: left;
  color: $text-column;

  @include media-query(TWO){
    font-size: 1.2em;
  }

  a {
    color: $bdf-red;
    font-weight: bold;
    text-decoration: underline;
  }
}





@mixin __page_blockquotes(){
  blockquote {
    font-style: italic;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.5em;
  }
  blockquote:before {
    color: $bdf-red;
    font-size: 3.5em;
    line-height: 0.1em;
  }

  blockquote:after {
    color: $bdf-red;
    font-size: 3.5em;
    line-height: 0.1em;
  }
}



@mixin __search(){
  /* Sets search box font */
  .gsc-input {
    font-size: $text-size;
    font-family: $family-serif;
  }

  /* Sets font snippet of search results */
   .gs-snippet {
     font: normal #{$details-size}/#{$line-separation-small} $family-sans;
   }

   /* Sets font title of search results */
   .gs-title {
     font: bold #{$title-size}/#{$line-separation-small} $family-serif;
     color: $link-color;
   }

   /* Sets font from page cursor of search results */
   .gsc-cursor-page {
     font-size: 1.2em;
     font-family: $family-serif;
   }
}



@mixin get-font($type){

  @if( $type == POST ){
    @include __post();
  }
  @else if( $type == NEWS_LIST ){
    @include __news_list();
  }
  @else if( $type == PERSON ){
    @include __person();
  }
  @else if( $type == COLUMN ){
    @include __column();
  }
  @else if( $type == NATIONAL ){
    @include __national();
  }
  @else if( $type == FOOTER ){
    @include __footer();
  }
  @else if( $type == MENU_MOBILE ){
    @include __menu_mobile();
  }
  @else if( $type == MENU_DESKTOP ){
    @include __menu_desktop();
  }
  @else if( $type == COLUMNISTS ){
    @include __columnists();
  }
  @else if( $type == NAME ){
    @include __name();
  }
  @else if( $type == TITLE ){
    @include __title();
  }
  @else if( $type == CONTENT ){
    @include __content();
  }
  @else if( $type == PAGE_BLOCKQUOTES ){
    @include __page_blockquotes();
  }
  @else if( $type == INSTITUTIONAL ){
    @include __institutional();
  }
  @else if( $type == SEARCH ){
    @include __search();
  }
}
