@import 'fonts';
@import 'query';
@import 'colors';
@import 'constants';

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix {
  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
  }
}

@mixin transition-left {
  transition:  left .1s ease-in-out;
}

@mixin column-lateral-spacing($value: $lateral-column-space) {
  padding-left: $value;
  padding-right: $value;
}

@mixin site-top-spacing($header-height) {
  margin-top: $header-height;
}

@mixin site-lateral-spacing ($value: auto) {
  margin-left: $value;
  margin-right: $value;
}

@mixin picture-with-caption {
  figure {
    position: relative;

    img {
      width: 100%;
    }
  }

  figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 5px;
    padding: 5px 20px 20px;
    text-shadow: 2px 2px 0 $text-shadow-color, 1px 1px 0 $text-shadow-color;
    background: linear-gradient(to bottom, $gradient-initial-color 0%, $gradient-final-color 85%);
  }
}

@mixin image-rounded($width, $height) {
  figure {
    height: $height;
    width: $width;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@mixin image-rounded-responsive($max-height) {
  figure {
    max-height: $max-height;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

@mixin section-name {
  display: block;
  border-bottom: 3px solid $title-underline;
  margin-bottom: 5px;
}

@mixin hat-name {
  display: block;
  margin-bottom: 8px;
}

@mixin page-name($line-width: 3px) {
  display: block;
  border-top: $line-width solid $title-underline;
  padding-top: 5px;
}

@mixin person {
  padding: 10px 0;

  .profile-image {
    float: left;
    width: 70px;
    border-radius: 50%;

    @include media-query(TWO) {
      width: 90px;
    }
  }
}

@mixin page-blockquotes {
  blockquote {
    max-width: 2 * $column-width;
    width: 100%;
    padding: 20px 0;
    quotes: '\201C''\201D''\2018''\2019';
  }

  blockquote::before {
    content: open-quote;
    margin-right: .25em;
    vertical-align: -.4em;
  }

  blockquote::after {
    content: close-quote;
    vertical-align: -.6em;
  }

  blockquote p {
    display: inline;
  }
}

@mixin special-blockquotes {
  blockquote {
    quotes: '\201C''\201D''\2018''\2019';
  }

  blockquote::before {
    content: open-quote;
    margin-right: .25em;
    vertical-align: -.2em;
  }

  blockquote::after {
    content: close-quote;
    vertical-align: -.8em;
  }
}

@mixin button {
  .pagination-button-container .button {
    width: auto;
    margin: 5px 10px;
    padding: 8px 16px;
  }

  .button {
    display: block;
    width: 100%;
    border: 1px solid $button-border;
    border-radius: 3px;
    margin: 5px auto;
    padding: 8px 0;
    text-align: center;
    box-shadow: 0 1px 1px $button-border;

    @include media-query (THREE) {
      width: 200px;
    }

    &:visited {
      box-shadow: 1px 2px 1px $button-border;
    }

    &:hover {
      box-shadow: 1px 2px 1px $button-border;
    }
  }

  .button-selected {
    border: 2px solid $button-border-selected;
    cursor: default;
    pointer-events: none;
  }
}

@mixin pagination {
  .pagination-container {
    margin-top: 5px;

    .pagination-title {
      text-align: center;
    }

    .pagination-button-container {
      display: -webkit-flex; //Old Safari
      display: flex;
      -webkit-align-items: center; //Old Safari
      align-items: center;
      -webkit-justify-content: center; //Old Safari
      justify-content: center;
    }
  }
}

@mixin other-news {
  @include get-font(OTHER);

  .other-bar {
    margin: 10px 0 0;
  }

  .other-title {
    @include page-name;
    margin: 0;
    margin-bottom: 10px;
  }

  .other-article-container {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-flex-wrap: wrap; //Old Safari
    flex-wrap: wrap;
    -webkit-flex-direction: row; //Old Safari
    flex-direction: row;

    @include media-query(THREE) {
      -webkit-flex-direction: column; //Old Safari
      flex-direction: column;
    }
  }

  .other-article {
    @include image-rounded(110px, 100px);
    width: 100%;
    border-bottom: 1px solid $box-border-neutral;
    padding-bottom: 10px;

    li {
      display: -webkit-flex; //Old Safari
      display: flex;

      a + a h3 {
        padding-left: 5px;
      }
    }

    .other-article-image {
      margin-right: .25em;
      background-size: cover;
    }
  }
}

@mixin columnist {
  .columnist {
    display: -webkit-flex; //Old Safari
    display: flex;
    margin-top: 20px;

    img {
      height: 80px;
      max-width: 80px;
      border-radius: 50%;

      @include media-query(THREE) {
        height: 60px;
        max-width: 60px;
      }
    }

    .photo {
      width: 90px;
      -webkit-flex-grow: 0; //Old Safari
      flex-grow: 0;

      @include media-query(THREE) {
        width: 70px;
      }
    }

    .column {
      width: 150px;
      -webkit-flex-grow: 1; //Old Safari
      flex-grow: 1;

      .title {
        margin-top: 5px;
      }
    }
  }
}
