@import 'constants';

$two-columns: (2 * $column-width) + (2 * $lateral-page-space-desktop);
$three-columns: (3 * $column-width) + (2 * $lateral-page-space-desktop);
$four-columns: (4 * $column-width) + (2 * $lateral-page-space-desktop);
$five-columns: (5 * $column-width) + (2 * $lateral-page-space-desktop);


@mixin media-query($canvas) {
  @if $canvas == TWO {
    @media only screen and (min-width: $two-columns) { @content; }
  }
  @else if $canvas == THREE {
    @media only screen and (min-width: $three-columns) { @content; }
  }
  @else if $canvas == FOUR {
    @media only screen and (min-width: $four-columns) { @content; }
  }
  @else if $canvas == FIVE {
    @media only screen and (min-width: $five-columns) { @content; }
  }
}
