@import 'constants';

$two_columns: (2 * $COLUMN_WIDTH) + (2 * $LATERAL-PAGE-SPACE);
$three_columns: (3 * $COLUMN_WIDTH) + (2 * $LATERAL-PAGE-SPACE);
$four_columns: (4 * $COLUMN_WIDTH) + (2 * $LATERAL-PAGE-SPACE);
$five_columns: (5 * $COLUMN_WIDTH) + (2 * $LATERAL-PAGE-SPACE);


@mixin media-query($canvas) {
  @if $canvas == TWO {
   @media only screen and (min-width: $two_columns) { @content; }
  }
  @else if $canvas == THREE {
   @media only screen and (min-width: $three_columns) { @content; }
  }
  @else if $canvas == FOUR {
   @media only screen and (min-width: $four_columns) { @content; }
  }
  @else if $canvas == FIVE {
   @media only screen and (min-width: $five_columns) { @content; }
  }
}
