@import '_includes/query';
@import '_includes/colors';
@import '_includes/mixins';

#columnist {
  @include get-font(COLUMNIST);
  padding: 10px 15px;
  display: block;
  clear: both;

  @include media-query(THREE) {
    padding: 15px 0 0 10%;
    float: left;
    width: 60%;
  }
}

#columnist .hat {
  @include columnist-hat;
  color: $bdf-red;
}

#columnist .hat-articles {
  @include columnist-hat;
  @include get-font(COLUMNIST_HAT);
  border-width: 1px;
  color: $bdf-red;
}

#columnist .person {
  @include person;
  display: inline-block;
}
#columnist .list-of-articles {
  margin-top: 20px;
}

#columnist .list-of-articles .opinion {
  box-shadow: 0px 0px 10px 0px rgba(34,25,25,0.4);
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
  padding-bottom: 5px;
  border-radius: 3px;
  width: 95%;

  a {
    text-decoration: none;
  }

  .title {
    margin: 0;
    margin-bottom: 10px;
    color: $red;
    line-height: 1.2em;
    @include get-font(COLUMNIST_TITLE);
  }

  .date-time {
    color: $gray-light;
    font-weight: 500;
    @include get-font(COLUMNIST_DATE);
  }

  .description {
    @include get-font(COLUMNIST_DESCRIPTION);
    color: $black;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 1.7em;

    @include media-query(THREE) {
      line-height: 1.3em;
    }
  }

  @include media-query(THREE) {
    width: 40%;
    margin-bottom: 20px;
  }
  @include media-query(FIVE) {
    width: 28%;
  }
}
