script(defer type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
script(defer type="text/javascript" src="//w.soundcloud.com/player/api.js")
script(defer type="text/javascript" src="/js/main.js")
