footer#page-footer(itemscope itemtype="http://schema.org/WPFooter")
  #footer-container 
    #footer-header
      a(href="#{ url_for('index.html') }", title="Link para a página principal")
        img(src="#{ url_for('img/logo.svg') }", alt="imagem brasil de fato")
    #footer-items
      nav
        ul
          each menu_item in ["Expediente", "Parceiros", "Publicidade", "Contato"]
            li
              a.active(itemprop="url", href="expediente")= menu_item
              meta(itemprop="name",content="string") 
      #footer-social-block
        p Social:
        include social-media-icons
