header#page-header(itemscope, itemtype="http://schema.org/WPHeader")
  .banner-header
    .banner-elements
      .menu-options(data-toggle="nav#menu-mobile")
        img#hamburguer(data-toggle="nav#menu-mobile", src="/img/hamburguer-menu.svg", alt="imagem menu")
      a(href="/index.html" title="Link para a página principal")
        .logo-header-mobile
        .logo-header-desktop
      #header-icons
        include social-media-icons
        img#search-tool(src="/img/search-icon.svg", alt="imagem lupa")
        .search-tool
          gcse:search
        
  h1.acessibility-hidden Brasil de Fato - Uma Visão Popular do Brasil e do Mundo
  include menu_desktop
