block title
  title Brasil de Fato - Uma Visão Popular do Brasil e do Mundo
block description
  meta(name="description" content="Últimas notícias do Brasil e do mundo, a partir de uma visão popular. Notícias, entrevistas e artigos de opinião sobre Política, Economia, Direitos Humanos, Cultura, Educação, Saúde, Meio-ambiente, além de cobertura internacional com enfoque na América Latina.")
block canonical
  link(href="https://www.brasildefato.com.br/" rel="canonical")
block keywords
  meta(name="keywords" content="política, movimentos sociais, esquerda, luta, direitos humanos, cultura, educação, meio-ambiente, américa latina")
  
meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#8c191e")
meta(name="google-site-verification" content="m_w0GavU2SJLaRtVeRyzEjJOyGeCC3_CXkMHTs_kz2Y")
link(rel='stylesheet', href="/css/main.css")
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
link(href='//fonts.googleapis.com/css?family=Merriweather:400,700%7CMerriweather+Sans:800,300,900', rel='stylesheet', type='text/css')

script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Brasil de Fato",
    "logo": "https://www.brasildefato.com.br/img/share-logo.png",
    "email": "jornalismo@brasildefato.com.br",
    "url": "https://www.brasildefato.com.br",
    "telephone": "(11) 94594-3576",
    "sameAs": [
      "https://www.facebook.com/brasildefato",
      "https://www.youtube.com/c/AgenciaBrasildeFato",
      "https://twitter.com/brasil_de_fato",
      "https://plus.google.com/u/0/100923989153224667959",
  	  "https://www.instagram.com/brasildefato/",
      "https://soundcloud.com/brasil-de-fato"
    ]
  }
  
include icons
