title Brasil de Fato - Uma Visão Popular do Brasil e do Mundo
meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#8c191e")
link(rel="manifest" href="manifest.json")
link(rel="icon",href="/img/icons/favicon.ico",type="image/x-icon")
link(rel='stylesheet', href="/css/main.css")
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
link(href='//fonts.googleapis.com/css?family=Merriweather:400,700%7CMerriweather+Sans:800,300,900', rel='stylesheet', type='text/css')
