header#page-header(itemscope, itemtype="http://schema.org/WPHeader")
  .banner-header
    .banner-elements
      .menu-options(data-toggle="nav#menu-mobile")
        img#hamburguer(data-toggle="nav#menu-mobile", src="/img/hamburguer-menu.svg", alt="imagem menu")
      a(href="/index.html", title="Link para a página principal")
        img#logo-header-mobile(src="/img/logo.svg", alt="imagem brasil de fato")
        img#logo-header-desktop(src="/img/logo-tagline.svg", alt="imagem brasil de fato")
      #header-icons
        include social-media-icons

  h1.acessibility-hidden Brasil de Fato - Uma Visão Popular do Brasil e do Mundo
  include menu_desktop
