title Brasil de Fato
meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#8c191e")
link(rel="icon",href="#{ url_for('img/icons/favicon.ico') }",type="image/x-icon")
link(rel='stylesheet', href="#{ url_for('css/main.css') }")
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
script.
  window.CONFIG = {
    last_news_address: "#{ url_for('json/last-news.json') }"
  };
link(href='//fonts.googleapis.com/css?family=Merriweather:400,700|Merriweather+Sans:800,300,900', rel='stylesheet', type='text/css')
