block title
  title Brasil de Fato - Uma Visão Popular do Brasil e do Mundo
block description
  meta(name="description" content="Últimas notícias do Brasil e do mundo, a partir de uma visão popular. Notícias, entrevistas e artigos de opinião sobre Política, Economia, Direitos Humanos, Cultura, Educação, Saúde, Meio-ambiente, além de cobertura internacional com enfoque na América Latina.")
meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#8c191e")
meta(name="google-site-verification" content="m_w0GavU2SJLaRtVeRyzEjJOyGeCC3_CXkMHTs_kz2Y")
link(rel='stylesheet', href="/css/main.css")
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
link(href='//fonts.googleapis.com/css?family=Merriweather:400,700%7CMerriweather+Sans:800,300,900', rel='stylesheet', type='text/css')
include icons
