header#page-header(itemscope, itemtype="http://schema.org/WPHeader")
  .banner-header
    .menu-options(data-toggle="nav#menu-mobile")
      img#hamburguer(data-toggle="nav#menu-mobile", src="/img/hamburguer-menu.svg", alt="imagem menu")
    a(href="/" title="Link para a página principal")
      .banner-logo
    #header-icons
      include social-media-icons
      img#search-icon(src="/img/search-icon.svg", alt="imagem lupa")
      #search-tool
        .gcse-search
        img#close-search-button(src="/img/close-bttn.svg" alt="imagem botao fechar")
        
  include menu_desktop
