if config.toggles.language_header
  span#language-nav    
    a(itemprop="url" href="/espanol/" title="Ir al área de español") Español
    span#divisor=" | "     
    a(itemprop="url" href="/english/" title="Go to english area") English
