header#page-header(itemscope itemtype="http://schema.org/WPHeader")
  .banner-special.always-contracted
    .menu-options.always-contracted(data-toggle="nav#menu-mobile")
      img#hamburguer(data-toggle="nav#menu-mobile", src="/img/hamburguer-menu.svg", alt="imagem menu")
    a(itemprop="url" href="/" title="Link para a página principal")
      block bannerLogo
        .banner-logo.banner-logo-default
