header#page-header(itemscope, itemtype="http://schema.org/WPHeader")
  figure.banner-header
    a(href="#{ url_for('index.html') }", title="Link para a página principal")
      img(src="#{ url_for('img/logo.png') }", alt="imagem banner")
  figure.menu-options(data-toggle="nav.menu-nav")
    i.fa.fa-bars
  nav.menu-nav(itemscope, itemtype="http://schema.org/SiteNavigationElement")
    ul
      - each item in site.data.menu_national
          li
            a.active(itemprop="url", href="#{item.link}")= item.menu_item
            meta(itemprop="name",content="string")
 
