nav#menu-mobile(itemscope, itemtype="http://schema.org/SiteNavigationElement")
  header.menu-header
    img#close-button(src="#{ url_for('img/close-bttn.svg') }", alt="imagem botao fechar")
    a(href="#{ url_for('/') }")
      img#logo-menu-mobile(src="#{ url_for('img/logo.svg') }", alt="imagem brasil de fato")
  .menu-scrollable
    ul
      each menu_item in ["Nacional", "Direitos Humanos", "Cultura", "Geral", "Internacional", "Español", "Expediente", "Parceiros", "Publicidade", "Contato"]
        li
          a(itemprop="url", href="nacional")= menu_item
          meta(itemprop="name",content="string")
    include social-media-icons