nav#menu-desktop(hidden)
  ul
    li
      a(href="/", title="Link para a página principal")= 'Início'
      meta(itemprop="name",content="string")
    each val,index in {editorial:'Editorial', nacional:'Nacional', direitos_humanos:'Direitos Humanos', cultura:'Cultura', geral:'Geral', internacional:'Internacional', especiais:'Especiais', espanol:'Español'}
      li
        a(itemprop="url", href="/" + index + "/")= val
        meta(itemprop="name",content="string")
