nav#menu-desktop
  ul
    each menu_item in ["Nacional", "Internacional", "Cultura", "Direitos Humanos", "Bem Viver"]
      li
        a(itemprop="url", href="nacional")= menu_item
        meta(itemprop="name",content="string")
