nav#menu-desktop
  ul
    each val,index in {nacional:'Nacional', direitos_humanos:'Direitos Humanos', cultura:'Cultura', geral:'Geral', internacional:'Internacional', espanhol:'Español'}
      li
        a(itemprop="url", href="/" + index)= val
        meta(itemprop="name",content="string")
