nav#menu-mobile(itemscope, itemtype="http://schema.org/SiteNavigationElement")
  header.menu-header
    img#close-button(src="/img/close-bttn.svg", alt="imagem botao fechar")
    a(href="/")
      img#logo-menu-mobile(src="/img/logo.svg", alt="imagem brasil de fato")
  .menu-scrollable
    ul
      each val,index in {editorial:'Editorial', nacional:'Nacional', direitos_humanos:'Direitos Humanos', cultura:'Cultura', geral:'Geral', internacional:'Internacional', especiais:'Especiais', espanol:'Español', expediente:'Expediente', parceiros:'Parceiros', publicidade:'Publicidade', contato:'Contato'}
        li
          a(itemprop="url", href="/" + index)= val
          meta(itemprop="name",content="string")
    include social-media-icons
