nav#menu-desktop(hidden)
  ul
    li
      a(href="/")= 'Início'
    each val,index in {opiniao:'Opinião', politica:'Política', direitos_humanos:'Direitos Humanos', cultura:'Cultura', geral:'Geral', internacional:'Internacional', especiais:'Especiais', espanol:'Español'}
      li
        a(href="/" + index + "/")= val
