nav#menu-desktop
  ul
    each menu_item in ["Nacional", "Direitos Humanos", "Cultura", "Geral", "Internacional", "Español"]
      li
        a(itemprop="url", href="nacional")= menu_item
        meta(itemprop="name",content="string")
