mixin page_title (category, title)
  - var category_capitalized= category.charAt(0).toUpperCase() + category.slice(1)
  if title
    -var title_capitalized= title.charAt(0).toUpperCase() + title.slice(1)
    title= title_capitalized + " - " + category_capitalized + " - Brasil de Fato"
  else
    title= category_capitalized + " - Brasil de Fato"
    
mixin footer (container)
  footer#page-footer(itemscope itemtype="http://schema.org/WPFooter")  
    div(class!= container)
      .footer-header
        a(href="/", title="Link para a página principal")
          img(src="/img/logo.svg", alt="imagem brasil de fato")
      .footer-items
        .footer-menu
          ul
            each val, index  in {quem_somos:"Quem Somos", parceiros:"Parceiros", publicidade:"Publicidade", contato:"Contato"}
              li
                a.active(itemprop="url", href="/" + index + ".html")
                  p= val
                meta(itemprop="name",content="string") 
        .footer-social-block
          p Social:
          include social-media-icons
