meta(property="og:url" content="https://#{url}")

block open_graph
  meta(property="og:title" content=config.title)
  meta(property="og:description" content=config.description)
  meta(property="og:image" content=config.logo)
