.other-bar
  h2.other-title Outras Notícias
  .other-article-container(itemscope itemtype="https://schema.org/ItemList")
    each p,i in page.other_news
      - var imageDescription=p.cover.subtitle + " - Créditos: " + p.cover.credits
      - var articleId = "other-" + i
      ul(id=articleId itemprop="itemListElement" class="other-article" class="spacing")
        li
          a(itemprop="url" href=p.url)
            .other-decorator.fa.fa-circle.fa-1x
            h3.other-article-title(itemprop="headline")= p.title
