mixin radio-player(audio)
  .radio-player(id="item_radio")
    .loader
    .player
      audio.audio(preload="auto" id="audio_radio" src=audio)
      .controls
        .buttons
          .loader
          a.play(onclick=`playRadio();`)
            img.play-button(src="/img/icons/play.svg" alt="Play")
          a.pause(onclick=`pauseRadio();`)
            img.pause-button(src="/img/icons/pause.svg" alt="Pausar")
        .progress-bar
          span.time-progress 0:00
          .progress
            progress(max='100', value='0')
          span.duration Infinito
