.social-media-icons
  a(target="_blank", href="http://www.facebook.com/brasildefato", title="Facebook do Brasil de Fato")
    img(src="/img/social-media/facebook.svg", alt="imagem facebook")
  a(target="_blank", href="https://twitter.com/brasil_de_fato", title="Twitter do Brasil de Fato")
    img(src="/img/social-media/twitter.svg", alt="imagem twitter")
  a(target="_blank", href="http://www.youtube.com/c/AgênciaBrasildeFato", title="Youtube do Brasil de Fato")
    img(src="/img/social-media/youtube.svg", alt="imagem youtube")      
