.social-media-icons
  a(target="_blank", href="//www.facebook.com/brasildefato")
    img(src="/img/social-media/facebook.svg" alt="Facebook do Brasil de Fato")
  a(target="_blank", href="//twitter.com/brasil_de_fato")
    img(src="/img/social-media/twitter.svg" alt="Twitter do Brasil de Fato")
  a(target="_blank", href="//www.youtube.com/c/AgênciaBrasildeFato")
    img(src="/img/social-media/youtube.svg" alt="Youtube do Brasil de Fato")      
