.social-media-icons
  a(itemprop="url" target="_blank" href="//".concat(facebook_url))
    i(class="fa fa-facebook-official fa-2x")
  a(itemprop="url" target="_blank" href="//".concat(twitter_url))
    i(class="fa fa-twitter fa-2x")
  a(itemprop="url" target="_blank" href="//".concat(youtube_url))
    i(class="fa fa-youtube fa-2x")
  a(itemprop="url" target="_blank" href="/rss2.xml")
    i(class="fa fa-rss fa-2x")
