.social-media-icons
  a(itemprop="url" target="_blank" href="//".concat(facebook_url))
    img(src="/img/social-media/facebook.svg" alt="Facebook do Brasil de Fato")
  a(itemprop="url" target="_blank" href="//".concat(twitter_url))
    img(src="/img/social-media/twitter.svg" alt="Twitter do Brasil de Fato")
  a(itemprop="url" target="_blank" href="//".concat(youtube_url))
    img(src="/img/social-media/youtube.svg" alt="Youtube do Brasil de Fato")
