block social-urls
  - var facebook_url = 'www.facebook.com/brasildefato'
  - var facebook_url_mg = 'www.facebook.com/brasildefatomg'
  - var facebook_url_pr = 'www.facebook.com/BDFPR'
  - var facebook_url_rj = 'www.facebook.com/brasildefatorj'
  - var twitter_url = 'www.twitter.com/brasil_de_fato'
  - var twitter_user = '@Brasil_de_Fato'
  - var youtube_url = 'www.youtube.com/c/AgenciaBrasildeFato'
  - var facebook_url_radioagency = 'www.facebook.com/radioagenciabdf'
