.social-media-icons
  a(target="_blank", href="//www.facebook.com/brasildefato", title="Facebook do Brasil de Fato")
    img(src="/img/social-media/facebook.svg")
  a(target="_blank", href="//twitter.com/brasil_de_fato", title="Twitter do Brasil de Fato")
    img(src="/img/social-media/twitter.svg")
  a(target="_blank", href="//www.youtube.com/c/AgênciaBrasildeFato", title="Youtube do Brasil de Fato")
    img(src="/img/social-media/youtube.svg")      
