@import '_includes/query';
@import '_includes/variables';

.breadcrumb {
  display: none;

  @include media-query(MEDIUM) {
    display: block;
    margin-left: 7%;
    margin-top: 20px;

    + #post{
      padding-top: 0;
    }
    ol{
      width: 55%;
      float: left;
      list-style: none;
      display: inline-flex;
      font-weight: 400;
    }

    ol li {
      margin-right: 5px;
    }

    ol a {
      text-decoration: none;
      color: black;
      cursor: pointer;

      .breadcrumb-item{
        &:hover{
          text-decoration: underline;
        }
      }
      .active {
        color: $bdf-red;
        font-weight: bold;
      }
    }
  }
}
