@import '_includes/query';
@import '_includes/variables';
@import '_includes/mixins';
@import '_includes/fonts';

#most-reads{
  display: none;
  @include get-font(MOST_READS);

  @include media-query(MEDIUM) {
    display: inline-block;
    float: left;
    width: 300px;
    margin: 10% 5% 10% 10%;
    padding: 0;
    border: 2px solid rgba(230,230,230, 0.7);

    ol {
      list-style-position: inside;
      padding-left: 0;
    }
    h1 {
      color: $bdf-red;
      border: none;
      height: 25px;
      border-bottom: 1px solid $bdf-red;
      padding-left: 10px;
    }

    .title {
      padding: 10px;
      color: $bdf-red;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(230,230,230, 0.7);
      &:last-child {
        border-bottom: none;
      }
      span {
        color: $black-dark;
      }
    }
  }

  @include media-query(LARGE) {
    margin: 60px 50px;
  }

}
