@import '_includes/query';
@import '_includes/variables';

@mixin get-font-size($size) {
  font-size: $size + em;

  @include media-query(MEDIUM) {
    font-size: ( $size + 0.4 ) + em;
  }
}

#post {
  padding: 10px 15px;

  @include media-query(MEDIUM) {
    padding: 60px 0 0 10%;
    width: 55%;
    float: left;
  }
}


#post header {
  .hat {
    color: $red;
    font-weight: bold;
    @include get-font-size(1.1);
  }

  .title, .description {
    font-weight: lighter;
  }

  .title {
    color: $black;
    margin: 5px 0;
    line-height: 1.1em;
    @include get-font-size(2);

    @include media-query(MEDIUM) {
      font-weight: bold;
    }
  }

  .description {
    color: $black-light;
    font-style: italic;
    line-height: 1.2em;
    margin-top: 25px;
    @include get-font-size(1);
    @include media-query(MEDIUM) {
      margin-top: 10px;
    }
  }

  figure {
    margin: 25px 0;

    img{
      width: 100%;
    }

    figcaption{
      color: $gray;
      text-align: right;
      @include get-font-size(0.5);
    }
  }

  .place-and-time{
    color: $gray-light;
    line-height: 1.5em;
    padding: 5px 0;
    border-top: 2px solid $gray-lighter;
    border-bottom: 2px solid $gray-lighter;
    font-weight: 300;
    @include get-font-size(0.6);

    time {
      display: block;
      font-style: italic;
    }

    .author {
      &::before {
        content: ' ';
      }
      &::after {
        content: ', ';
      }
    }

    @include media-query(MEDIUM) {
      border-top: none;
      border-bottom: none;
      color: $black;

      .author, .place {
        font-weight: bold;

        &::before{
          font-weight: 300;
        }
      }

      .author::after {
        content: '';
      }

      .place {
        &::before {
          content: ' ';
        }
      }

    }
  }

  @include media-query(MEDIUM) {
    figure {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }
  }
}

#post .content{
  color: $black-dark;
  line-height: 1.7em;
  font-weight: 300;
  word-spacing: 2px;
  padding-top: 10px;
  @include get-font-size(0.8);
}
