@import '_includes/query';
@import '_includes/mixins';
@import '_includes/variables';

.social-network {
  display: none;

  ol{
    list-style: none;
    background-color: $bdf-red;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    height: 40px;
    padding-left: 40px;
    padding: 0;

    li{
      margin: auto;

      a {
        text-decoration: none;
        color: white;
        font-size: 1.5em;
        cursor: pointer;
      }

      &.print {
        display: none;
      }

      &.whatsapp {
        display: block;
      }
    }
  }

  @include media-query(MEDIUM) {
    display: none;
    margin-top: 90px;
    bottom: initial;
    width: 10%;

    ol{
      background-color: white;
      height: auto;
      float: left;
      font-weight: 600;
      display: block;
      padding-left: 20px;

      li {
        margin-right: 5px;
        background: #FFF;
        width: 40px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-top: 2px solid #eaeaea;

        &:last-child{
          border-bottom: 2px solid #eaeaea;
        }

        a {
          color: $black;
          transition: color 0.5s ease;
          transition: font-size 0.5s ease;

          &:hover{
            color: $bdf-red;
            font-size: 2em;
          }
        }

        &.whatsapp {
          display: none;
        }

        &.print {
          display: block;
        }
      }
    }
  }
}
