@import '_includes/query';
@import '_includes/mixins';
@import '_includes/variables';

.social-network {
  display: none;

  @include media-query(MEDIUM) {
    display: block;
    margin-top: 90px;
    position: fixed;

    ol{
      width: 55%;
      float: left;
      list-style: none;
      font-weight: 600;
      display: block;

      li {
        margin-right: 5px;
        background: #FFF;
        width: 40px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-top: 2px solid #eaeaea;

        &:last-child{
          border-bottom: 2px solid #eaeaea;
        }
      }

      a {
        text-decoration: none;
        color: $black;
        font-size: 1.5em;
        cursor: pointer;
        transition: color 0.5s ease;
        transition: font-size 0.5s ease;

        &:hover{
          color: $bdf-red;
          font-size: 2em;
        }
      }
    }
  }
}
