extends ../layout/base

block title
  title= "Mapa do Site - Brasil de Fato"

block description
  meta(name="description" content="Mapa do site contendo todas as seções do Brasil de Fato.")
  

append content
  main.grid-3-columns
    article.institutional  
      h2.page-name Mapa do Site
      .sitemap
          section
            h3.title Notícias
            ul.list
              each val,index in {editorial:'Editorial', nacional:'Nacional', direitos_humanos:'Direitos Humanos', cultura:'Cultura', geral:'Geral', internacional:'Internacional', especiais:'Especiais', espanol:'Español'}
                li
                  a(itemprop="url", href="/" + index + "/")= val
                      
          section    
            h3.title Colunistas
            ul.list
              each val, index  in {colunistas:"Colunas"}
                li
                  a(itemprop="url", href="/" + index + "/")= val
                  
          section    
            h3.title Institucional
            ul.list
              each val, index  in {quem_somos:"Quem Somos", parceiros:"Parceiros", publicidade:"Publicidade", contato:"Contato"}
                li
                  a(itemprop="url", href="/" + index + ".html")= val
