extends ../layout/base

block title
  title= "Parceiros - Brasil de Fato"

append content
  main
    .institutional
      h2.page-name(itemprop="about")= "Parceiros"

      #partners
        a(itemprop="url" target="_blank" href="http://amigosenff.org.br/")
          img(src="/img/parceiros/aaenf.png" alt="Banner da Associação dos Amigos da Escola Nacional Florestan Fernandes")
        a(itemprop="url" target="_blank" href="http://site.adital.com.br/")
          img(src="/img/parceiros/adital.jpg" alt="Banner da Adital")      
        a(itemprop="url" target="_blank" href="http://www.albamovimientos.org/")
          img(src="/img/parceiros/alba.jpg" alt="Banner do Alba Movimentos")  
        a(itemprop="url" target="_blank" href="http://www.carosamigos.com.br/")
          img(src="/img/parceiros/carosamigos.png" alt="Banner da Caros Amigos")
        a(itemprop="url" target="_blank" href="http://www.cartamaior.com.br/")
          img(src="/img/parceiros/cartamaior.png" alt="Banner da Carta Maior")  
        a(itemprop="url" target="_blank" href="//www.conversaafiada.com.br/")
          img(src="/img/parceiros/conversaafiada.jpg" alt="Banner do Conversa Afiada")
        a(itemprop="url" target="_blank" href="http://www.revistaforum.com.br/rodrigovianna/")
          img(src="/img/parceiros/escrevinhador.png" alt="Banner do Escrevinhador")
        a(itemprop="url" target="_blank" href="//jornalistaslivres.org/")
          img(src="/img/parceiros/jornalistaslivres.jpg" alt="Banner dos Jornalistas Livres")
        a(itemprop="url" target="_blank" href="//www.baraodeitarare.org.br/")
          img(src="/img/parceiros/baraodeitarare.jpg" alt="Banner do Barão de Itararé")
        a(itemprop="url" target="_blank" href="//ninja.oximity.com")
          img(src="/img/parceiros/midianinja.jpg" alt="Banner do Mídia Ninja")
        a(itemprop="url" target="_blank" href="//operamundi.uol.com.br/")
          img(src="/img/parceiros/operamundi.jpg" alt="Banner da Opera Mundi") 
        a(itemprop="url" target="_blank" href="http://www.redebrasilatual.com.br/")
          img(src="/img/parceiros/redebrasilatual.png" alt="Banner da Rede Brasil Atual")                     
        a(itemprop="url" target="_blank" href="//www.revistaforum.com.br/")
          img(src="/img/parceiros/revistaforum.png" alt="Banner da Revista Forum")
        a(itemprop="url" target="_blank" href="//saude-popular.org")
          img(src="/img/parceiros/saudepopular.jpg" alt="Banner do Saúde Popular")  
        a(itemprop="url" target="_blank" href="//drone.tv.br/")
          img(src="/img/parceiros/tvdrone.png" alt="Banner da TV Drone")
        a(itemprop="url" target="_blank" href="//www.tvt.org.br/")
          img(src="/img/parceiros/tvt.png" alt="Banner da TVT")
        a(itemprop="url" target="_blank" href="http://www.viomundo.com.br/")
          img(src="/img/parceiros/viomundo.png" alt="Banner da Viomundo")
