extends ../layout/base

append content
  .institutional
    h2.page-name(itemprop="about")= "Parceiros"

    #partners
      a(itemprop="url" target="_blank" href="http://amigosenff.org.br/")
        img(src="/img/parceiros/AAENFF.png" alt="Banner da Associação dos Amigos da Escola Nacional Florestan Fernandes")
      a(itemprop="url" target="_blank" href="http://site.adital.com.br/")
        img(src="/img/parceiros/Adital.jpg " alt="Banner da Adital")      
      a(itemprop="url" target="_blank" href="http://www.albamovimientos.org/")
        img(src="/img/parceiros/Alba.jpg" alt="Banner do Alba Movimentos")  
      a(itemprop="url" target="_blank" href="http://www.carosamigos.com.br/")
        img(src="/img/parceiros/CarosAmigos.png" alt="Banner da Caros Amigos")
      a(itemprop="url" target="_blank" href="http://www.cartamaior.com.br/")
        img(src="/img/parceiros/carta_maior.png" alt="Banner da Carta Maior")  
      a(itemprop="url" target="_blank" href="//www.conversaafiada.com.br/")
        img(src="/img/parceiros/conversa_afiada.jpg" alt="Banner do Conversa Afiada")
      a(itemprop="url" target="_blank" href="http://desinformemonos.org.mx/")
        img(src="/img/parceiros/desinformemonos.png" alt="Banner do Desinformemonos")
      a(itemprop="url" target="_blank" href="http://www.revistaforum.com.br/rodrigovianna/")
        img(src="/img/parceiros/escrevinhador.png" alt="Banner do Escrevinhador")
      a(itemprop="url" target="_blank" href="//jornalistaslivres.org/")
        img(src="/img/parceiros/Jornalistas_Livres.jpg" alt="Banner dos Jornalistas Livres")
      a(itemprop="url" target="_blank" href="//www.baraodeitarare.org.br/")
        img(src="/img/parceiros/Logo_Barao_de_Itarare.jpg" alt="Banner do Barão de Itararé")
      a(itemprop="url" target="_blank" href="//ninja.oximity.com")
        img(src="/img/parceiros/logo_ninja.jpg" alt="Banner do Mídia Ninja")
      a(itemprop="url" target="_blank" href="//operamundi.uol.com.br/")
        img(src="/img/parceiros/opera-mundi.jpg" alt="Banner da Opera Mundi")                      
      a(itemprop="url" target="_blank" href="//www.revistaforum.com.br/")
        img(src="/img/parceiros/revista-forum.png" alt="Banner da Revista Forum")
      a(itemprop="url" target="_blank" href="//saude-popular.org")
        img(src="/img/parceiros/SaudePopular.jpg" alt="Banner do Saúde Popular")  
      a(itemprop="url" target="_blank" href="//drone.tv.br/")
        img(src="/img/parceiros/TV_Drone.png" alt="Banner da TV Drone")
      a(itemprop="url" target="_blank" href="//www.tvt.org.br/")
        img(src="/img/parceiros/tvt.png" alt="Banner da TVT")
      a(itemprop="url" target="_blank" href="http://www.viomundo.com.br/")
        img(src="/img/parceiros/Viomundo.png" alt="Banner da Viomundo")
