extends ../layout/base

append content
  .institutional
    h2.page-name(itemprop="about")= "Parceiros"

    #partners
      a(itemprop="url" target="_blank" href="//www.alainet.org/pt")
        img(src="/img/parceiros/1.gif" alt="Agência Latinoamericana de Información")
      img(src="/img/parceiros/2.gif" alt="Enlace Medios")
      a(itemprop="url" target="_blank" href="//marxismo21.org/")
        img(src="/img/parceiros/3.gif" alt="Marxismo21")
      a(itemprop="url" target="_blank" href="//operamundi.uol.com.br/")
        img(src="/img/parceiros/4.gif" alt="Opera Mundi")
      img(src="/img/parceiros/5.gif" alt="Adital")
      a(itemprop="url" target="_blank" href="//http://amigosenff.org.br/")
        img(src="/img/parceiros/6.gif" alt="Associação dos Amigos da Escola Nacional Florestan Fernandes")
      a(itemprop="url" target="_blank" href="//http://www.cimi.org.br/")
        img(src="/img/parceiros/7.gif" alt="Conselho Indigenista Missionário")
      a(itemprop="url" target="_blank" href="//www.correiocidadania.com.br")
        img(src="/img/parceiros/8.gif" alt="Correio da Cidadania")
      a(itemprop="url" target="_blank" href="//desinformemonos.org.mx/")
        img(src="/img/parceiros/9.gif" alt="Desinformemonos")
      a(itemprop="url" target="_blank" href="//www.blogdaretrato.com.br/")
        img(src="/img/parceiros/10.gif" alt="Retrato do Brasil")
      a(itemprop="url" target="_blank" href="//www.revistaforum.com.br/")
        img(src="/img/parceiros/11.gif" alt="Revista Forum")
      a(itemprop="url" target="_blank" href="//www.dialogosdosul.org.br/")
        img(src="/img/parceiros/12.jpg" alt="Revista Diálogos do Sul")
