@import '_includes/query';
@import '_includes/colors';
@import '_includes/mixins';


#opinion {
  display: flex;
  flex-direction: column;
  @include get-font(OPINION);
  @include clearfix();
  @include site-lateral-spacing();
  padding-bottom: 10px;

  .hat {
    @include columnist-hat;
  }

  @include media-query(TWO){
    max-width: 4 * $COLUMN-WIDTH;
    @include column-lateral-spacing();
  }
}

#opinion .opinion_header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

#opinion .person {
  @include person;

  max-width: 70px;
  height: 100%;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  @include media-query(TWO){
    flex-wrap: wrap;
    max-width: 200px;
  }
}

#opinion .person .name {
  display: inline-block;
  width: 100%;
  padding: 0;
  text-align: center;
}

#opinion .title{
  color: $black;
  margin-bottom: 5px;
  word-spacing: 5px;
}

#opinion .description{
  padding: 10px;
  line-height: 1.4;
  color: lighten($black-light, 15%);

  &:before{
    content: "“" ;
  }

  &:after{
    content: "”";
  }
  &:before, &:after{
    @include media-query(THREE) {
      color: $bdf-red;
      line-height: 0;
      vertical-align: -0.45em;
    }
  }

  @include media-query(MEDIUM) {
    float: right;
    width: 45%;
    margin-left: 15px;
  }
}

#opinion .content{
  max-width: 3 * $COLUMN-WIDTH;
  color: $black;
  word-spacing: 2px;
  line-height: 1.7;
}
