@import '_includes/constants';
@import '_includes/mixins';
@import '_includes/colors';

#columnists {
  max-width: 3 * $COLUMN_WIDTH;
  @include site-lateral-spacing();
  @include column-lateral-spacing(10px);
  @include get-font(COLUMNISTS);

  .page-name { 
    @include page-name();
  }

  .column + .column {
    border-top: 1px solid $content-divisor;
  }
}

#columnists .column{
  display: table;
  justify-content: flex-start;
  padding: 20px 0;

  .name {
    color: $red-base;
  }

  .person-cell {
    display: table-cell;
    min-width: 90px;
    padding-right: 10px;
    text-align: center;

    @include media-query(TWO) {
      min-width: 160px;
    }

    .person-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .profile-image {
        border-radius: 50%;
        width: 70px;
      }

      .name {
        display: none;

        @include media-query(TWO) {
          margin-top: 10px;
          display: inline-block;
        }
      }
    }
  }

  .text {
    display: table-cell;
    width: 100%;
    vertical-align: top;

    .title {
      padding-bottom: 7px;
    }

    .date {
      display: block;
      padding-bottom: 15px;
    }

    .name {
      padding-bottom: 7px;

      @include media-query(TWO) {
        display: none;
      }
    }

    .description {
      display: none;

      @include media-query(TWO) {
        display: inline-block;
      }
    }
  }
}