@import '_includes/query';
@import '_includes/colors';
@import '_includes/mixins';


#column {
  display: flex;
  flex-direction: column;
  @include get-font(COLUMN);
  @include clearfix();
  @include site-lateral-spacing();
  @include column-lateral-spacing(15px);
  padding-bottom: 10px;

  .hat {
    @include columnist-hat;
  }

  @include media-query(THREE){
    max-width: 3 * $COLUMN-WIDTH;
    @include column-lateral-spacing();
  }
}

#column .column-header {
  width: 100%;
}

#column .title{
  color: $black;
  margin-bottom: 5px;
  margin-top: 20px;
  word-spacing: 2px;
}

#column .person {
  @include person;
  height: 100%;
  padding-right: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .profile-image{
    width: 50px;

    @include media-query(TWO){
      width: 60px;
    }
  }
}

#column .person .name {
  color: $bdf-red;
  display: inline-block;
  padding: 0;
  text-align: center;
  padding-left: 20px;
}

#column .description{
  padding: 20px 10px;
  color: lighten($black-light, 15%);

  &:before{
    content: "“ " ;
  }

  &:after{
    content: "”";
  }
  &:before, &:after{
    @include media-query(THREE) {
      vertical-align: -0.45em;
    }
  }

  @include media-query(THREE) {
    padding: 20px;
    float: right;
    width: 45%;
    margin-left: 15px;
  }
}

#column .content{
  word-spacing: 2px;
  align-self: center;

  @include media-query(THREE){
    margin-top: 30px;
  }

}
