@import '_includes/query';
@import '_includes/colors';
@import '_includes/mixins';
@import '_includes/fonts';
@import '_includes/constants';

#columnists {
  width: 100%;
  max-width: 3 * $COLUMN-WIDTH;
  @include get-font(COLUMNISTS);
  @include get-font(NAME);
  @include site-lateral-spacing();
  @include column-lateral-spacing(10px);

  .page-name {
    @include page-name();
  }

  .column + .column {
    border-top: 1px solid $content-divisor;
  }
}

#columnists .column {
  display: flex;
  padding: 20px 0;
}

#columnists .person {
  @include person;
  margin-right: 20px;
  max-width: 70px;

  @include media-query(TWO){
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    justify-content: center;
  }
}

#columnists .date {
  display: block;
  padding-bottom: 15px;
}

#columnists .title {
  padding-bottom: 10px;
}

#columnists .description {
  display: none;

  @include media-query(TWO){
    display: inline-block;
  }
}

#columnists .name {
  display: none;

  @include media-query(TWO) {
    display: inline-block;
    text-align: center;
  }
}

.name_mobile {
  display: display-block;
  padding-bottom: 10px;

  @include media-query(TWO){
    display: none;
  }
}

