@import '_includes/query';
@import '_includes/variables';
@import '_includes/mixins';

@mixin get-font-size($size) {
  font-size: $size + em;

  @include media-query(MEDIUM) {
    font-size: ( $size + 0.4 ) + em;
  }
}


@include media-query-range(SMALL) {
  #breadcrumb, #other-columns, .email{
    display: none;
  }
}

#column header {
  padding-bottom: 10px;
  border-bottom: 1px solid $bdf-red;

  .hat {
    padding-bottom: 5px;
    border-bottom: 3px solid $bdf-red;
    @include get-font-size(1.3);
  }

  .person {
    width: 100%;
    padding: 10px 0;
    .profile-image {
      width: 150px;
      float: left;
      border-radius: 50%;
      box-shadow: 0 0 0 4px rgba(30, 30, 30, 0.1), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    }

    .name, .job-title{
      margin: 0;
      padding-left: 15px;
      float: left;
      width: 50%;
    }

    .name {
      font-weight: 700;
      word-spacing: 9999999px;
      line-height: 1.2;
      @include get-font-size(1.6);
      margin-bottom: 10px;
      color: $black-light;

    }

    .job-title {
      @include get-font-size(0.8);
      font-weight: 400;
      line-height: 1.6;
      color: $black-dark;
      font-style: italic;
    }
  }
}

#column .title{
  color: $black-light;
  @include get-font-size(2);
  margin-bottom: 5px;
  word-spacing: 5px;
}

#column .description{
  padding: 0 10px;
  color: lighten($black-light, 15%);
  font-style: italic;
  @include get-font-size(1.5);
  line-height: 1.3;

  &::after{
    content: " ”";
  }

  &::before{
    content: "“ " ;
  }
}

#column .content{
  @include get-font-size(1.2);
  color: $black;
  line-height: 1.3;
  font-weight: 300;
  word-spacing: 2px;
}



// Codigo Antigo ---------------- //
#column {
  padding: 10px 15px;

  @include media-query(MEDIUM) {
    padding: 60px 0 0 10%;
    width: 55%;
    float: left;
  }

  .column-title {
    font-size: 2.3em;
    line-height: 1.5em;
    @include media-query(SMALL) {
      font-size: 1.6em;
      line-height: 1.3em;
    }

  }

}


#column header {

  @include clearfix();

  .hat {
    color: $red;
    font-weight: bold;
    @include get-font-size(1.1);
    width: 100%;
    display: block;
    border-bottom: 10px solid $bdf-red;
     @include media-query(SMALL) {
      border-bottom: 4px solid $bdf-red;
     }
  }

  .title, .description {
    font-weight: lighter;
  }

  .title {
    color: $bdf-red;
    margin: 5px 0;
    line-height: 1.1em;
    font-weight: bold;
    margin-top: 3%;
    color: #992727;
    @include get-font-size(1);
    font-size: 1.1em;

    @include media-query-range(SMALL) {
      color: $black-light;
    }
  }

  .description,
  .email {
    color: $black-light;
    line-height: 1.4em;
    margin: 0;
    font-size: 1em;
    font-weight: bold;

    @include media-query-range(SMALL) {
      font-size: 1em;
      font-weight: lighter;
    }
  }

  figure {
    margin: 10px auto 5px auto;
    float: left;
    width: 15%;
    max-width: 100%;
    padding-right: 2%;
    min-width: 90px;
    img{
      width: 100%;
      padding-right: 5%;
    }

  }

  @include media-query(MEDIUM) {
    figure {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }
  }
}

#column .content{


  .cite {
    width: 40%;
    float: right;
    padding-left: 5%;
    padding-bottom: 5%;
    font-size: 1.6em;
    margin-top: 20px;
    line-height: 1.3em;
    @include media-query-range(SMALL) {
      width: 100%;
      float: none;
      font-size: 1.4em;
      margin-top: 20px;
      line-height: 1.3em;
      padding: 0 0 5% 0;
    }
  }
}


