section#last-articles
  h1 Artigos anteriores
  section
    ul
      li
        a.lead-link(title="Link para artigo", href="#")
          h2.description 21/07/2015 - O objetivo do evento é celebrar as empresas.
      li
        a.lead-link(title="Link para artigo", href="#")
          h2.description 21/07/2015 - Para premiar os vencedores da pesquisa.
      li
        a.lead-link(title="Link para artigo", href="#")
          h2.description 21/07/2015 - Conta com a presença da presidenta.
      li
        a.lead-link(title="Link para artigo", href="#")
          h2.description 21/07/2015 - O objetivo do evento é celebrar as empresas.
