section#more-information
  h1 Relacionadas
  section.news
    a.thumbnail-link(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
      img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
    a.lead-link(title="Link para notícia recente", href="//www.brasildefato.com.br")
      h2.description Após protestos, Governo se diz otimista enquanto FHC pede renúncia
  section.news
    a.thumbnail-link(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
      img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
    a.lead-link(title="Link para notícia recente", href="//www.brasildefato.com.br")
      h2.description
        span.tag VÍDEO
        = " os gritos de 'fora dilma'"
  section.news
    a.thumbnail-link(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
      img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
    a.lead-link(title="Link para notícia recente", href="//www.brasildefato.com.br")
      h2.description Quem são os manifestantes de São Paulo, Rio de Janeiro e Brasilia
  section.news
    a.thumbnail-link(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
      img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
    a.lead-link(title="Link para notícia recente", href="//www.brasildefato.com.br")
      h2.description Em manifestação anti-dilma, Moro vira héroi e Renan é vaiado nas ruas
