nav.social-network
  ol
    li(itemtype="#")
      a(href="#", itemprop="url")
        i.fa.fa-facebook.breadcrum-item(itemprop="title")
    li(itemtype="#")
      a(href="#", itemprop="url")
        i.fa.fa-twitter.breadcrum-item(itemprop="title")
    li.print(itemtype="#")
      a(href="#", itemprop="url")
        i.fa.fa-print.breadcrum-item(itemprop="title")
    li(itemtype="#")
      a(href="#", itemprop="url")
        i.fa.fa-envelope-o.breadcrum-item(itemprop="title")
    li.whatsapp(itemtype="#")
      a(href="#", itemprop="url")
        i.fa.fa-whatsapp.breadcrum-item(itemprop="title")
