@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

.archive {
  @include image-rounded(110px, 110px);
  @include get-font(LIST);

  @include media-query(TWO) {
    @include image-rounded(150px, 150px);
  }

  

  .news-item-link:last-child.divisor {
    border: 0;
  }
}

.archive .news-item {
  @include clearfix;
  display: block;


  .content.no-image {

    width: 100%;
  }

  .title {
    padding-bottom: 15px;
  }

  .description {
    padding-bottom: 15px;
  }
}
