@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

.archive {
  @include get-font(ARCHIVE);

  .page-name {
    margin-bottom: 10px;
  }
}

.archive .header_day {
  margin-right: 150px
}

.archive .list-item {

  .date {
    display: inline;
    margin: 0 50px 0 10px;
  }
}

#news-list.archive #breadcrumb {
  margin-bottom: 20px;
  padding: 0 10px;
}
