@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

.archive {
  @include image-rounded(110px, 110px);
  @include get-font(ARCHIVE);

  @include media-query(TWO) {
    @include image-rounded(150px, 150px);
  }
}

.archive .list-item {
  @include clearfix;
  display: block;
  padding-bottom: 10px;

  .date {
      display: inline;
      padding: 0 10px 0 0;
  }
}
