@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

#columnist-list {
  @include column-lateral-spacing(10px);
  @include pagination;
  @include button;
  @include get-font(COLUMNIST_LIST);
  display: block;

  .page-name {
    @include page-name;
  }

  .divisor {
    padding-bottom: 20px;
    border-bottom: 1px solid $content-divisor;
  }

  p {
    margin-bottom: 20px;
  }
}

#columnist-list .columnist-section {
  justify-content:center;

  .columnist-photo-name{
    padding-bottom: 10px;
    text-align: center;

    img {
      width: 100px;
      border-radius: 50%;
    }

    .columnist-name {
      margin-top: 10px;


    }
  }
  .description {
    text-align: center;
  }
}
