@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

#columnist-list {
  @include column-lateral-spacing(10px);
  @include pagination;
  @include button;
  @include get-font(COLUMNIST_LIST);
  display: block;

  .page-name {
    @include page-name;
    margin-bottom: 15px;
  }

  .divisor {
    padding: 20px 0;
    border-bottom: 1px solid $content-divisor;
  }

  p {
    margin-bottom: 20px;
  }
}

#columnist-list .columnist-section {
  display: table;
  justify-content: flex-start;
  padding: 10px 0;

  .columnist-photo-name{
    display: table-cell;
    min-width: 90px;
    padding-right: 10px;
    text-align: center;

    @include media-query(TWO) {
      min-width: 160px;
    }

    img {
      width: 70px;
      border-radius: 50%;
    }

    .columnist-name {
      margin-top: 10px;
      display: inline-block;

    }
  }
  .description {
    display: table-cell;
    width: 100%;
    vertical-align: top;

  }
}
