@import '_helpers/query';
@import '_helpers/colors';
@import '_helpers/mixins';
@import "_helpers/constants";


#column {
  @include clearfix();
  @include site-lateral-spacing();
  @include column-lateral-spacing(10px);
  @include page-blockquotes;
  @include get-font(COLUMN);
  padding-bottom: 10px;

  p {
    margin-bottom: $PARAGRAPH-SPACE;
  }

  .hat {
    @include page-name();
  }

  .title{
    margin: 20px 0 10px 0;
  }

  @include media-query(THREE){
    max-width: 3 * $COLUMN-WIDTH;
    @include column-lateral-spacing();
  }

  figure {
    margin: 20px 0;

    @include media-query(THREE){
      margin-top: 40px;
    }

    img{
      width: 100%;
    }

    figcaption{
      text-align: right;
      margin-top: 10px;
    }
  }

  iframe {
    width: 100%;
  }

  .column-header {
    width: 100%;
  }
}

#column .person {
  @include person;
  height: 100%;
  padding-right: 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  .profile-image{
    width: 50px;

    @include media-query(TWO){
      width: 60px;
    }
  }
}

#column .name-and-time {
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  .name {
    display: block;
  }

  time {
    padding-top: 7px;
  }
}

#column .description{
  padding-bottom: 15px;

  @include media-query(THREE) {
    float: right;
    width: 40%;
    margin-left: 20px;
    margin-top: 10px;
  }
}
