@import '_includes/mixins';
@import '_includes/fonts';
@import '_includes/colors';


#contact {
  @include get-font(CONTACT);
  width: 100%;
  max-width: 3 * $COLUMN-WIDTH;
  @include column-lateral-spacing(10px);
  @include site-lateral-spacing();

  .page-name {
    @include page-name();
    margin-bottom: 30px;
  }

  .title, .printed-news {
    margin-top: 30px;
    color: $text-color;
  }

  .printed-news {
    margin-top: 20px;
  }

  .social-media-list {
    margin: 10px 0;

    .social-media-item, p {
      margin: 5px 0;
      color: $text-color;
    }
  }

  
}