@import '_includes/query';
@import '_includes/fonts';

#bdf-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include get-font(FOOTER);

	.mobile {
		margin-top: 25px;
		height: 2.4em;		
	}

	figure {
		margin: 0 10px;
	}

	#icons {
		display: flex;
		justify-content: center;
		align-items: center;
 		margin-bottom: 20px;
    margin-top: 5px;

		.social-media {
			height: 30px;

			@include media-query(MEDIUM) {
				height: 20px;
			}
		}
	}

	#youtube {
		height: 40px;

		@include media-query(MEDIUM) {
				height: 25px;
		}
	}

	ul {
			list-style: none;
			margin: 0;
	}

	a {
		color: white;
	}

	li {
		padding: 2px 0;
	}

	.footer-items {
		@include media-query(MEDIUM) {
			display:flex;
		}
	}

	.desktop-icons {
		@include media-query(MEDIUM) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			p {
				margin-left: 10px;
			}
		}
	}
}