@import '_includes/query';
@import '_includes/fonts';
@import '_includes/colors';

$text-padding: 2px;
$social-margin: 10px;

#bdf-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include get-font(FOOTER);
	width: 100%;
	margin: 20px 0 0 0;
	padding: 20px 0;

	#container {
		
		@include media-query(MEDIUM) {
			width: 1060px;
			padding: 20px 60px 20px 60px;
			align-items: flex-start;
			margin: 0 auto;
		}
	}

	figure#bdf-logo-footer {
		margin: 0 0 10px 0;
	}

	#logo {
		height: 2.4em;
		@include media-query(MEDIUM) {
			height: 2.9em;
		}	
	}

	ul {
			list-style: none;
			margin: 0;
			padding: 0;
	}

	li {
		padding: $text-padding;
	}

	a {
		color: white;
	}

	.footer-items {
		@include media-query(MEDIUM) {
			display:flex;
		}
	}

	nav {
		display: none;
		@include media-query(MEDIUM) {
			display: inline-block;
		}
	}

	.social-block {
		p {
			display: none;
			@include media-query(MEDIUM) {
				display: inline-block;
				margin-left: $social-margin;
				padding-top: $text-padding;
			}
		}

		@include media-query(MEDIUM) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-left: 120px;
		}
	}

	#icons {
		display: flex;
		justify-content: center;
		align-items: center;
 		margin-bottom: 20px;
    margin-top: 5px;

    figure {
			margin: 0 $social-margin;
		}

		.social-media {
			height: 30px;

			@include media-query(MEDIUM) {
				height: 20px;
			}
		}

		#youtube {
		height: 40px;

			@include media-query(MEDIUM) {
					height: 25px;
			}
		}
	}
}