@import '_includes/colors';
@import '_includes/query';
@import '_includes/constants';
@import '_includes/mixins';

$lateral-margin: 10px;
$image-height: 1.6em;

.acessibility-hidden {
  font-size: 0;
}

#page-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: $header-background;
}

#page-header .banner-header {
  height: $HEADER-HEIGHT-CONTRACTED;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-query(FOUR) {
    height: $HEADER-HEIGHT-DESKTOP;
    border-bottom: 2px solid $menu-divisor;
  }
}

.menu-options{
  @include transition-left();
}

#page-header .banner-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 210px;
  background: $bdf-red url("/img/logo.svg") no-repeat;

  @include media-query(FOUR){
    height: 82.45px;
    width: 450px;
    background: $bdf-red url("/img/logo-tagline.svg") no-repeat;
  }
}

#hamburguer {
  position: absolute;
  left: 3px;
  top: 13px;
  height: $image-height;
  margin-top: 5px;
  margin-left: $lateral-margin;

  @include media-query(FOUR){
    display: none;
  }
}

#search-icon {
  position: fixed;
  right: 3px;
  top: 18px;
  height: $image-height;
  margin-right: $lateral-margin;

  @include media-query(FOUR){
    position: initial;
  }
}

#page-header .contracted {
  @include media-query(FOUR) {
    height: $HEADER-HEIGHT-CONTRACTED;
    display:flex;

    #logo-header-mobile {
      display: inline-block;
      padding-left: 50px;
    }

    #logo-header-desktop, #hamburguer {
      display: none;
    }

    #header-icons {
      width: 35px;
    }
  }
}

#page-header #header-icons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30%;

  @include media-query(FOUR) {
    width: 230px;
    justify-content: flex-end;
  }

  .social-media-icons {
    display: none;

    @include media-query(FOUR) {
      display: flex;
      align-items: center;

      img {
        height: $image-height;
        margin-right: $lateral-margin;
      }
    }
  }

  .social-media-icons.contracted {
    display: none;
  }
}
