@import '_includes/colors';
@import '_includes/query';
@import '_includes/constants';
@import '_includes/mixins';

$lateral-margin: 10px;

#page-header {
    position: fixed;
    z-index: 100;
    width: 100%;
}

#page-header {

  #header-icons {
    display: flex;
    align-items: center;
    @include media-query(THREE) {
      width: 200px;
      justify-content: flex-end;
    }
  }
  
  .social-media-icons {
    @include media-query(THREE) {
      height: 55px;
      display: flex;
      align-items: center;

      img {
        height: 1.6em;
        margin-right: $lateral-margin;
      }
    }
  } 
 
}

#page-header .banner-header {
  transition: all 0.4s ease;
  top: 0;
  background-color: $header-background;
  width: 100%;
  height: $HEADER-HEIGHT-CONTRACTED;
  display: flex;
  align-items: center;
  @include media-query(THREE) {
      height: $HEADER-HEIGHT-DESKTOP;
      flex-wrap: wrap;
      justify-content: space-around;
      border-bottom: 2px solid $menu-divisor;
  }

  .banner-elements {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    @include media-query(THREE) {
      width: 890px;
      margin: auto;
      justify-content: flex-end;
    }
  }

.menu-options{
  @include transition-left();
}

  img#hamburguer {
    margin-left: $lateral-margin;
    margin-top: 5px;
    height: 25px;
    @include media-query(THREE){
      display: none;
    }
  }

  img#search {
    height: 25px;
    margin-right: $lateral-margin;
  }

  #logo-header-desktop {
    display: none;
    @include media-query(THREE) {
      display: inline-block;
      width: 450px;
    }
  }

  #logo-header-mobile {
    height: 2.5em;
    padding: 0 10px;
    @include media-query(THREE) {
      display: none;
    }
  }



}

 #page-header .banner-header.contracted {
    @include media-query(THREE) {
      height: $HEADER-HEIGHT-CONTRACTED;
      display:flex;

      .banner-elements {
        justify-content: space-between;
        width: 100%;
      }
    }
  }
