@import '_includes/variables';


#newsletter {

  input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 2em;
    color: $black;
    top: -2.25rem;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
  }

  .styled-input {
    width: 33.3333%;
    margin: 2rem 0 0;
    position: relative;
  }

  .styled-input label {
    color: $black;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }

  .styled-input.wide { width: 100%; }

  input,
  textarea {
    padding: 1rem 1rem;
    border: 0;
    font-size: 1rem;
    background-color: $gray-medium;
    width: 95%;
  }

  input ~ span,
  textarea ~ span {
    display: block;
    width: 0;
    height: 3px;
    background: $black;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
  }

  input:focus,
  textarea:focus { outline: 0; }

  input:focus ~ span,
  textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
  }

  textarea {
    width: 100%;
    min-height: 15em;
  }
}
