@import '_helpers/mixins';
@import '_helpers/fonts';
@import '_helpers/colors';
@import '_helpers/constants';

.institutional {
  @include get-font(INSTITUTIONAL);
  min-height: 360px;

  p {
    margin-bottom: $paragraph-space;
  }

  #partners {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-align-items: center; //Old Safari
    align-items: center;
    -webkit-flex-wrap: wrap; //Old Safari
    flex-wrap: wrap;
    -webkit-justify-content: space-around; //Old Safari
    justify-content: space-around;

    img {
      max-height: 180px;
      width: 180px;
      padding: 20px 0;
    }
  }

  .page-name {
    @include page-name;
    margin-bottom: 30px;
  }

  .title {
    margin: 30px 0 20px;
    white-space: nowrap;
  }

  .underline {
    @include section-name;
    margin-bottom: 10px;
  }

  .stats {
    width: 100%;
  }

  .stats+.stats {
    margin-top: 2rem;
  }

  .list {
    margin: 15px 0 40px;
    white-space: nowrap;

    .item {
      margin: 10px 0;
    }

    .text {
      margin-left: 10px;
    }

    dd {
      word-wrap: break-word;
      white-space: initial;
    }
  }

  .sitemap {
    -webkit-justify-content: space-between; //Old Safari
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;

    @include media-query(TWO) {
      display: -webkit-flex; //Old Safari
      display: flex;
      -webkit-flex-wrap: wrap; //Old Safari
      flex-wrap: wrap;
      margin-left: 0;
    }
  }
}
