@import '_includes/mixins';
@import '_includes/fonts';
@import '_includes/colors';


.institutional {
  @include get-font(INSTITUTIONAL);
  width: 100%;
  max-width: 3 * $COLUMN-WIDTH;
  @include column-lateral-spacing(10px);
  @include site-lateral-spacing();

  .page-name {
    @include page-name();
    margin-bottom: 30px;
  }

  .title {
    margin: 20px 0;
    color: $text-color;
  }

  dl {
    .item {
      font-weight: bold;
    }
  }

  .text {
    margin-left: 10px;
  }

  .list {
    margin: 10px 0;

    .item {
      margin: 10px 0 10px 20px;
      color: $text-color;
    }
  }

  
}