@import '_includes/mixins';
@import '_includes/fonts';
@import '_includes/colors';


.institutional {
  @include get-font(INSTITUTIONAL);
  width: 100%;
  max-width: 3 * $COLUMN-WIDTH;
  @include column-lateral-spacing(10px);
  @include site-lateral-spacing();

  #partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
      max-height: 180px;
      width: 180px;
      padding: 20px 0;
    }
  }

  .page-name {
    @include page-name();
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 20px;
  }

  .title {
    margin: 30px 0 20px 0;
    color: $text-color; 
  }

  h4.title {
    @include section-name();
  }



  dl {
    .item {
      font-weight: bold;
    }

    dd {
      line-height: 1.4;
    }
  }



  .list {
    margin: 15px 0 40px 0;

    .item {
      margin: 10px 0;
      color: $text-color;
    }

    .text {
      margin-left: 10px;
    }
  }
}