@import 'reset';

@import '_includes/colors';
@import '_includes/mixins';
@import '_includes/constants';
@import '_includes/query';

* {
  font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

html {
  font-size: 16px;
}

// Reset base font sizes
h1,h2,h3,h4,h5,h6,p,ul,ol { margin-bottom: 0; }
h1 { font-size: 1.4em; }
h2 { font-size: 1.1em; }
h3, h4, h5, h6, p { font-size: 0.9em; }
a { text-decoration:  none; }
p strong { font-weight: bold; }
p em { font-style: italic; }
p s { text-decoration:line-through; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Hack to IE10
@-ms-viewport{
  width: device-width;
}


body {
  a {
    color: $link-neutral-color;
    cursor: pointer;

    &:visited {
      color: $link-neutral-color-visited;
    }

    &:hover {
      color: $link-neutral-color-hover;
    }
  }

  & > main {
    width: 100%;
    @include clearfix();
  }

}

main {
  &.open-search {
    @include site-top-spacing($HEADER-HEIGHT-CONTRACTED + $MENU-HEIGHT-DESKTOP);

    @include media-query (FOUR){
      @include site-top-spacing($HEADER-HEIGHT-DESKTOP + $MENU-HEIGHT-DESKTOP);
    }
  }

  @include site-top-spacing($HEADER-HEIGHT-CONTRACTED);

  @include media-query (FOUR){
    @include site-top-spacing($HEADER-HEIGHT-DESKTOP + $MENU-HEIGHT-DESKTOP);
  }
}
