@import 'reset';

@import '_helpers/colors';
@import '_helpers/mixins';
@import '_helpers/constants';
@import '_helpers/query';

@include get-font(MAIN);

* {
  box-sizing: border-box;
}

body {
  & > main {
    width: 100%;
    @include clearfix();

    &.open-search {
      @include site-top-spacing($HEADER-HEIGHT-CONTRACTED + $MENU-HEIGHT-DESKTOP);

      @include media-query (FOUR){
        @include site-top-spacing($HEADER-HEIGHT-DESKTOP + $MENU-HEIGHT-DESKTOP);
      }
    }

    @include site-top-spacing($HEADER-HEIGHT-CONTRACTED);

    @include media-query (FOUR){
      @include site-top-spacing($HEADER-HEIGHT-DESKTOP + $MENU-HEIGHT-DESKTOP);
    }
  }
}

.grid-3-columns {
  @include site-lateral-spacing();
  @include column-lateral-spacing(10px);

  @include media-query(TWO) {
    max-width: (3 * $COLUMN-WIDTH) + (2 * $LATERAL-PAGE-SPACE);
    @include column-lateral-spacing($LATERAL-PAGE-SPACE);
  }
}

.offscreen {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
