@import 'reset';

@import '_helpers/colors';
@import '_helpers/mixins';
@import '_helpers/constants';
@import '_helpers/query';

@include get-font(MAIN);

* {
  box-sizing: border-box;
}

body {
  & > main {
    @include clearfix;
    width: 100%;
    padding-top: 10px;

    #home.open-search {
      @include site-top-spacing($search-tool-open);

      @include media-query (FOUR) {
        margin-top: 0;
      }
    }

    @include site-top-spacing($header-height-contracted);

    @include media-query (FOUR) {
      @include site-top-spacing($header-height-desktop + $menu-height-two-lines);
    }

    @include media-query (FIVE) {
      @include site-top-spacing($header-height-desktop + $menu-height-desktop);
    }
  }
}

.grid-3-columns {
  @include site-lateral-spacing;
  @include column-lateral-spacing($lateral-page-space-mobile);

  @include media-query(TWO) {
    @include column-lateral-spacing($lateral-page-space-desktop);
    max-width: $three-columns;
  }
}

.grid-4-columns {
  @include site-lateral-spacing;
  @include column-lateral-spacing($lateral-page-space-mobile);

  @include media-query(TWO) {
    @include column-lateral-spacing($lateral-page-space-desktop);
    max-width: $four-columns + $column-width / 2;
  }
}

.grid-5-columns {
  @include column-lateral-spacing($lateral-page-space-mobile);
  @include site-lateral-spacing;
  max-width: 2 * $column-width;

  @include media-query (THREE) {
    @include column-lateral-spacing($lateral-page-space-desktop);
    max-width: $three-columns;
  }

  @include media-query(FIVE) {
    max-width: $five-columns;
  }
}

.offscreen {
  position: absolute;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); // for Internet Explorer
  clip: rect(1px, 1px, 1px, 1px);
}
