@import '_includes/query';
@import '_includes/colors';
@import '_includes/fonts';

#menu-desktop {
  display: none;

  @include media-query(THREE) {
    display: block;
  }

  ul {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      @include get-font(MENU);
      padding: 5px 18px;
      white-space: nowrap;

      a {
        color: white;
      }
    }

    li:hover {
      background-color: $menu-over;
      cursor: pointer;
      padding: 5px 18px;
    }

    li + li {
      border-left: 2px solid $menu-divisor;
    }
  }
}
