@import '_includes/variables';

@mixin transition-right(){
  -webkit-transition:  right 0.4s ease-in-out;
  -moz-transition:  right 0.4s ease-in-out;
  -ms-transition:  right 0.4s ease-in-out;
  -o-transition:  right 0.4s ease-in-out;
  transition:  right 0.4s ease-in-out;
}

#page-header .menu-options{
  width: 30px;
  right: 0;
  top: 0;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background: #FFF;
  box-shadow: -3px 0 3px 0 rgba(0,0,0,0.42);
  @include transition-right();

  .fa {
    font-size: 1.9em;
    color: $red;
  }

  &.open{
    right: 240px;
  }
}

#page-header .menu{
  right: -240px;
  width: 240px;
  top: 0;
  box-sizing: border-box;
  @include transition-right();

  &.open {
    right: 0;
  }
}

#page-header .menu{
  padding-top: 5px;
  background: white;
  padding: 0;
  min-height: 100vh;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.42);
  color: #555;
  display: table;
  float: right;
  position: fixed;
  table-layout: fixed;
}

#page-header .banner{
  height: 50px;
  background-color: rgba(136,6,6,1);

  img {
    width: auto;
    height: 50px;
  }
}

