@import '_includes/variables';
@import '_includes/query';

@mixin transition-right(){
  -webkit-transition:  right 0.4s ease-in-out;
  -moz-transition:  right 0.4s ease-in-out;
  -ms-transition:  right 0.4s ease-in-out;
  -o-transition:  right 0.4s ease-in-out;
  transition:  right 0.4s ease-in-out;
}

#page-header .menu-options{
  width: 50px;
  right: 0;
  top: 5px;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background: #FFF;
  box-shadow: -3px 0 3px 0 rgba(0,0,0,0.42);
  @include transition-right();

  .fa {
    font-size: 1.9em;
    color: $red;
  }

  &.open{
    right: 240px;
  }

  @include media-query(MEDIUM) {
    display: none;
  }
}


#page-header .menu{
  right: -240px;
  width: 240px;
  top: 0;
  box-sizing: border-box;
  @include transition-right();

  &.open {
    right: 0;
  }
}

#page-header .menu{
  padding-top: 5px;
  background: white;
  padding: 0;
  min-height: 100vh;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.42);
  color: #555;
  display: table;
  float: right;
  position: fixed;
  table-layout: fixed;

  @include media-query(MEDIUM) {
    display: block;
    float: none;
    width: 100%;
    min-height: 40px;
    height: 60px;
    margin-top: 2px;
    box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.42);
    position: inherit;
    background-color: $bdf-red;
    padding:  0 8.5%;

    ul {
      margin: 0;
      list-style: none;
      height: 100%;
      width: 50%;
      padding: 0;
      display: flex;
      justify-content: start;

      li {
        margin: auto;
        align-self: center;
      }

      a {
        text-decoration:  none;
        color: white;
        font-size: 1.3em;
        font-weight: 400;

        &.active {
          font-weight: bold;

        }
      }
    }
  }
}

#page-header .banner{
  height: 60px;
  background-color: $bdf-red;
  display: flex;

  a {
    display: flex;
  }

  img {
    width: auto;
    height: 50px;
    align-self: center;
  }

  @include media-query(MEDIUM) {
    height: 130px;
    padding-left: 9.2%;
    display: flex;
    align-self: center;
    justify-content: start;

    img {
      height: 90px;
    }
  }
}

