@import '_includes/colors';
@import '_includes/query';
@import '_includes/mixins';
@import '_includes/constants';

@mixin section-name(){
  display: block;
  color: $black-dark;
  text-transform: uppercase;
  border-bottom: 3px solid $red;
  margin-bottom: 5px;
}

@mixin picture-with-caption(){
  figure {
    margin: 0 auto;
    width: 90%;
    max-width: 460px;
    position: relative;

    @include media-query(MEDIUM) {
      width: 450px;
    }

    img {
      width: 100%;
    }
  }

  figcaption {
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-left: 20px;

  }
}

#home {
  width: 100%;
  max-width: 460px;
  margin: 80px auto 20px auto;
  display: flex;
  flex-wrap: wrap;

  @include get-font(NACIONAL);

  @include media-query (FOUR){
    flex-wrap: nowrap;
    width: 4 * $COLUMN_WIDTH;
    margin: 180px auto 0 auto;
    max-width: $DESKTOP_WIDTH_SITE;
  }

  @include media-query(FIVE) {
    width: 5 * $COLUMN_WIDTH;
  }

  a {
    color: $link;

    &:hover {
      color: $link-hover;
    }
  }

  section + section {
    margin-top: 10px;
  }
}

#home .featured {

  @include media-query(FIVE) {
    width: 4 * $COLUMN_WIDTH;
  }

  .section-name {
    @include section-name();

    @include media-query(MEDIUM) {
      display: none;
    }
  }

  article + article {
    border-top: 1px solid $gray-lighter;
    padding-top: 15px;

    @include media-query(FOUR){
      border-top: 0;
      padding-top: 0;
    }
  }

  .description{
    color: $black-dark;
    margin-top: 5px;
  }

  @include media-query(MEDIUM) {
    display: flex;
    flex-flow: row wrap;
  }

  article {
    margin-bottom: 15px;
    @include media-query(MEDIUM) {
      margin-bottom: 15px;
    }
  }
}

#home figcaption {
    position: absolute;
    color: white;
    background: rgba(19,19,19,0);
    background: -moz-linear-gradient(top, rgba(19,19,19,0) 0%, rgba(0,0,0,1) 85%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,0)), color-stop(85%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(19,19,19,0) 0%, rgba(0,0,0,1) 85%);
    background: -o-linear-gradient(top, rgba(19,19,19,0) 0%, rgba(0,0,0,1) 85%);
    background: -ms-linear-gradient(top, rgba(19,19,19,0) 0%, rgba(0,0,0,1) 85%);
    background: linear-gradient(to bottom, rgba(19,19,19,0) 0%, rgba(0,0,0,1) 85%);
    text-shadow: 1px 1px 0px #000, 0 0 0 #fff, 1px 1px 0px #000;
    border-radius: 5px;
}

#home .picture img {
  @include media-query(MEDIUM) {
    border-radius: 5px;
  }
}

/* Sets elements with two columns */
#home #featured_1, #featured_4 {
  @include media-query(FOUR) {
    width: 2 * $COLUMN_WIDTH;
    padding: 0 5px;
  }
}

/* Sets elements with one column */
#home #featured_2, #featured_3, #featured_5, #featured_6 {
  @include media-query(FOUR){
    width: $COLUMN_WIDTH;
    padding: 0 5px;
  }
}

#home .featured .featured_big_picture {
  @include picture-with-caption();

  figure {
    width: 100%;
    margin: 0 auto;
  }

  img {
    border-radius: 5px 5px 5px 5px;
  }

  .title {
    color: white;
    width: 100%;
  }

  .description{
    display: none;
  }
}

#home .featured .featured_small_picture{
  figure {
    @include background-cover-rounded($COLUMN_WIDTH, 150px);
    display: inline-block;
    @include media-query(FOUR) {
      display: block;
      width: auto;
    }
  }

  .title {
    display: inline-block;
    max-width: 280px;
    margin-left: 10px;
    position: absolute;
    @include media-query(FOUR) {
      position: relative;
      width: 100%;
      margin-left: 0;
    }
  }

  .description{
    @include media-query(FOUR) {
      display: none;
    }
  }
}

#home .featured .featured_small_picture, .featured_text{
  .title {
    @include media-query(FOUR) {
      border-left: 3px solid $gray-lighter;
      padding-left: 10px;
      margin-top: 10px;
    }
  }
}

#home .featured .featured_text_box {
  background-color: $gray-background;
  border-top: 3px solid $red;
  padding: 10px;

  .description {
    display: none;
  }
}

/* Sets order of featured elements */
#home {
  #featured_1 {
    @include media-query(FOUR){
      order: -6;
    }
  }
  #featured_2 {
    @include media-query(FOUR){
      order: -5;
    }
  }
  #featured_3 {
    @include media-query(FOUR){
      order: -3;
    }
    @include media-query(FIVE){
      order: -4;
    }
  }
  #featured_4 {
    @include media-query(FOUR){
      order: -4;
    }
    @include media-query(FIVE){
      order: -3;
    }
  }
  #featured_5 {
    @include media-query(FOUR){
      order: -2;
    }
  }
  #featured_6 {
    @include media-query(FOUR){
      order: -1;
    }
  }
}

#home .main {
  display: flex;
  flex-wrap: wrap;

  @include media-query (FOUR){
    width: 3 * $COLUMN_WIDTH;
  }
  @include media-query (FIVE){
    width: 4 * $COLUMN_WIDTH;
  }
}



#home .secondary {
  background-color: $gray-background;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  flex-flow: row wrap;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding-top: 20px;

  @include media-query(FIVE) {
    width: 4 * $COLUMN_WIDTH;
  }

  @include media-query(MEDIUM) {
    background-color: white;
    border: 0;
    padding-top: 0;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  article.article_footer {
    width: 45%;
    max-width: 250px;
    margin: 0 10px 20px 10px;

    @include media-query (FIVE){
      width: 25%;
      padding: 0 5px;
      margin: 0;
    }
  }

  article + article {
    @include media-query(MEDIUM) {
      margin-left: 10px;
    }
  }

  .hat{
    @include section-name();
    color: #6b6b6b;
  }

  img{
    border-radius: 5px;
    width: 100%;
  }

}


#home .most_read {
  width: 100%;

  @include media-query(FIVE){
    padding: 0 5px;
    width: 4 * $COLUMN_WIDTH;
  }

  .section-name {
    @include section-name();
  }

  ol {
    counter-reset: li;
    margin: 15px 0 0 34px;
  }

  ol > li {
    list-style: none;
    line-height: 1.2em;
    margin-bottom: 7px;
  }

  ol > li:before{
    content: counter(li) ".";
    counter-increment: li;
    margin: 0 10px 0 -34px;
    color: $bdf-red;
  }
}

#home .sidebar {
  align-self: flex-start;
  width: 100%;

  @include media-query(FOUR) {
    width: $COLUMN_WIDTH;
    padding: 0 5px;
  }

  section + section {
    margin-top: 20px;
  }
}

#home .sidebar .last_news {
  padding: 0 5px;

  .section-name {
    @include section-name();
  }

  ol {
    margin: 0;
    padding: 0;
  }

  ol > li {
    list-style: none;
    line-height: 1.2em;
    padding : 5px 0 5px 8px;
    border-left: 3px solid $gray-border;
    margin-top: 10px;
  }
}

#home .sidebar .columns {
  width: 100%;
  display: inline-block;

  @include media-query(MEDIUM) {
    padding-top: 0;
  }

  .section-name {
    @include section-name();
  }

  img{
    border-radius: 50%;
    max-width: 100px;
    height: 100px;
    align-self: center;

    @include media-query(MEDIUM) {
      height: 60px;
      max-width: 60px;
    }
  }

  .columnist + .columnist {
    margin-top: 20px;
  }

  .column {
    margin-left: 10px;
  }

  .title {
    color: $black-dark;
    margin-top: 5px;
  }

  date::before {
    content: 'em ';
  }

  date {
    color: #545454;
    font-size: 0.8em;
    font-weight: 700;
  }

  @include media-query(MEDIUM) {
    width: 220px;
  }

}

#home .columns .columnist {
    display: flex;
    margin-top: 20px;

    figure {
      flex: 0 0 130px;
      display: flex;
      flex-grow: 0;
      justify-content: center;
      padding-left: 10px;

      @include media-query(MEDIUM) {
        flex: 0 0 80px;
      }
    }

    .column {
      flex-grow: 1;
    }
}

#home .galleries {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media-query(FIVE){
    width: 4 * $COLUMN_WIDTH;
  }

}

#home .photo_caption {
    background-color: $gray-background;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    padding: 20px 0;
    @include picture-with-caption();

    @include media-query(FIVE){
      padding: 0 5px;
      width: 2 * $COLUMN_WIDTH;
    }

    @include media-query(MEDIUM) {
      background-color: white;
      border-top: 0;
      border-bottom: 0;
      display: inline-block;
    }
}

#home .gallery-images, .gallery-videos{
  max-width: 460px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include picture-with-caption();

  @include media-query(FIVE) {
    padding: 0 5px;
    width: 2 * $COLUMN_WIDTH;
  }

  figure {
    max-height: 285px;
    overflow: hidden;
  }

  figure, .images {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(50,50,50,1);
  }

  .section-name {
    @include section-name();
    margin-bottom: 15px;
  }
}

#home .gallery-images, .gallery-videos{
  .images {
    display: flex;
  }
}

#home .gallery-images, .gallery-videos {
  .images .slider {
    padding: 0 10px;
    height: 100px;
    overflow-y: scroll;
    display: flex;

    img {
      max-height: 70px;
      align-self: center;
      border-radius: 5px;

      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -webkit-transition-property: border;
      transition-property: border;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
      border: none;

      &:hover {
        cursor: pointer;
        border: 3px solid $gray-lighter;
      }
    }

    img + img {
      margin-left: 10px;
    }

    .active {
      border: 3px solid $gray-lighter;
    }
  }
}

#home .gallery-images, .gallery-videos {
  .images{
    &.disable-left::before {
      display: none;
    }

    &.disable-right::after {
      display: none;
    }

    &::after {
      content: ">";
      color: white;
      font-size: 2.5em;
      z-index: 1;
      font-family: 'Merriweather Sans', serif;
      padding-top: 25px;
      padding-right: 5px;
      padding-left: 5px;
      right: 18px;
      height: 75px;
      background: rgba(19,19,19,0);
      background: -moz-linear-gradient(left, rgba(19,19,19,0) 0%, rgba(0,0,0,1) 25%);
      background: -webkit-gradient(left, color-stop(0%, rgba(19,19,19,0)), color-stop(25%, rgba(0,0,0,1)));
      background: -webkit-linear-gradient(left, rgba(19,19,19,0) 0%, rgba(0,0,0,1) 25%);
      background: -o-linear-gradient(left, rgba(19,19,19,0) 0%, rgba(0,0,0,1) 25%);
      background: -ms-linear-gradient(left, rgba(19,19,19,0) 0%, rgba(0,0,0,1) 25%);
      background: linear-gradient(to right, rgba(19,19,19,0), rgba(0,0,0,1));
    }

    &::before {
      content: "<";
      color: white;
      font-size: 2.5em;
      z-index: 1;
      font-family: 'Merriweather Sans', serif;
      padding-top: 25px;
      padding-left: 5px;
      padding-right: 5px;
      left: 19px;
      height: 75px;
      background: rgba(19,19,19,0);
      background: -moz-linear-gradient(to left, rgba(19,19,19,0), rgba(0,0,0,1));
      background: -webkit-gradient(to left, rgba(19,19,19,0), rgba(0,0,0,1));
      background: -webkit-linear-gradient(to left, rgba(19,19,19,0), rgba(0,0,0,1));
      background: -o-linear-gradient(to left, rgba(19,19,19,0), rgba(0,0,0,1));
      background: -ms-linear-gradient(to left, rgba(19,19,19,0), rgba(0,0,0,1));
      background: linear-gradient(to left, rgba(19,19,19,0), rgba(0,0,0,1));
    }
  }
}
