@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

#news-list {
  max-width: 3 * $COLUMN-WIDTH;
  @include site-lateral-spacing();
  @include column-lateral-spacing(10px);
  @include image-rounded(110px, 110px);
  @include get-font(NEWS_LIST);

  @include media-query(TWO) {
    @include image-rounded(150px, 150px);
    max-width: (3 * $COLUMN-WIDTH) + (2 * $LATERAL-PAGE-SPACE);
    @include column-lateral-spacing($LATERAL-PAGE-SPACE);
  }

  .page-name{
    @include page-name();
    @include media-query(TWO) {
      margin-bottom: 15px;
    }
  }
}

#news-list .news-item{
  display: block;
  @include clearfix();

  .image {
    margin: 0 10px 5px 0;
    width: 110px;
    float: left;

    @include media-query(TWO) {
      width: 150px;
      margin: 0 20px 0 0;
    }
  }

  .content.no-image{
    width: 100%;
  }

  .title {
    padding-bottom: 15px;
  }

  .description {
    padding-bottom: 15px;
  }
}
