@import '_includes/query';
@import '_includes/mixins';
@import '_includes/constants';

#news-list {
  max-width: 2 * $COLUMN-WIDTH;
  @include site-lateral-spacing();
  @include column-lateral-spacing(10px);
  @include image-rounded(150px, 150px); 
  @include get-font(NEWS_LIST);

  @include media-query(THREE) {
    max-width: 3 * $COLUMN-WIDTH;
  }

  .section-name{
    @include section-name();
  }

  .news-item.divisor {
    padding: 10px 0;
    border-bottom: 1px solid $content-divisor;

    @include media-query(THREE) {
      border-bottom: none;
    }
  }

  .content.divisor {
    border-bottom: none;

    @include media-query(THREE) {
      padding-bottom: 10px;
      border-bottom: 1px solid $content-divisor;
    } 
  }


}

#news-list .news-item{
  display: flex;

  .image {
    margin-right: 20px;
    width: 190px;

  }

  .no-image {
    @include media-query(THREE) {
      margin-right: 20px;
      width: 200px;
    }
  }

  .content {
    width: 100%;
  }

  .title {
    padding-bottom: 5px;
  }
}

