@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

#old_post {
  @include get-font(POST);
  @include page-blockquotes;

  iframe {
    width: 100%;
  }

  .content .content p {
    margin-bottom: $paragraph-space;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

#old_post header {
  .hat {
    @include page-name;
  }

  .title {
    margin: 20px 0 10px;
  }

  .description {
    margin-bottom: 30px;
  }

  figure {
    margin-bottom: 20px;

    figcaption {
      margin-top: 10px;
      text-align: right;
    }
  }

  .details-bar {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-justify-content: space-between; //Old Safari
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

#old_post header .share-bar {
  display: block;
  @include media-query(THREE) {
    display: none;
  }
}

#old_post .text-content {
  position: relative;

  @include media-query(THREE) {
    min-width: 75%;
    padding-bottom: 65px;

    footer .share-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-bottom: 10px;
    }
  }
}


#old_post header,
#old_post footer {
  .share-title {
    margin: 0;
  }

  .share-icons-container {
    display: flex;
    display: -webkit-flex; //Old Safari
    justify-content: flex-start;
    -webkit-justify-content: flex-start; //Old Safari
  }

  .share-icon {
    width: 2.2rem;
    margin: .4rem;
    margin-left: 0;
  }

  .share-mobile {
    @include media-query(THREE) {
      display: none;
    }
  }
}


#old_post header .place-and-time,
time {
  display: block;
  padding-bottom: 10px;

  time {
    display: inline-block;
  }
}
