@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';
@import '_helpers/fonts';

#photo-caption-list {
  @include get-font(PHOTO_CAPTION_LIST);
  max-width: 2 * $COLUMN-WIDTH;
  @include site-lateral-spacing();
  padding-bottom: 20px;

  @include media-query(THREE) {
    max-width: 3 * $COLUMN-WIDTH;
    width:  3 * $COLUMN-WIDTH;
  }

  @include media-query(FOUR) {
    max-width: 4 * $COLUMN-WIDTH;
    width: 4 * $COLUMN-WIDTH;
  }

  .page-name{
    @include page-name();
    margin-bottom: $VERTICAL-SPACE;
  }
}

#photo-caption-list .image-list {
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-flex-wrap: wrap; //Old Safari
  flex-wrap: wrap;
}

#photo-caption-list .image-item {
  width: 100%;
  margin-top: $VERTICAL-SPACE;
  max-width: 2 * $COLUMN-WIDTH;

  @include media-query(THREE) {
    @include column-lateral-spacing();
    max-width: 345px;
  }

  @include media-query(FOUR) {
    max-width: 2 * $COLUMN-WIDTH;
  }
}

.charge_figure_mobile {
    @include media-query(THREE) {
      display: none;
    }
}

.charge_figure_desktop {
  display: none;

  @include media-query(THREE) {
    display: block;
  }
}

.charge_image_mobile {
 width: 100%;
 max-width: 2 * $COLUMN-WIDTH;
}

figure.charge_figure_desktop {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 300px;
  width: 100%;
}
