@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';
@import '_helpers/fonts';

#photo-caption-list {
  @include get-font(PHOTO_CAPTION_LIST);
  max-width: 2 * $COLUMN-WIDTH;
  @include site-lateral-spacing();

  @include media-query(THREE) {
    @include column-lateral-spacing();
  }

  .page-name{
    @include page-name();
    margin-bottom: $VERTICAL-SPACE;

  }

}

#photo-caption-list .image-item {
  @include picture-with-caption();
  @include image-rounded-responsive(300px);
  margin-top: $VERTICAL-SPACE;
}
