@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';
@import '_helpers/fonts';

#photo-caption-list {
  @include get-font(PHOTO_CAPTION_LIST);
  max-width: 2 * $column-width;
  @include site-lateral-spacing;
  padding-bottom: 20px;

  @include media-query(THREE) {
    max-width: 3 * $column-width;
    width:  3 * $column-width;
  }

  @include media-query(FOUR) {
    max-width: 4 * $column-width;
    width: 4 * $column-width;
  }

  .page-name {
    @include page-name;
    margin-bottom: $vertical-space;
  }
}

#photo-caption-list .image-list {
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-flex-wrap: wrap; //Old Safari
  flex-wrap: wrap;
}

#photo-caption-list .image-item {
  width: 100%;
  max-width: 2 * $column-width;
  margin-top: 2 * $vertical-space;

  @include media-query(THREE) {
    @include column-lateral-spacing(5px);
    max-width: 340px;
    margin-top: $vertical-space;
  }

  @include media-query(FOUR) {
    @include column-lateral-spacing(10px);
    max-width: 2 * $column-width;
    margin-top: 2 * $vertical-space;
  }
}

.charge-figure-mobile {
  @include media-query(THREE) {
    display: none;
  }
}

.charge-image-mobile {
  width: 100%;
  max-width: 2 * $column-width;
}

.charge-figure-desktop {
  display: none;

  @include media-query(THREE) {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 2px solid $box-border-neutral;
    border-radius: 5px;
    height: 220px;
    width: 100%;
  }

  @include media-query(FOUR) {
    height: 293px;
  }
}
