@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

#photo-caption  {
  .hat {
    margin-top: 20px;
  }

  .share-title {
    margin: 0;
  }

  .share-bar {
    margin-top: 0.4rem;
  }

  .share-icons-container {
    display: flex;
    display: -webkit-flex; //Old Safari
    justify-content: flex-start;
    -webkit-jutify-content: flex-start; //Old Safari
  }

  .share-icon {
    margin: 0.4rem;
    margin-left: 0;
    width: 2.2rem;
  }

  .share-mobile {
    @include media-query(THREE) {
      display: none;
    }
  }
}


#photo-caption {
  @include get-font(PHOTO_CAPTION);
  @include button;
  @include site-lateral-spacing();
  max-width: 2 * $COLUMN-WIDTH;
  padding-bottom: 10px;

  @include media-query(THREE) {
    max-width: 3 * $COLUMN-WIDTH;
    width:  3 * $COLUMN-WIDTH;
  }

  @include media-query(FOUR) {
    max-width: 4 * $COLUMN-WIDTH;
    width: 4 * $COLUMN-WIDTH;
  }

  .hat {
    @include page-name();
  }

  .title {
    margin: 20px 0 10px 0;
  }

  figure {
    @include media-query(THREE) {
      @include site-lateral-spacing();
    }

    .img-container {
      overflow: hidden;
      padding: 20px 0;

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }

    figcaption {
      text-align: left;
      margin-top: 10px;
    }
  }
}

#other-photo-captions {
  padding-top: 10px;

  .section-name {
    @include section-name();
  }

  .related_photo_captions {
    padding-top: $VERTICAL-SPACE;
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-flex-wrap: wrap; //Old Safari
    flex-wrap: wrap;
    -webkit-justify-content: space-around; //Old Safari
    justify-content: space-around;

    @include media-query(THREE) {
      -webkit-flex-wrap: nowrap; //Old Safari
      flex-wrap: nowrap;
    }

    .photo-caption-smaller {
      @include image-rounded-responsive(300px);
      @include column-lateral-spacing();
      max-width: 2 * $COLUMN-WIDTH;
      padding-top: $VERTICAL-SPACE;
      width: 100%;

      @include media-query(THREE) {
        @include column-lateral-spacing();
        @include image-rounded-responsive(200px);
        max-width: 345px;
      }

      @include media-query(FOUR) {
        max-width: 2 * $COLUMN-WIDTH;
      }
    }
  }
}
