@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

#post {
  @include get-font(POST);
  @include page-blockquotes;
  @include other-news;
  @include button;

  iframe {
    width: 100%;
  }

  p {
    margin-bottom: $paragraph-space;
  }
}

#post .content {
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-flex-direction: column; //Old Safari
  flex-direction: column;

  @include media-query(THREE) {
    -webkit-flex-direction: row; //Old Safari
    flex-direction: row;
  }

  .text-content {
    @include column-lateral-spacing;
    width: 100%;
  }

  .editor {
    padding-top: 21px;
  }

  img {
    width: 100%;
    height: inherit;
  }

  .ckeditor-img-caption,
  figcaption {
    text-align: right;
  }

  p + .ckeditor-img-caption {
    margin-top: -$paragraph-space;
  }
}

#post header {
  .hat {
    @include page-name;
  }

  .title {
    margin: 20px 0 10px;
  }

  .description {
    margin-bottom: 30px;
  }

  figure {
    margin-bottom: 20px;

    @include media-query(THREE) {
      @include site-lateral-spacing;
      max-width: 3 * $column-width;
    }

    img {
      width: 100%;
      height: inherit;
    }

    .img-container {
      max-height: 500px;
      overflow: hidden;
    }

    figcaption {
      text-align: right;
      margin-top: 10px;
    }
  }

  .details-bar {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-justify-content: space-between; //Old Safari
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

#post .sidebar .share-bar {
  display: none;
  @include media-query(THREE) {
    @include page-name;
    display: block;
  }
}

#post .advertising-07 {
  display: none;
  height: 150px;
  @include media-query(THREE) {
    display: block;
  }
}

#post .adsense-04-desktop {
  display: none;
  @include media-query(THREE) {
    display: block;
  }
}

#post .share-bar {
  .share-title {
    margin: 0;
  }

  .share-icons-container {
    display: flex;
    display: -webkit-flex; //Old Safari
    justify-content: flex-start;
    -webkit-justify-content: flex-start; //Old Safari
  }

  .share-icon {
    margin: .4rem;
    margin-left: 0;
    width: 2.2rem;
  }
}

#post .share-mobile {
  @include media-query(THREE) {
    display: none;
  }
}

#post .details-bar .share-bar {
  .share-icons-container {
    display: flex;
    display: -webkit-flex; //Old Safari
    justify-content: flex-end;
    -webkit-justify-content: flex-end; //Old Safari
  }
}

#post .tabloid-link-section {
  display: flex;
  display: -webkit-flex; //Old Safari
  flex-direction: column;
  -webkit-flex-direction: column; //Old Safari
  align-items: center;
  -webkit-align-items: center; //Old Safari

  @include media-query (THREE) {
    flex-direction: row;
    -webkit-flex-direction: row; //Old Safari
    align-items: flex-start;
    -webkit-align-items: flex-start; //Old Safari
  }

  border-top: 3px solid $title-underline;
  padding-top: 10px;
  margin: 32px auto 20px;

  .tabloid-link-img {
    flex-shrink: 0;
    -webkit-flex-shrink: 0; //Old Safari
    width: 220px;

    @include media-query (THREE) {
      width: 150px;
    }

    @include media-query (FOUR) {
      width: 220px;
    }
  }

  .tabloid-link-text-container {
    display: flex;
    display: -webkit-flex; //Old Safari
    flex-direction: column;
    -webkit-flex-direction: column; //Old Safari
    justify-content: center;
    -webkit-justify-content: center; //Old Safari
    align-self: center;
    -webkit-align-self: center; //Old Safari

    padding: 0 30px;
    max-width: $two-columns;
    margin-top: 5px;
    @include media-query (THREE) {
      margin-top: 0;
    }
  }

  .tabloid-link-text {
    text-align: center;
    @include media-query (THREE) {
      text-align: left;
    }
  }

  .tabloid-link-button.button {
    width: 100%;
    margin: 20px 0;

    @include media-query (THREE) {
      padding: 8px;
    }

    @include media-query (FOUR) {
      max-width: 300px;
    }
  }
}

#post .sidebar {
  padding-left: 15px;
  @include media-query(THREE) {
    min-width: $column-width + $column-width / 2;
    max-width: $column-width + $column-width / 2;
    min-height: $column-width + $column-width / 2;
  }
}

#post header .place-and-time,
time {
  padding-bottom: 10px;
  display: block;

  time {
    display: inline-block;
  }
}

#post .audio-item {
  margin-top: 5px;
  margin-bottom: $paragraph-space;

  p {
    margin: 0;
  }
}

#post .listen-audio {
  margin: 0;
}

#post .download {
  height: 100%;
  max-width: 80px;

  span {
    margin: auto;
  }

  img {
    height: 33px;
  }

  @include media-query(THREE) {
    img {
      height: 40px;
    }
  }
}

#post .progress-and-source a {
  float: right;
  color: $neutral-base;
}
