@import '_helpers/query';
@import '_helpers/colors';
@import '_helpers/mixins';
@import '_helpers/constants';


#post {
  @include get-font(POST);
  @include clearfix();
  @include site-lateral-spacing();
  @include column-lateral-spacing(10px);
  @include page-blockquotes;
  width: 100%;

  @include media-query(TWO) {
    max-width: (3 * $COLUMN-WIDTH) + (2 * $LATERAL-PAGE-SPACE);
    @include column-lateral-spacing($LATERAL-PAGE-SPACE);
  }

  iframe {
    width: 100%;
  }

  p {
    margin-bottom: $PARAGRAPH-SPACE;
  }
}

#post header {
  .hat {
    @include page-name();
  }

  .title{
    margin: 20px 0 10px 0;
  }

  .description {
    margin-bottom: 30px;
  }

  figure {
    margin-bottom: 20px;

    img{
      width: 100%;
    }

    figcaption{
      text-align: right;
      margin-top: 10px;
    }
  }

  .details-bar {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-jutify-content: space-between; //Old Safari
    justify-content: space-between;
  }


  .share-whatsapp {
    margin-bottom: 10px;

    @include media-query(THREE){
      display: none;
    }
  }

  @include media-query(MEDIUM) {
    figure {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }
  }
}

#post header .place-and-time, time {
  padding-bottom: 10px;
  display: block;

  time {
    display: inline-block;
  }
}
