@import '_helpers/query';
@import '_helpers/constants';
@import '_helpers/colors';
@import '_helpers/fonts';
@import '_helpers/mixins';

#radio {
  @include get-font(RADIO);

  .container {
    display: -webkit-flex; //Old Safari
    display: flex;
  }

  .main {
    width: 3 * $COLUMN-WIDTH;
  }

  .page-name {
    @include page-name();
  }

  .section-name {
    @include section-name();
  }

  .divisor {
    padding: 20px 0;
    border-bottom: 1px solid $content-divisor;
  }

  .title, .description, .title-featured {
    margin-bottom: $VERTICAL-SPACE;
  }
}

#featured-audio-news {
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-flex-direction: column; //Old Safari
  flex-direction: column;
  margin-bottom: $VERTICAL-SPACE;

  @include media-query(THREE){
    -webkit-flex-direction: row; //Old Safari
    flex-direction: row;
  }
}

#radio .photo {
  width: 100%;
  @include image-rounded-responsive(300px);
  margin-bottom: $VERTICAL-SPACE;

  @include media-query(THREE){
    margin: 0;
    width: $COLUMN-WIDTH + ($COLUMN-WIDTH/2);
    @include image-rounded-responsive(230px);
  }

  figure {
    width: 100%;
    height: 100%;
  }
}

#radio .info-news {
  width: 100%;

  @include media-query(THREE){
    padding-left: 15px;
    width: $COLUMN-WIDTH + ($COLUMN-WIDTH/2);
  }
}

#radio .loader {
  border: 5px solid $loader-background;
  border-top: 6px solid $loader-color;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#radio .player {
  display: none;
  width: 100%;

  .widget {
    display: none;
  }
}

#radio .controls {
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-align-items: center; //Old Safari
  align-items: center;
  width: 100%;

  .play img {
    height: 40px;
  }

  .pause {
    display: none;
    img {
      height: 40px;
    }
  }
}

#radio .progress-bar {
  width: 100%;
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-align-items: center; //Old Safari
  align-items: center;
  padding-left: $LATERAL-COLUMN-SPACE;
}

#radio .progress-and-source {
  width: 100%;
  height: 50px;
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-flex-direction: column; //Old Safari
  flex-direction: column;
  -webkit-justify-content: flex-end; //Old Safari
  justify-content: flex-end;
  padding: 0 $LATERAL-COLUMN-SPACE;

  p {
    padding-top: 5px;
    float: right;
  }

  progress {
    width: 100%;
    height: 7px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  progress::-webkit-progress-value {
    background-color: $red-base;
  }

  progress::-moz-progress-bar {
    background-color: $red-base;
  }

  progress::-webkit-progress-bar {
    background-color: $link-inverted-color-hover;
  }

  span {
    width: 33px;
    text-align: center;
  }
}

#radio .download {
  height: 52px;
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-flex-direction: column; //Old Safari
  flex-direction: column;
  padding-left: 20px;

  img {
    height: 30px;
    margin-bottom: 5px;
  }
}

#radio .sidebar {
  display: inline-block;
  width: $COLUMN-WIDTH;
  @include column-lateral-spacing();
}
