@import '_helpers/query';
@import '_helpers/constants';
@import '_helpers/colors';
@import '_helpers/fonts';
@import '_helpers/mixins';

#radio {
  @include get-font(RADIO);
  @include button;

  .page-name {
    @include page-name();
  }

  .divisor {
    padding: 20px 0;
    border-bottom: 1px solid $content-divisor;
  }

  .title {
    margin-bottom: $VERTICAL-SPACE;
  }

  .loader {
    border: 5px solid $loader-background;
    border-top: 6px solid $loader-color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto;
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  .player {
    display: none;
    width: 100%;

    .play {
      img {
        height: 40px;
      }
    }

    .pause {
      display: none;
      img {
        height: 40px;
      }
    }

    i {
      font-size: 4em;
      color: $background;
    }

    .progress-bar {
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: $LATERAL-COLUMN-SPACE;

      progress {
        width: 80%;
        height: 7px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      progress::-webkit-progress-value {
        background-color: $red-base;
      }

      progress::-moz-progress-bar {
        background-color: $red-base;
      }

      progress::-webkit-progress-bar {
        background-color: $link-inverted-color-hover;
      }

      span {
        width: 35px;
        text-align: center;
        padding: 0 $LATERAL-COLUMN-SPACE;
      }
    }

    .download {
      height: 52px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      img {
        height: 30px;
        padding-right: $LATERAL-COLUMN-SPACE;
      }
    }

    .widget {
      display: none;
    }
  }
}
