@import '_helpers/query';
@import '_helpers/constants';
@import '_helpers/fonts';
@import '_helpers/mixins';

#radioagency {
  @include button;
  @include columnist;
  @include get-font(RADIOAGENCY);
  width: 100%;

  @include media-query(FIVE) {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-justify-content: space-between; //Old Safari
    justify-content: space-between;
  }

  .divisor {
    border-bottom: 1px solid $content-divisor;
    padding: 20px 0;

    &:last-child {
      border: 0;
    }
  }

  .section-name {
    @include section-name;
    margin-bottom: 0;
    padding-top: $vertical-space;
  }

  .service + .service {
    border-top: 1px solid $box-border-neutral;
  }

  .columnist-radio + .columnist-radio {
    border-top: 1px solid $box-border-neutral;
  }

  .title,
  .description,
  .title-featured {
    margin-bottom: $vertical-space;
  }

  .button {
    width: 100%;
    padding-top: $vertical-space;
  }

  .facebook {
    padding-top: $vertical-space;
  }

  .columnist-radio {
    padding-bottom: $vertical-space;
  }
}

#featured-audio-news {
  margin-bottom: $vertical-space;

  @include media-query(THREE) {
    display: -webkit-flex; //Old Safari
    display: flex;
  }
}

#radioagency-list {
  width: 100%;

  @include media-query(FIVE) {
    max-width: 770px;
    padding-right: 40px;
  }
}

#radioagency .image {
  @include image-rounded-responsive(300px);
  width: 100%;
  margin-bottom: $vertical-space;

  @include media-query(THREE) {
    @include image-rounded-responsive(250px);
  }

  figure {
    height: 227px;
    width: 100%;

    @include media-query(TWO) {
      height: 293px;
    }

    @include media-query(THREE) {
      height: 220px;
    }

    @include media-query(FOUR) {
      height: 260px;
      max-height: 260px;
    }
  }
}

#radioagency .info-news {
  width: 100%;

  @include media-query(THREE) {
    max-width: 320px;
    padding-left: 15px;
    padding-top: 0;
  }
}

#radioagency .sidebar {
  display: inline-block;
  width: 100%;

  @include media-query(FIVE) {
    max-width: 360px;
    padding-top: $vertical-space;

    .progress-and-source {
      height: 38px;
    }

    .play img {
      height: 30px;
    }

    .pause {
      display: none;

      img {
        height: 30px;
      }
    }

    .download {
      padding-left: 10px;

      img {
        height: 28px;
      }
    }

    .title {
      margin-bottom: 0;
    }
  }
}

#radioagency .service {
  padding: 10px 0;

  .service-name {
    margin-bottom: 5px;
  }
}

#radioagency .weekly-shows .service {
  .service-name {
    color: $weekly-shows-service-color;
  }
}

#radioagency .services .service {
  .service-01 {
    color: $service-01-color;
  }

  .service-02 {
    color: $service-02-color;
  }

  .service-03 {
    color: $service-03-color;
  }

  .service-04 {
    color: $service-04-color;
  }

  .service-05 {
    color: $service-05-color;
  }

  .service-06 {
    color: $service-06-color;
  }

  .service-07 {
    color: $service-07-color;
  }

  .service-08 {
    color: $service-08-color;
  }
}

#radioagency .progress-and-source a {
  float: right;
  color: $neutral-base;
}

.services {
  display: none;

  @include media-query(FIVE) {
    display: block;
  }
}

#sidebar-mobile {
  .title {
    margin-bottom: 0;
  }

  @include media-query(FIVE) {
    display: none;
  }
}

#radioagency .article {
  margin-top: 10px;

  .title {
    margin-top: 5px;
  }
}

#radioagency .services-within-list {
  display: flex;

  .featured-service + .featured-service {
    margin-left: 10px;
  }
}

#radioagency .featured-service {
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-flex-direction: column; //Old Safari
  flex-direction: column;
  width: 100%;
  padding: 15px;
  background-color: $service-weather-color;

  .featured-service-header {
    display: -webkit-flex; //Old Safari
    display: flex;
  }

  .time-local {
    width: 100%;
    padding-left: 10px;
  }

  .service-name {
    color: $featured-service-name;
  }

  .audio-item {
    -webkit-align-self: flex-end; //Old Safari
    align-self: flex-end;
    width: 100%;
  }

  .featured-service-audio {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-flex-grow: 1; //Old Safari
    flex-grow: 1;
  }

  .weather-icon {
    height: 50px;
    width: 65px;
  }

  .interview-icon {
    height: 50px;
    width: 60px;
  }
}
