@import '_helpers/query';
@import '_helpers/constants';
@import '_helpers/fonts';
@import '_helpers/mixins';

#radio {
  @include get-font(RADIO);
  @include columnist;
  @include button;
  width: 100%;
  display: -webkit-flex; //Old Safari
  display: flex;
  -webkit-flex-direction: column; //Old Safari
  flex-direction: column;
  -webkit-align-items: center; //Old Safari
  align-items: center;

  @include media-query (FOUR){
    -webkit-flex-direction: row; //Old Safari
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start; //Old Safari
    align-items: flex-start;
  }

  .main_sidebar_enabled {
    width: 100%;

    @include media-query(FOUR) {
      max-width: 3 * $COLUMN-WIDTH;
      padding-right: 40px;
    }
  }

  .main_sidebar_disabled {
    width: 100%;

    @include media-query(FOUR) {
      width: 4 * $COLUMN-WIDTH-RADIO;
      margin: 0 auto;
      padding: 0;
    }
  }

  .page-name {
    @include page-name();
  }

  .section-name {
    @include section-name();
    padding-top: $VERTICAL-SPACE;
  }

  .divisor {
    padding: 20px 0;
    border-bottom: 1px solid $content-divisor;

    &:last-child {
      border: 0;
    }
  }

  .title, .description, .title-featured {
    margin-bottom: $VERTICAL-SPACE;
  }

  .button {
    width: 100%;
    padding-top: $VERTICAL-SPACE;
  }

  .facebook {
    padding-top: $VERTICAL-SPACE;
  }
}

#featured-audio-news {
  margin-bottom: $VERTICAL-SPACE;

  @include media-query(THREE){
    display: -webkit-flex; //Old Safari
    display: flex;
  }
}

#radio .image {
  width: 100%;
  @include image-rounded-responsive(300px);
  margin-bottom: $VERTICAL-SPACE;

  @include media-query(THREE){
    margin: 0;
    max-width: 2 * $COLUMN-WIDTH;
    @include image-rounded-responsive(230px);
  }

  figure {
    width: 100%;
    height: 100%;
  }
}

#radio .info-news {
  width: 100%;

  @include media-query(THREE){
    padding-left: 15px;
    max-width: 2 * $COLUMN-WIDTH;
  }
}

#radio .sidebar {
  width: 100%;
  display: inline-block;
  @include column-lateral-spacing();

  @include media-query(FOUR) {
    padding-top: $VERTICAL-SPACE;
    width: 2 * $COLUMN-WIDTH;

    .progress-and-source {
      height: 38px;
    }

    .play img {
      height: 30px;
    }

    .pause {
      display: none;
      img {
        height: 30px;
      }
    }

    .download {
      padding-left: 10px;

      img {
        height: 28px;
      }
    }

    .title {
      margin-bottom: 0;
    }
  }
}

#radio .service {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;

  .service-name {
    margin-bottom: 5px;
  }

  #service_01 {
    color: #845c7d;
  }

  #service_02 {
    color: #419b9b;
  }

  #service_03 {
    color: #c33b53;
  }

  #service_04 {
    color: #af61a4;
  }

  #service_05 {
    color: #d2a64c;
  }
}

#radio .progress-and-source a {
  float: right;
  color: $neutral-base;
}
