@import '_includes/colors';
@import '_includes/query';
@import '_includes/constants';
@import '_includes/mixins';

#search-tool {
  display: none;
  @include get-font(SEARCH);
  width: 100%;
  position: fixed;
  top: 65px;
  right: 0;

  &.open {
    display: block;
  }

  @include media-query(FOUR){
    position: absolute;
    width: 220px;
    right: -25px;
    top: 33px;
  }

/* SEARCH BOX */
  /* Hides search button from search box */
  .gsc-search-button {
      display: none;
  }

  /* Sets to zero search box padding */
  .gsc-search-box {
    padding: 0;
  }

  /* Hides search box border */
   .gsc-control-cse-pt_PT {
     padding: 0 10px;
     border-color: transparent;
     background-color: transparent;
   }

   /* Sets config from search box white space */
   .gsc-input {
     height: 27px;
     width: 100%;
     padding: 0;
     border-radius: 13px;
     border-color: $content-divisor;

     @include media-query(FOUR){
       border-color: white;
     }
   }

   /* Sets space to fill search box */
   #gsc-i-id1 {
     padding: 0 10px;
   }

/* SEARCH RESULTS */
   /* Adjusts results search to be responsive */
   .gsc-results-wrapper-overlay {
    width: 96%;
    height: 96%;
    top: 2%;
    left: 2%;
    padding: 25px 10px;

    @include media-query(FOUR){
       width: 76%;
       height: 86%;
       top: 7%;
       left: 12%;
       padding: 30px;
    }
   }

  /* Add a border between individual search results */
  .gs-webResult {
      border: 1px solid #eee;
      padding: 1em;
  }

  /* Hide URL of search results */
  .gsc-url-bottom {
    display: none;
  }

  /* Highlight the pagination buttons at the bottom of search results */
  .gsc-cursor-page {
      margin-top: 30px;
      font-size: 1.2em;
      padding: 4px 8px;
      border: 2px solid #ccc;
  }

  /* Adds space between image and search results */
  .gsc-table-cell-snippet-close {
    padding-left: 20px;
  }

  /* Hides google brand */
  .gcsc-branding {
    display: none;
  }

  /* Sets cursor box config */
  .gsc-cursor-box {
    border-top: 0;
    margin-top: 20px;
  }

  .gsc-cursor {
    display: flex;
    flex-wrap: wrap;
  }

  /* Hides thumbnail image for mobile layout */
  .gsc-thumbnail {
    display: none;

    @include media-query(FOUR){
      display: block;
    }
  }
}
