@import '_includes/colors';
@import '_includes/query';
@import '_includes/constants';
@import '_includes/mixins';

#search-tool {
  display: none;
  @include get-font(SEARCH);
  width: 100%;
  position: fixed;
  top: 65px;
  right: 0;

  &.open {
    display: block;
  }

  @include media-query(FOUR){
    position: absolute;
    width: 220px;
    right: -25px;
    top: 33px;
  }

  .gsc-search-button {
      display: none;
  }

  /* Sets to zero search box padding */
  .gsc-search-box {
    padding: 0;
  }

  /* Hides search box border */
   .gsc-control-cse-pt_PT {
     padding: 0;
     border-color: transparent;
     background-color: transparent;
   }

   .gsc-input {
     height: 27px;
     width: 100%;
     padding: 0;
     border-radius: 13px;
   }

   #gsc-i-id1 {
     padding: 0 10px;
   }

   .gsc-inline-block {
     min-width: 90px;
   }

  /* Add a border between individual search results */
  .gs-webResult {
      border: 1px solid #eee;
      padding: 1em;
  }

  /* Hide URL of search results */
  .gsc-url-bottom {
    display: none;
  }

  /* Highlight the pagination buttons at the bottom of search results */
  .gsc-cursor-page {
      font-size: 1.2em;
      padding: 4px 8px;
      border: 2px solid #ccc;
  }

  /* Adds space between image and search results */
  .gsc-table-cell-snippet-close {
    padding-left: 20px;
  }

  /* Hides google brand */
  .gcsc-branding {
    display: none;
  }

  /* Hides cursor box border */
  .gsc-cursor-box {
    border-top: 0;
  }
}
