@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';
@import '_helpers/colors';

@function ratio($width, $height) {
  @return percentage( $height / $width);
}

.special {
  @include get-font(SPECIAL);
  @include site-top-spacing($header-height-contracted);
  padding-top: 0;

  section {
    width: 100%;
  }

  article time, article address {
    display: none;
  }

  section#cover {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 370px;
    width: 100%;
    position: fixed;
    z-index: -1;

    @include media-query(THREE) {
      height: 450px;
    }
  }

  #cover.cover-desktop {
    display: none;
    @include media-query(THREE) {
      display: block;
    }
  }

  #cover.cover-mobile {
    @include media-query(THREE) {
      display: none;
    }
  }

  section.title {
    display: table;
    height: 370px;
    padding: 30px;

    @include media-query(THREE) {
      height: 450px;
    }

    div.description {
      display: table-cell;
      vertical-align: middle;
    }

    h1 {
      padding-bottom: 5px;
    }
  }

  .blocks {
    background-color: $special-background;
  }

  section.image.verticalSpacing + section.image.verticalSpacing  {
    padding-top: 0;
  }

  section.links.verticalSpacing + section.links.verticalSpacing  {
    padding-top: 25px;
  }

  section.subtitle + section.text {
    padding-top: 10px;
    @include media-query(THREE) {
      padding-top: 15px;
    }
  }

  section:last-of-type {
    padding-bottom: 25px;
  }
  section.image:last-of-type {
    padding-bottom: 0;
  }

  .verticalSpacing {
    padding-top: 30px;

    @include media-query(THREE) {
      padding-top: 50px;
    }
  }

  section.text, section.subtitle {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;

    @include media-query(THREE) {
      padding-left: 0;
      padding-right: 0;
      max-width: (3*$column-width);
    }

    p + p {
      padding-top: 20px;
      @include media-query(THREE){
        padding-top: 30px;
      }
    }
  }

  section.image {
    position: relative;

    img {
      display: block;
      width: 100%;
    }

    .title p {
      display: inline-block;
      padding-bottom: 3px;
      margin-bottom: 10px;
      border-bottom: 3px solid $text-color;
    }
  }

  section.multimedia {
    .container {
      max-width: (3*$column-width);
      margin: 0 auto;
    }
    .content-wrapper {
      padding-bottom: ratio(16, 9);
      position: relative;
      margin: 0 auto;
      height: 0;
      overflow: hidden;

      iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  section.quote {
    @include special-blockquotes;
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-flex-direction: column; //Old Safari
    flex-direction: column;

    background-color: $box-background;
    padding: 50px 25px;
    margin-top: 50px;

    @include media-query(THREE) {
      padding: 80px 10% 0;
    }

    .quote-info {
      width: 100%;
      margin-bottom: 10px;

      .quote-source, .quote-source-info {
        display: inline;
      }
    }
  }

  section.imageCentralized {
    img {
      width: 100%;

      @include media-query(THREE) {
        width: auto;
      }
    }

    .title p {
      display: inline-block;
      padding-bottom: 3px;
      margin-bottom: 10px;
      border-bottom: 3px solid $text-color;
    }

    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-flex-direction: column; //Old Safari
    flex-direction: column;
    -webkit-justify-content: center; //Old Safari
    justify-content: center;
    -webkit-align-items: center; //Old Safari
    align-items: center;
  }

  section.links {
    @include column-lateral-spacing;
    margin: 0 auto;
    position: relative;
    background-color: $special-background;
    max-width: ((4 * $column-width) + (4 * $lateral-page-space-desktop));

    .links-container {
      display: -webkit-flex; //Old Safari
      display: flex;
      -webkit-flex-direction: row; //Old Safari
      flex-direction: row;
      -webkit-justify-content: space-around; //Old Safari
      justify-content: space-around;
      -webkit-flex-wrap: wrap; //Old Safari
      flex-wrap: wrap;
      padding: 25px 0 0;
    }

    .link {
      padding: 0 5px;
      max-width: (2 * $column-width);
      width: 100%;

      @include image-rounded-responsive(300px);
    }

    .link-figure-title {
      padding: 10px 0 0;
    }

    .links-container-navigation {
      -webkit-flex-wrap: nowrap; //Old Safari
      flex-wrap: nowrap;
    }

    .link-navigation {
      @include image-rounded-responsive(75px);

      @include media-query(THREE) {
        @include image-rounded-responsive(150px);
      }
    }

    .link-navigation-title {
      padding-bottom: 5px;
      text-align: center;
    }

    .special-link-mobile {
        @include media-query(FOUR) {
          display: none;
        }
    }

    .special-link-desktop {
      display: none;

      @include media-query(FOUR) {
        display: block;
      }
    }

    .special-link-mobile {
      width: 100%;
      max-width: 2 * $column-width;
    }

    figure.special-link-desktop {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      border: 2px solid $box-border-neutral;
      border-radius: 5px;
      height: 300px;
      width: 100%;
    }
  }

  .share-special-top {
    position: fixed;
    bottom: -60px;
    @include media-query(THREE) {
      top: -100px;
      bottom: auto;
    }
  }

  .share-special-middle {
    position: fixed;
    bottom: 0;
    @include media-query(THREE) {
      top: 130px;
      bottom: auto;
    }
  }

  .share-special-bottom {
    position: relative;
    @include media-query(THREE) {
      position: fixed;
    }
  }

  #share-special {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-flex-direction: row; //Old Safari
    flex-direction: row;
    -webkit-flex-wrap: nowrap; //Old Safari
    flex-wrap: nowrap;
    justify-content: center;
    -webkit-justify-content: center; //Old Safari

    width: 100%;
    padding: 10px 0;
    background-color: $special-background;
    z-index: 4;

    -webkit-transition: bottom 1s; //Old Safari
    transition: bottom 1s;

    .share-icon {
      width: 38px;
      margin: 0 8px;
    }

    @include media-query(THREE) {
      -webkit-flex-direction: column; //Old Safari
      flex-direction: column;
      -webkit-flex-wrap: wrap; //Old Safari
      flex-wrap: wrap;

      width: 45px;
      margin-left: 2%;
      background-color: rgba(0,0,0,0);
      z-index: 2;

      -webkit-transition: top 1s; //Old Safari
      transition: top 1s;

      .share-icon {
        width: 100%;
        margin: 8% 0;
      }

      .share-mobile {
        display: none;
      }
    }

    @include media-query(THREE) {
      width: 55px;
      margin-left: 32px;
    }
  }
}
