@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';
@import '_helpers/colors';

@function ratio($width, $height) {
  @return percentage($height / $width);
}

.special {
  @include get-font(SPECIAL);
  @include site-top-spacing($header-height-contracted);
  padding-top: 0;

  section {
    width: 100%;
  }

  article time,
  article address {
    display: none;
  }

  .cover-credits {
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
    background-color: $special-background;
  }

  #cover {
    position: fixed;
    z-index: -1;
    height: 370px;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-query(THREE) {
      height: 450px;
    }
  }

  #cover.cover-desktop {
    display: none;
    @include media-query(THREE) {
      display: block;
    }
  }

  #cover.cover-mobile {
    @include media-query(THREE) {
      display: none;
    }
  }

  .title {
    display: table;
    height: 370px;
    padding: 30px;

    @include media-query(THREE) {
      height: 450px;
    }

    .description-container {
      display: table-cell;
      vertical-align: middle;
    }

    h1 {
      padding-bottom: 5px;
    }
  }

  .blocks {
    background-color: $special-background;
  }

  .image.vertical-spacing + .image.vertical-spacing  {
    padding-top: 0;
  }

  .links.vertical-spacing + .links.vertical-spacing  {
    padding-top: 25px;
  }

  .subtitle + .text {
    padding-top: 10px;

    @include media-query(THREE) {
      padding-top: 15px;
    }
  }

  section:last-of-type {
    padding-bottom: 25px;
  }

  .image:last-of-type {
    padding-bottom: 0;
  }

  .vertical-spacing {
    padding-top: 30px;

    @include media-query(THREE) {
      padding-top: 50px;
    }
  }

  .text,
  .subtitle {
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    word-wrap: break-word;

    @include media-query(THREE) {
      padding-left: 0;
      padding-right: 0;
      max-width: (3 * $column-width);
    }

    p + p {
      padding-top: 20px;

      @include media-query(THREE) {
        padding-top: 30px;
      }
    }
  }

  .image {
    position: relative;

    img {
      display: block;
      width: 100%;
    }

    .image-title p {
      display: inline-block;
      border-bottom: 3px solid $text-color;
      margin-bottom: 10px;
      padding: 0 10px 3px;
    }
  }

  .multimedia {
    .container {
      max-width: (3 * $column-width);
      margin: 0 auto;
    }

    .content-wrapper {
      position: relative;
      height: 0;
      margin: 0 auto;
      padding-bottom: ratio(16, 9);
      overflow: hidden;

      iframe {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  .quote {
    @include special-blockquotes;
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-flex-direction: column; //Old Safari
    flex-direction: column;
    margin-top: 50px;
    padding: 50px 25px;
    background-color: $box-background;

    @include media-query(THREE) {
      padding: 80px 10% 0;
    }

    .quote-info {
      width: 100%;
      margin-bottom: 10px;

      .quote-source,
      .quote-source-info {
        display: inline;
      }
    }
  }

  .image-centralized {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-align-items: center; //Old Safari
    align-items: center;
    -webkit-flex-direction: column; //Old Safari
    flex-direction: column;
    -webkit-justify-content: center; //Old Safari
    justify-content: center;

    img {
      width: 100%;

      @include media-query(THREE) {
        width: auto;
      }
    }

    .image-title p {
      display: inline-block;
      border-bottom: 3px solid $text-color;
      margin-bottom: 10px;
      padding: 0 10px 3px;
    }
  }

  .links {
    @include column-lateral-spacing;
    position: relative;
    max-width: ((4 * $column-width) + (4 * $lateral-page-space-desktop));
    margin: 0 auto;
    background-color: $special-background;

    .links-container {
      display: -webkit-flex; //Old Safari
      display: flex;
      -webkit-flex-direction: row; //Old Safari
      flex-direction: row;
      -webkit-flex-wrap: wrap; //Old Safari
      flex-wrap: wrap;
      -webkit-justify-content: space-around; //Old Safari
      justify-content: space-around;
      padding: 25px 0 0;
    }

    .link {
      @include image-rounded-responsive(300px);
      max-width: (2 * $column-width);
      width: 100%;
      padding: 0 5px;
    }

    .link + .link {
      padding-top: 25px;

      @include media-query(FOUR) {
        padding-top: 0;
      }
    }

    .link-figure-title {
      padding: 10px 0 0;
    }

    .links-container-navigation {
      -webkit-flex-wrap: nowrap; //Old Safari
      flex-wrap: nowrap;
    }

    .link-navigation {
      @include image-rounded-responsive(75px);

      @include media-query(THREE) {
        @include image-rounded-responsive(150px);
      }
    }

    .link-navigation-title {
      padding-bottom: 5px;
      text-align: center;
    }

    .special-link-mobile {
      max-width: 2 * $column-width;
      width: 100%;

      @include media-query(FOUR) {
        display: none;
      }
    }

    .special-link-desktop {
      display: none;

      @include media-query(FOUR) {
        display: block;
        height: 300px;
        width: 100%;
        border: 2px solid $special-background;
        border-radius: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .share-special-top {
    position: fixed;
    bottom: -60px;

    @include media-query(THREE) {
      bottom: auto;
      top: -100px;
    }
  }

  .share-special-middle {
    position: fixed;
    bottom: 0;

    @include media-query(THREE) {
      bottom: auto;
      top: 130px;
    }
  }

  .share-special-bottom {
    position: relative;

    @include media-query(THREE) {
      position: fixed;
    }
  }

  #share-special {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-flex-direction: row; //Old Safari
    flex-direction: row;
    -webkit-flex-wrap: nowrap; //Old Safari
    flex-wrap: nowrap;
    justify-content: center;
    -webkit-justify-content: center; //Old Safari

    z-index: 4;
    width: 100%;
    padding: 10px 0;
    background-color: $special-background;
    -webkit-transition: bottom 1s; //Old Safari
    transition: bottom 1s;

    .share-icon {
      width: 38px;
      margin: 0 8px;
    }

    @include media-query(THREE) {
      -webkit-flex-direction: column; //Old Safari
      flex-direction: column;
      -webkit-flex-wrap: wrap; //Old Safari
      flex-wrap: wrap;

      z-index: 2;
      width: 45px;
      margin-left: 2%;
      background-color: $special-share-background;
      -webkit-transition: top 1s; //Old Safari
      transition: top 1s;

      .share-icon {
        width: 100%;
        margin: 8% 0;
      }

      .share-mobile {
        display: none;
      }
    }

    @include media-query(THREE) {
      width: 55px;
      margin-left: 32px;
    }
  }
}
