@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

main.special {
  @include site-top-spacing($HEADER-HEIGHT-CONTRACTED);
  padding-top: 0;

  section {
    width: 100%;
    background-color: white;
  }

  section.cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 370px;
    width: 100%;
    position: fixed;
    z-index: -1;

    @include media-query(TWO) {
      height: 450px;
    }
  }

  section.title {
    background-color: transparent;
    text-align: center;
    height: 370px;
    padding: 30px;
    color: #ffffff;

    display: table;
    text-align: center;

    @include media-query(THREE) {
      height: 450px;
      padding: 122px;
    }

    div {
      display: table-cell;
      vertical-align: middle;
    }

    h1 {
      font-family: $family-serif;
      font-size: 22px;
      font-weight: 900;
      line-height: 1.36;
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.9);
      margin-bottom: 10px;

      @include media-query(THREE){
        font-size: 30px;
      }
    }

    p {
      font-family: $family-sans;
      font-size: 16px;
      font-style: italic;
      line-height: 20px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);

      @include media-query(THREE){
        font-size: 18px;
      }
    }
  }
}
