@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

#tabloid {
  max-width: 3 * $COLUMN-WIDTH;
  @include site-lateral-spacing();
  @include column-lateral-spacing(10px);
  @include get-font(TABLOID);
  @include button;

  @include media-query(TWO) {
    max-width: (3 * $COLUMN-WIDTH) + (2 * $LATERAL-PAGE-SPACE);
    @include column-lateral-spacing($LATERAL-PAGE-SPACE);
  }

  h2.title {
    margin-top: 20px;
  }

  img {
    width: 100%;

    @include media-query(TWO){
      width: 80%;
    }
  }

  .list time {
    display: none;
  }

  .issuu, .cover {
    margin-bottom: 37px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .button {
    width: 240px;
  }

  p.tabloid-news {
    margin-bottom: 5px;
  }
}
