@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

#tabloid {
  @include button;
  @include get-font(TABLOID);

  p {
    margin-bottom: $paragraph-space;
  }

  h1 {
    @include page-name;
  }

  .issuu {
    display: -webkit-flex; //Old Safari
    display: flex;
    -webkit-flex-direction: column;  //Old Safari
    flex-direction: column;
    margin-bottom: 37px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include media-query(TWO) {
      width: 80%;
    }
  }

  .button {
    width: 240px;
  }

  .body-content {
    padding: 20px 0;
  }

  .section-name {
    @include section-name;
  }
}
