@import '_helpers/query';
@import '_helpers/mixins';
@import '_helpers/constants';

#tabloid {
  max-width: 3 * $COLUMN-WIDTH;
  @include site-lateral-spacing();
  @include column-lateral-spacing(10px);
  @include get-font(TABLOID);
  @include button;

  @include media-query(TWO) {
    max-width: (3 * $COLUMN-WIDTH) + (2 * $LATERAL-PAGE-SPACE);
    @include column-lateral-spacing($LATERAL-PAGE-SPACE);
  }

  img{
    width: 100%;
  }

  .list time {
    display: none;
  }

  .issuu {
    margin-bottom: 37px;
  }

  .button {
    width: 240px;
  }

  p.tabloid-news {
    margin-bottom: 5px;
  }
}
