#ad
  script(src='http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=rsb&c=28&pli=17087026&PluID=0&w=720&h=95&ord=[timestamp]&ucm=true')
    noscript
        a(href='http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=brd&FlightID=17087026&Page=&PluID=0&Pos=1270446152', target='_blank')
          img(src='http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=bsr&FlightID=17087026&Page=&PluID=0&Pos=1270446152', border='0', width='720', height='95')
