section.most-read(class="spacing")
  meta(itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending")
  h2.section-name Mais lidas
  if page.most_read
    ol
      each post in page.most_read
        li
          a.title(itemprop="url", href=post.path)=post.title
          meta(itemprop="datePublished" content=post.date)