mixin facebook-widget(url)
  .module-facebook(class="spacing")
    .fb-page(data-href='https://'.concat(url), data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
      .fb-xfbml-parse-ignore
        blockquote(cite='https://'.concat(url))
          a(href='https://'.concat(url))
