.module-facebook(class="spacing")
  .fb-page(data-href='https://www.facebook.com/brasildefato/', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
    .fb-xfbml-parse-ignore
      blockquote(cite='https://www.facebook.com/brasildefato/')
        a(href='https://www.facebook.com/brasildefato/')