@import '_includes/query';
@import '_includes/variables';
@import '_includes/mixins';

#last-articles {
  @include list-news-on-mobile();

  width: 90%;
  padding: 10px 15px;

  h2 {
    color: $gray;
  }

  justify-content: flex-start;

  ul {
    list-style: none;
    padding-left: 0;
  }

  .lead-link {
    width: 60%;
    align-self: flex-start;
    .description {
      color: $black;
      margin-top: 5px;

      @include get-font(LAST_ARTICLES_DESCRIPTION);
    }
  }

  .more-articles {
    width: 100%;
    text-align: right;
    display: block;
    margin-top: 50px;

    @include get-font(LINK_MORE_LAST_ARTICLES);
  }



  @include media-query(MEDIUM) {
    clear: both;
    margin-bottom: -40px;
    width: 55%;
    padding-top: 40px;
    margin-left: 8.7%;
  }

  h1 {
    @include media-query(MEDIUM) {
      @include get-font(LAST_ARTICLES_HEADLINE);
    }
  }
}




