@import '_includes/query';
@import '_includes/colors';
@import '_includes/mixins';
@import '_includes/fonts';
@import '_includes/constants';

#columnists {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2 * $COLUMN-WIDTH;
  padding: 0 10px;
  @include get-font(COLUMNISTS);
  @include get-font(NAME);
  @include margin-site($HEADER-HEIGHT-CONTRACTED);

  @include media-query(TWO){
    max-width: 5 * $COLUMN-WIDTH;
    @include lateral-spacing($LATERAL-PAGE-SPACE);
  }

  @include media-query(THREE) {
    @include margin-site($HEADER-HEIGHT-DESKTOP + $MENU-HEIGHT-DESKTOP);
  }
}

#columnists .hat {
  border-top: 3px solid $title-underline;
  padding-top: 8px;
}

#columnists .opinion + .opinion {
  border-top: 1px solid $box-background;
}

#columnists .opinion {
  display: flex;
  align-items: flex-start;
  height: 100%;
  padding: 10px 10px;

  @include media-query(TWO){
    padding: 20px 10px;
  }

  a {
    text-decoration: none;
    color: $black-light;
  }
}

#columnists .person {
  @include person;
  max-width: 70px;
  height: 100%;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  @include media-query(TWO){
    flex-wrap: wrap;
    max-width: 200px;

  }
}

#columnists .date-published {
  padding-top: 5px;
}

#columnists .title {
  margin-top: 5px;
  display: inline-block;
}

#columnists .description {
  display: none;
  padding-top: 20px;

  @include media-query(TWO){
    display: inline-block;
  }
}

#columnists .name {
  display: none;

  @include media-query(TWO) {
    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.name_mobile {
  display: display-block;

  @include media-query(TWO){
    display: none;
  }
}

#columnists .text{
  display: flex;
  flex-direction: column;
  height: 100%;

  @include media-query(TWO){
    padding-top: 20px;
  }
}
