@import '_includes/query';
@import '_includes/colors';
@import '_includes/mixins';

#opinions {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2 * $COLUMN-WIDTH;
  padding: 0 10px;
  @include get-font(OPINIONS);
  @include margin-site($HEADER-HEIGHT-CONTRACTED);

  @include media-query(THREE) {
    width: 100%;
    max-width: 3 * $COLUMN_WIDTH;
    margin: 180px auto 0 auto;
  }

  @include media-query(FOUR) {
    max-width: 4 * $COLUMN_WIDTH;
  }

  section + section {
    padding-left: 20px;
  }
}

#opinions .hat {
  border-top: 3px solid $bdf-red;
  padding-top: 8px;
}

#opinions .opinion + .opinion {
  border-top: 1px solid $box-background;
}

#opinions .opinion {
  display: flex;
  align-items: flex-start;
  height: 100%;
  padding: 10px 10px;

  @include media-query(TWO){
    padding: 20px 10px;
  }

  a {
    text-decoration: none;
    color: $black-light;
  }

  .person {
    @include person;
    width: 70px;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;

    @include media-query(TWO){
      display: flex;
      width: $COLUMN_WIDTH;
      flex-wrap: wrap;
    }

    .name {
      color: $bdf-red;
      margin-top: 10px;
      padding: 0;
      text-align: center;
      width: 100%;
      min-width: 100px;
      display: none;

      @include media-query(TWO) {
        min-width: 150px;
        display: inline-block;
      }

      @include media-query(THREE){
        min-width: 200px;
      }
    }

    .profile-image {
      width: 70px;

      @include media-query(TWO){
        width: 90px;
      }
    }
  }

  .date-published {
    padding-top: 5px;
    &::before{
      content: ' Publicado em ';
    }
    font-size: 0.9em;
  }

  .title {
    margin-top: 5px;
    display: inline-block;
  }

  .job-title {
    display: none;
    padding-top: 20px;

    @include media-query(TWO){
      display: inline-block;
    }
  }
}

#opinions .name-mobile {
  display: display-block;
  color: $bdf-red;
  margin-top: 10px;
  padding: 0;
  text-align: left;
  width: 100%;
  min-width: 100px;
  line-height: 1.2em;

  @include media-query(TWO){
    display: none;
  }
}

#opinions .text{
  display: flex;
  flex-direction: column;
  height: 100%;

  @include media-query(TWO){
    padding-top: 20px;
  }
}
