@import '_includes/query';
@import '_includes/variables';
@import '_includes/mixins';



#opinion {
  padding: 10px 15px;
  display: inline-block;

  @include media-query(MEDIUM) {
    padding: 15px 0 0 10%;
    float: left;
    width: 60%;
  }
}

#opinion header {
  @include clearfix();
  padding-bottom: 10px;
  border-bottom: 1px solid $bdf-red;


  .hat {
    padding-bottom: 8px;
    border-bottom: 3px solid $bdf-red;
    @include get-font-size(1.3);
    width: 100%;
    display: block;
    @include media-query(MEDIUM) {
      font-weight: bold;
    }
  }

  .person {
    @include person;
  }

  @include media-query(MEDIUM) {
    .hat{
      color: $bdf-red;
      border-bottom-width: 8px;
    }
    .person{
      .name{
        color: $bdf-red;
        word-spacing: initial;
      }
    }
  }
}

#opinion .title{
  color: $black-light;
  @include get-font-size(2);
  margin-bottom: 5px;
  word-spacing: 5px;
}

#opinion .description{
  padding: 0 10px;
  color: lighten($black-light, 15%);
  font-style: italic;
  @include get-font-size(1.5);
  line-height: 1.3;

  &:before{
    content: "“ " ;
  }

  &:after{
    content: "”";
  }
  &:before, &:after{
    @include media-query(MEDIUM) {
      @include get-font-size(2.5); 
      line-height: 0; 
      vertical-align: -0.45em;
    }
  }
 
  @include media-query(MEDIUM) {
    float: right;
    width: 45%;
    margin-left: 15px;
  }
}

#opinion .content{
  @include get-font-size(1);
  color: $black;
  line-height: 1.3;
  font-weight: 300;
  word-spacing: 2px;
}








