@import '_includes/query';
@import '_includes/colors';
@import '_includes/mixins';

#opinions {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2 * $COLUMN-WIDTH;
  padding: 0 10px;
  @include get-font(OPINIONS);
  @include get-font(NAME);
  @include margin-site($HEADER-HEIGHT-CONTRACTED);

  @include media-query(THREE) {
    width: 100%;
    max-width: 85%;
    margin: 180px auto 0 auto;
  }

  section + section {
    padding-left: 20px;
  }
}

#opinions .hat {
  border-top: 3px solid $bdf-red;
  padding-top: 8px;
}

#opinions .opinion + .opinion {
  border-top: 1px solid $box-background;
}

#opinions .opinion {
  display: flex;
  align-items: flex-start;
  height: 100%;
  padding: 10px 10px;

  @include media-query(TWO){
    padding: 20px 10px;
  }

  a {
    text-decoration: none;
    color: $black-light;
  }
}

#opinions .person {
  @include person;
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  @include media-query(TWO){
    flex-wrap: wrap;
    max-width: 200px;
    width: 35%;
  }
}


#opinions .date-published {
  padding-top: 5px;

  &::before{
    content: ' Publicado em ';
  }
}

#opinions .title {
  margin-top: 5px;
  display: inline-block;
}

#opinions .description {
  display: none;
  padding-top: 20px;

  @include media-query(TWO){
    display: inline-block;
  }
}

#opinions .name {
  display: none;

  @include media-query(TWO) {
    display: inline-block;
    padding: 0;
    text-align: center;
  }
}

.name_mobile {
  display: display-block;

  @include media-query(TWO){
    display: none;
  }
}

#opinions .text{
  display: flex;
  flex-direction: column;
  height: 100%;

  @include media-query(TWO){
    padding-top: 20px;
  }
}
