@import '_includes/query';
@import '_includes/colors';
@import '_includes/mixins';


#opinion {
  padding: 10px 15px;
  display: inline-block;
  @include get-font(OPINION);

  @include media-query(MEDIUM) {
    padding: 15px 0 0 10%;
    float: left;
    width: 60%;
  }
}

#opinion header {
  @include clearfix();
  padding-bottom: 10px;
  border-bottom: 1px solid $bdf-red;


  .hat {
    color: $bdf-red;
    @include columnist-hat;
  }

  .person {
    @include person;
  }

  @include media-query(MEDIUM) {
    .hat{
      border-bottom-width: 8px;
    }
    .person{
      .name{
        color: $bdf-red;
        word-spacing: initial;
      }
    }
  }
  @include media-query(LARGE) {
    .person .name {
      width: 60%;
    }
  }
}

#opinion .title{
  color: $black;
  margin-bottom: 5px;
  word-spacing: 5px;
}

#opinion .description{
  padding: 0 10px;
  line-height: 1.4;
  color: lighten($black-light, 15%);

  &:before{
    content: "“ " ;
  }

  &:after{
    content: "”";
  }
  &:before, &:after{
    @include media-query(MEDIUM) {
      line-height: 0;
      vertical-align: -0.45em;
    }
  }

  @include media-query(MEDIUM) {
    float: right;
    width: 45%;
    margin-left: 15px;
  }
}

#opinion .content{
  color: $black;
  word-spacing: 2px;
  line-height: 1.7;
}








