@import '_includes/query';
@import '_includes/variables';
@import '_includes/mixins';

@mixin get-font-size($size) {
  font-size: $size + em;

  @include media-query(MEDIUM) {
    font-size: ( $size + 0.4 ) + em;
  }
}




#opinion {
  padding: 10px 15px;
  display: inline-block;  

  @include media-query(MEDIUM) {
    padding: 60px 0 0 10%; 
    float: left;
    width: 50%;
  }
}

#opinion header {
  @include clearfix();
  padding-bottom: 10px;
  border-bottom: 1px solid $bdf-red;


  .hat {
    padding-bottom: 5px;
    border-bottom: 3px solid $bdf-red;
    @include get-font-size(1.3);
    width: 100%;
    display: block;
  }

  .person {
    width: 100%;
    padding: 10px 0;
    .profile-image {
      width: 150px;
      float: left;
      border-radius: 50%;
      box-shadow: 0 0 0 4px rgba(30, 30, 30, 0.1), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    }

    .name, .job-title{
      margin: 0;
      padding-left: 15px;
      float: left;
      width: 50%;
    }

    .name {
      font-weight: 700;
      word-spacing: 9999999px;
      line-height: 1.2;
      @include get-font-size(1.6);
      margin-bottom: 10px;
      color: $black-light;

    }

    .job-title {
      @include get-font-size(0.8);
      font-weight: 400;
      line-height: 1.6;
      color: $black-dark;
      font-style: italic;
    }
  }

  @include media-query(MEDIUM) {
    .hat{
      color: $bdf-red;
      border-bottom-width: 8px; 
    }
    .person{
      .name{
        color: $bdf-red;
        word-spacing: initial;
      }
    }
  }
}

#opinion .title{
  color: $black-light;
  @include get-font-size(2);
  margin-bottom: 5px;
  word-spacing: 5px;
}

#opinion .description{
  padding: 0 10px;
  color: lighten($black-light, 15%);
  font-style: italic;
  @include get-font-size(1.5);
  line-height: 1.3;

  &::after{
    content: " ”";
  }

  &::before{
    content: "“ " ;
  }
}

#opinion .content{
  @include get-font-size(1.2);
  color: $black;
  line-height: 1.3;
  font-weight: 300;
  word-spacing: 2px;
}








